block scripts
    script(src='/components/jquery/dist/jquery.min.js')
    script(src='/components/popper.js/dist/umd/popper.min.js')
    script(src='/components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/components/angular/angular.min.js')
    script(src="/components/angular-animate/angular-animate.min.js")
    script(src='/components/alertifyjs/dist/js/ngAlertify.js')
    script(src="/components/sweetalert2/dist/sweetalert2.all.min.js")
    script(src="/components/socket.io-client/dist/socket.io.js")
    script(src="/components/angular-bootstrap/dist/ui-bootstrap-tpls.js")
    script(src="/components/angular-translate/angular-translate.min.js")
    script(src="/components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js")
    script(src="/components/angular-translate-storage-local/angular-translate-storage-local.min.js")
    script(src="/components/angular-translate-storage-cookie/angular-translate-storage-cookie.min.js")
    script(src="/components/angular-translate-handler-log/angular-translate-handler-log.min.js")
    script(src="/components/angular-cookies/angular-cookies.min.js")
    //script(src="/components/fontawesome-free-5.0.6/svg-with-js/js/fontawesome-all.min.js")
    //script(src="/components/fontawesome-free-5.0.6/svg-with-js/js/fa-v4-shims.min.js")

block css
    link(rel='stylesheet',href='/components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet',href='/stylesheets/style.css')
    link(href="/components/fontawesome-free-5.0.6/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet")
    link(rel='stylesheet' href='/components/angular-bootstrap/dist/ui-bootstrap-csp.css')