footer.footer(style="text-align:center;")
    .row
        .col-6.footer-text(style="margin-top:0.1rem;text-align:left;")
                i.far.fa-copyright(aria-hidden='true')
                | &nbsp;2016-2019 RoboCup Junior Japan - Rescue Technical Committee&nbsp;-&nbsp;
                i.fas.fa-code-branch(aria-hidden="true")
                | &nbsp; v19.6.1
        .col-6(style="text-align:right;font-size:1.5rem;")
            i.fas.fa-language(aria-hidden='true' onclick="location.href='/locales'" ng-cloak) &nbsp;{{'language_name' | translate}}&nbsp;&nbsp;
