footer.footer(style="text-align:center;")
    .row
        .col-6.footer-text(style="margin-top:0.5rem;text-align:left;")
                i.fa.fa-copyright(aria-hidden='true') &nbsp;2016-2017 RoboCupJunior - Rescue Technical Committee&nbsp;-&nbsp;
                i.fa.fa-code-fork(aria-hidden="true") &nbsp;2017 for Japan
        .col-6(style="margin-top:0.25rem;text-align:right;")
            i.fa.fa-language(aria-hidden='true' style="font-size:1.5rem;" onclick="location.href='/locales'") &nbsp;{{'language_name' | translate}}&nbsp;&nbsp;
       