//- -*- tab-width: 2 -*-
head
    title RoboCup Junior Scoring

    block scripts
        script(src='/components/jquery/dist/jquery.min.js')
        script(src='/components/bootstrap/dist/js/bootstrap.js')
        script(src='/components/angular/angular.min.js')
        script(src='/components/alertifyjs/dist/js/ngAlertify.js')
        script(src='/components/ex-table/jquery.ex-table-filter.js')

    block css
        link(rel='stylesheet',href='/components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet',href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no')

