//- -*- tab-width: 2 -*-
.div(style='width:100%;background-color:#D8EDFF;border-bottom: 1px solid #89B7DD;margin-bottom:20px;line-height:60px;height:60px;text-align:center;font-size:26px;')
    block locationtitle
    a.navbar-brand.pull-left(href='/home')
        img(alt='Brand', src='/images/Homesmall.png')
    a.navbar-brand.pull-right(href='')
        img(alt='Brand', src='/images/user.png')
    div(style='display:inline;position:relative;float:left;')
        div(style='display:inline;position:absolute;line-height:60px;height:60px;width:400px;font-size: 18px;text-align:left;')
            block location
    p(style='clear:both;')
