<div class="modal-header">
  <h3 class="modal-title">Score items</h3>
</div>
<div class="modal-body">
  <ul>
    <li ng-show="tile.scored.speedbumps.length">
      <label>Speedbumps:</label>
      <ul>
        <li ng-repeat="speedbump in tile.scored.speedbumps track by $index">
          <label><input type="checkbox" ng-model="tile.scored.speedbumps[$index]"> Speedbump {{$index+1}}</label>
        </li>
      </ul>
    </li>
    <li ng-show="tile.scored.gaps.length">
      <label>Gaps:</label>
      <ul>
        <li ng-repeat="gap in tile.scored.gaps track by $index">
          <label><input type="checkbox" ng-model="tile.scored.gaps[$index]"> Gap {{$index+1}}</label>
        </li>
      </ul>
    </li>
    <li ng-show="tile.scored.obstacles.length">
      <label>Obstacles:</label>
      <ul>
        <li ng-repeat="obstacle in tile.scored.obstacles track by $index">
          <label><input type="checkbox" ng-model="tile.scored.obstacles[$index]"> Obstacle {{$index+1}}</label>
        </li>
      </ul>
    </li>
    <li ng-show="tile.scored.intersections.length">
      <label>Intersections:</label>
      <ul>
        <li ng-repeat="intersection in tile.scored.intersections track by $index">
          <label><input type="checkbox" ng-model="tile.scored.intersections[$index]"> Intersection {{$index+1}}</label>
        </li>
      </ul>
  </ul>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
<!--  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
</div>
