#content {
    background-color: #222;
}

#footer {
    background-color: #DF7401;
    color: #fff;
    font-family: "sans-serif";
    font-size: 30pt;
    height: 55px;
    padding-top: 30px;
    padding-left: 0.5em;
}
