//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'AdminHome'

append scripts
  script.
    var competitionId = "#{id}"
  script(src='/javascripts/admin_home.js')

block location
    a.breadcrumb-item(href='/home') Home
    span.breadcrumb-item.active Admin


block content
  .row
    .col-md-1
    .col-md-10
      .row
        .col-md-6
          h1 {{"admin.home.competitions" | translate}}
          input(ng-model='competitionName')
          button(ng-click='addCompetition()') {{"admin.home.add_c" | translate}}
          br
          br
          table.custom
            thead
                tr
                  th {{"common.name" | translate}}
                  th {{"common.operation" | translate}}
            tbody
                tr(ng-repeat='competition in competitions')
                  td
                    a(ng-bind='competition.name' ng-href="/admin/{{competition._id}}")
                  td
                    a(href="" ng-click='removeCompetition(competition)') {{"common.delete" | translate}}
      
        .col-md-6
          h1 {{"admin.home.c_item" | translate}}
          button(ng-click="go('/admin/line/tilesets')" class='btn btn-outline-info btn-lg btn-block') {{"admin.home.line_tSet" | translate}}
