//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'AdminShort'

append scripts
  script.
    var sigId = "#{id}"
  script(src="/javascripts/admin_short.js")
  
block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click="go('/admin')") Admin
    span.breadcrumb-item.active URL Shorting Setting

block content
    h1 {{"admin.shortURL.title" | translate}}
    div(style='margin-top:50px;')
        p {{"admin.shortURL.description" | translate}}
        .row
            .col-md-12
                .input-group(style="width:100%;margin 0 auto;")
                    span.input-group-addon {{"admin.shortURL.name" | translate}}
                    input.form-control(type='string', ng-model='name' style="width:200px;!important")
                    span.input-group-addon {{"admin.shortURL.short" | translate}} : {{urlHead}}
                    input.form-control(type='string', ng-model='short' style="width:150px;!important")
                    span.input-group-addon {{"admin.shortURL.original" | translate}}
                    input.form-control(type='text', ng-model='transfer' style="width:1000px;")
                    button.btn.btn-success(type='button', ng-click='set()')
                        i.fas.fa-check
        hr
        .row
        .col-md-12
            br
            div(style="margin: 20px;" ng-repeat="content in list track by $index")
                .input-group(style="width:100%;margin 0 auto;")
                    span.input-group-addon {{"admin.shortURL.name" | translate}}
                    span.input-group-addon(style="background-color:#fff") {{content.name}}
                    span.input-group-addon {{"admin.shortURL.short" | translate}}
                    span.input-group-addon(style="background-color:#fff") {{urlHead}}{{content.shorted}}
                    span.input-group-addon {{"admin.shortURL.original" | translate}}
                    span.input-group-addon(style="background-color:#fff") {{content.transfer}}
                    button.btn.btn-danger(type='button', ng-click='del(content._id)')
                        i.fas.fa-times
            br

