//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'CompetitionAdmin'

append scripts
  script.
    var competitionId = "#{id}"
  script(src='/javascripts/competition_admin.js')

block location
    a.breadcrumb-item(href='/home') Home
    a.breadcrumb-item(href='/admin') Admin
    span.breadcrumb-item.active {{competition.name}}


block content
  .row
    .col-md-1
    .col-md-10
      h1 Admin Console - {{competition.name}}
      button(ng-click="go('/admin/' + competitionId + '/teams')" class='btn btn-outline-info btn-lg btn-block') Teams
      button(ng-click="go('/admin/' + competitionId + '/rounds')" class='btn btn-outline-info btn-lg btn-block') Rounds
      button(ng-click="go('/admin/' + competitionId + '/fields')" class='btn btn-outline-info btn-lg btn-block') Fields
      
      h3 Line
      button(ng-click="go('/admin/line/tilesets')" class='btn btn-outline-info btn-lg btn-block') Tilesets
      button(ng-click="go('/admin/' + competitionId + '/line/maps')" class='btn btn-outline-info btn-lg btn-block') Maps
      button(ng-click="go('/admin/' + competitionId + '/line/runs')" class='btn btn-outline-info btn-lg btn-block') Runs

      h3 Maze
      button(ng-click="go('/admin/' + competitionId + '/maze/maps')" class='btn btn-outline-info btn-lg btn-block') Maps
      button(ng-click="go('/admin/' + competitionId + '/maze/runs')" class='btn btn-outline-info btn-lg btn-block') Runs

