//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'Home'

append scripts
  script(src='/javascripts/home.js')

block location
  span.breadcrumb-item.active Home

block content
  .row
    .col-md-1
    .col-md-10
      i.fa.fa-code-fork.fa-2x(aria-hidden="true") &nbsp;RCJ Scoring System 2017
      br
      br
      br

      if typeof(user) == "undefined"
        button(onclick="location.href='/login'" class='btn btn-warning btn-lg btn-block')
          i.fa.fa-sign-in(aria-hidden='true') &nbsp;Login
      else
        button(onclick="location.href='/logout'" class='btn btn-outline-danger btn-lg btn-block')
          i.fa.fa-sign-out(aria-hidden='true') &nbsp;Logout
      br
      br

      .row
        .col-sm-6
          .card(style='width: 100%;')
            a(onclick="location.href='/line'")
              img.card-img-top(src='/images/line.png', alt='Card image cap' style="width:100%; height=auto;")
            .card-block
              h4.card-title Rescue Line
              p.card-text
                | Put in a description of Rescue Line
              button(onclick="location.href='/line'" class='btn btn-primary btn-lg btn-block') Go Line
        .col-sm-6
          .card(style='width: 100%;')
            a(onclick="location.href='/maze'")
              img.card-img-top(src='/images/maze.png', alt='Card image cap' style="width:100%; height=auto;")
            .card-block
              h4.card-title Rescue Maze
              p.card-text
                | Put in a description of Rescue Maze
              button(onclick="location.href='/maze'" class='btn btn-primary btn-lg btn-block') Go Maze
      br
      br
      br
      if typeof(user) != "undefined"
        if user.admin
          button(onclick="location.href='/admin'" class='button-s button-bb') Competition Management
        else
          button(onclick="location.href='/'" class='button-s button-bb' disabled) Competition Management
          p ※ The you logged in account, [#{user.username}], does not have permission to access Competition Management.
      br
      br
      br
      