//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'Home'

append scripts
  script(src='/javascripts/home.js')

block location
  span.breadcrumb-item.active Home

block content
  .row
    .col-md-1
    .col-md-10
      h2
          img(src="/images/logo.png" width='40px' height='40px')
          | &nbsp;RCJ Scoring System 2017 for Japan
      br
      br
      br
      
      if typeof(user) == "undefined"
        button(onclick="location.href='/login'" class='btn btn-warning btn-lg btn-block')
            i.fas.fa-sign-in-alt(aria-hidden='true')
            &nbsp; {{'home.login' | translate}}
      else
        button(onclick="location.href='/logout'" class='btn btn-outline-danger btn-lg btn-block')
            i.fas.fa-sign-out-alt(aria-hidden='true')
            &nbsp; {{'home.logout' | translate}}
      br
      br
      
      .row
        .col-sm-6
          .card(style='width: 100%;')
              a(onclick="location.href='/line'")
                img.card-img-top(src='/images/line.png', alt='Card image cap' style="width:100%; height=auto;")
              .card-body
                h4.card-title {{'home.line' | translate}}
                p.card-text(translate="home.line_description")
                button(onclick="location.href='/line'" class='btn btn-primary btn-lg btn-block') {{'home.go_line' | translate}}
        .col-sm-6
            .card(style='width: 100%;')
              a(onclick="location.href='/maze'")
                img.card-img-top(src='/images/maze.png', alt='Card image cap' style="width:100%; height=auto;")
              .card-body
                h4.card-title {{'home.maze' | translate}}
                p.card-text(translate="home.maze_description")
                button(onclick="location.href='/maze'" class='btn btn-primary btn-lg btn-block') {{'home.go_maze' | translate}}
      br 
      br
      br
      if typeof(user) != "undefined"
        if user.admin
            button(onclick="location.href='/admin'" class='button-s button-bb') {{'home.management' | translate}}
        else
            button(onclick="location.href='/'" class='button-s button-bb' disabled) {{'home.management' | translate}}
            p(translate="home.access_level", translate-values='{account: "'+ user.username + '"}')
      br
      br
      br
      