//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'LineScore'

append scripts
  script.
    var competitionId = "#{id}"
    var get = !{JSON.stringify(get)}
  script(src = '/components/datatables/media/js/jquery.dataTables.min.js')
  script(src = '/components/angular-datatables/dist/angular-datatables.min.js')
  script(src="/components/socket.io-client/socket.io.js")
  script(src='/javascripts/line_score.js')

append css
  link(rel='stylesheet', href='/components/datatables/media/css/jquery.dataTables.min.css')
  style(type='text/css').
    table {
      width: 100%;
      border-collapse: collapse;
    }

    table td {
      padding: 7px;
      border: #4e95a4 1px solid;
    }

    table thead {
      background: #a8d1f3;
    }

    table tbody tr:hover {
      background: #A0A0FF;
    }

block location
    a.breadcrumb-item(onclick="location.href='/home'") Home
    a.breadcrumb-item(onclick="location.href='/line'") Line
    a.breadcrumb-item(ng-click='go("/line/"+ competitionId )') {{competition.name}}
    span.breadcrumb-item.active Score

block content
  .row
  .col-md12
    button.btn.btn-secondary(style='margin:0 10px 10px 0;', type='button', ng-click="go('/line/' + competitionId)")
      i.fa.fa-undo(aria-hidden='true')  Back
  //.row
    .col-12
      .alert.alert-info(role='alert')
          | Information
  br
  br
  .row#rank
    //.col-lg-6
    .col-lg-12
      h3 Line - Rank
      h6 Showing sum of the 2 best rounds
      table(style="overflow: scroll;")
        thead
          tr
            th.text-center Rank
            th.text-center Team Name
            th.text-center Score
            th.text-center Time
            th.text-center Rescued
            th.text-center LoPs
        tbody
          tr(ng-repeat='run in primaryRunsTop track by $index')
            td.text-center(ng-bind='$index + 1' ng-style="run.isplaying && {'background-color': '#ffffa8'}")
            td.text-center(ng-bind='run.team.name' ng-style="run.isplaying && {'background-color': '#ffffa8'}")
            td.text-center(ng-bind='run.score' ng-style="run.isplaying && {'background-color': '#ffffa8'}")
            td.text-center(ng-if="!run.retired" ng-style="run.isplaying && {'background-color': '#ffffa8'}"){{("00"+run.time.minutes).slice(-2)}}:{{("00"+run.time.seconds).slice(-2)}}
            td.text-center(ng-if="run.retired" ng-style="run.isplaying && {'background-color': '#ffffa8'}") R
            td.text-center(ng-bind='run.rescuedVictims' ng-style="run.isplaying && {'background-color': '#ffffa8'}")
            td.text-center(ng-bind='run.LoPsNum' ng-style="run.isplaying && {'background-color': '#ffffa8'}")
  //
    .col-lg-6
      h3 Secondary - Rank
      table(style="overflow: scroll;")
        thead
          tr
            th.text-center Rank
            th.text-center Team Name
            th.text-center Score
            th.text-center Time
            th.text-center Rescued
            th.text-center LoPs
        tbody
          tr(ng-repeat='run in secondaryRunsTop track by $index')
            td.text-center(ng-bind='$index + 1')
            td.text-center(ng-bind='run.team.name')
            td.text-center(ng-bind='run.score')
            td.text-center(ng-if="!run.retired"){{("00"+run.time.minutes).slice(-2)}}:{{("00"+run.time.seconds).slice(-2)}}
            td.text-center(ng-if="run.retired") R
            td.text-center(ng-bind='run.rescuedVictims')
            td.text-center(ng-bind='run.LoPsNum')
  .row
    hr
  .row#allRuns
    //.col-lg-6
    .col-lg-12
      h3 Line - All runs
      label Sort by round:
        input(type="checkbox" style='display:inline;' ng-model="sortOrder" ng-true-value="'[startTime,round.name,field.name,team.name]'" ng-false-value="'-score'")
      //span {{sortOrder}}
      table(style="overflow: scroll;")
        thead
          tr
            th.text-center Team Name
            th.text-center Round
            th.text-center Field
            th.text-center Score
            th.text-center Time
            th.text-center Rescued
            th.text-center LoPs
        tbody
          tr(ng-repeat='run in primaryRuns | orderBy:sortOrder')
            td.text-center(ng-bind='run.team.name' ng-style="run.isplaying && {'background-color': '#ffffa8'}")
            td.text-center(ng-bind='run.round.name'  ng-style="run.isplaying && {'background-color': '#ffffa8'}")
            td.text-center(ng-bind='run.field.name'  ng-style="run.isplaying && {'background-color': '#ffffa8'}")
            td.text-center(ng-bind='run.score'  ng-style="run.isplaying && {'background-color': '#ffffa8'}")
            td.text-center(ng-if="!run.retired"  ng-style="run.isplaying && {'background-color': '#ffffa8'}"){{("00"+run.time.minutes).slice(-2)}}:{{("00"+run.time.seconds).slice(-2)}}
            td.text-center(ng-if="run.retired"  ng-style="run.isplaying && {'background-color': '#ffffa8'}") R
            td.text-center(ng-bind='run.rescuedLiveVictims + run.rescuedDeadVictims'  ng-style="run.isplaying && {'background-color': '#ffffa8'}")
            td.text-center(ng-bind='run.LoPsNum'  ng-style="run.isplaying && {'background-color': '#ffffa8'}")
  //
    .col-lg-6
      h3 Secondary - All
      table(style="overflow: scroll; width:100%;")
        thead
          tr
            th.text-center Team Name
            th.text-center Round
            th.text-center Field
            th.text-center Score
            th.text-center Time
            th.text-center Rescued
            th.text-center LoPs
        tbody
          tr(ng-repeat='run in secondaryRuns')
                td.text-center(ng-bind='run.team.name')
                td.text-center(ng-bind='run.round.name')
                td.text-center(ng-bind='run.field.name')
                td.text-center(ng-bind='run.score')
                td.text-center(ng-if="!run.retired"){{("00"+run.time.minutes).slice(-2)}}:{{("00"+run.time.seconds).slice(-2)}}
                td.text-center(ng-if="run.retired") R
                td.text-center(ng-bind='run.rescuedLiveVictims + run.rescuedDeadVictims')
                td.text-center(ng-bind='run.LoPsNum')