//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'LineCompetition'

append scripts
  script.
    var competitionId = "#{id}"
  script(src='/javascripts/line_competition.js')
  

block location
    a.breadcrumb-item(href='/home') Home
    a.breadcrumb-item(href='/line') Line
    span.breadcrumb-item.active {{competition.name}}


block content
  .row
    .col-md-1
    .col-md-10
      h1 競技 - {{competition.name}}
      br
      button(ng-click="go('/line/' + competition._id + '/score')" class='btn btn-outline-info btn-lg btn-block') 競技結果・速報順位
      br
      .refine(style="visibility:hidden")
          form
              label ラウンドで絞り込む
              .filter-round
              label フィールドで絞り込む
              .filter-arena
      br
      center
          .loader
            img(src="/images/loader2.gif")
            p Now Loading...
      table(class="comp")
        thead
            tr
              th Round
              th Team
              th Field
              th 
              th
        tbody
            tr(ng-repeat='run in runs' runs-read-finished='')
              td(ng-bind='run.round.name' ng-style="{'background-color':run.status>=3?'#ecf0f1':''}")
              td(ng-bind='run.team.name' ng-style="{'background-color':run.status>=3?'#ecf0f1':''}")
              td(ng-bind='run.field.name' ng-style="{'background-color':run.status>=3?'#ecf0f1':''}")
              td
                button(ng-click="go('/line/view/' + run._id)" class='btn btn-info') 表示

              td(ng-style="{'background-color':run.status>=3?'#ecf0f1':''}")
                button(ng-click="no_judge()" class='btn btn-danger' ng-if="run.status>=3" ) 審判
                button(ng-click="go_judge('/line/judge/' + run._id)" class='btn btn-danger' ng-if="run.status<3" ) 審判
      br
      p [Status] 0.開始前 1.審判ページ表示    2.タイマー開始    3.得点確認中    4.競技終了
      br
      br