<nav class="navbar" style="background-color: #3498db; color: #ecf0f1; position: fixed; top: 0; z-index:10 ;  width: 100%">
    <!-- Navbar content -->
    <div class="col-md-6 col-sm4 col-12">
        <li class="navbar-brand" href="#"><i class="fa fa-spinner fa-pulse fa-fw"></i> {{team}}</li>
    </div>
    <div class="col-md-3 col-sm4 col-7">
        <i class="fa fa-calculator fa-2x" aria-hidden="true"></i>
        <li class="navbar-brand" href="#"> {{score}} {{'common.point' | translate}}</li>
    </div>
    <div class="col-md-3 col-sm4 col-5">
        <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
        <li class="navbar-brand" href="#"> {{minutes*60*1000+seconds*1000 | date:'m:ss'}}</li>
    </div>

</nav>
<div class="container">
    <div class="row">
        <div class="col-md12">
            <button class="btn btn-secondary" style="margin:0 10px 10px 0;" type="button" ng-click="go('/line/' + competition_id)"><i class="fa fa-undo" aria-hidden="true"> {{'common.back' | translate}}</i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="lops" class="card">
                <h3 class="card-header"><i class="fa fa-info-circle" aria-hidden="true"></i> {{'line.view.info' | translate}}</h3>
                <table class="table" style="margin-bottom:0;">
                    <tbody>
                        <tr>
                            <th>
                                {{'common.competition' | translate}}
                            </th>
                            <td>
                                {{competition}}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{'common.round' | translate}}
                            </th>
                            <td>
                                {{round}}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{'common.field' | translate}}
                            </th>
                            <td>
                                {{field}}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{'common.team' | translate}}
                            </th>
                            <td>
                                {{team}}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                {{'common.league' | translate}}
                            </th>
                            <td>
                                {{league}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div id="card_area" class="scrool" style="overflow: scroll;">
                <div id="lops" class="card">
                    <h3 class="card-header"><i class="fa fa-undo" aria-hidden="true"></i> {{'common.lops' | translate}}</h3>
                    <div class="card-body" style="padding:1rem 0;">
                        <div ng-repeat="dropTile in range(actualUsedDropTiles+1) track by $index">
                            <div style="display:flex;" class="card-text">
                                <div style="width:40%;font-size:10px;" align="center">
                                    {{$index==0?'line.view.start':'line.view.checkpoint'|translate}}
                                    <b style="font-size:15px;color:#FF8300;">{{$index==0?'':$index}}</b>
                                    <br>
                                    <i class="fa fa-forward fa-rotate-90" aria-hidden="true"></i>
                                    <br> {{!$last?'line.view.checkpoint':'line.view.evacuation' | translate}}
                                    <b style="font-size:15px;color:#FF8300;">{{!$last?$index+1:''}}</b>

                                </div>
                                <div style="width:60%;position: relative;">
                                    <div class="input-group" style="width:100%; height:35px;position:absolute;top: 0;bottom: 0;margin: auto;">
                                        <span class="input-group-btn">
                                        <button type="button" class="btn btn-danger" disabled>
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                        <div style="background-color: #F2F2F2; width:100px; text-align: center;">
                                            <span class="count">{{LoPs[$index]?LoPs[$index]:0}}</span>
                                        </div>
                                        <span class="input-group-btn">
                                        <button type="button" class="btn btn-success" disabled>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <hr ng-show="!$last" />
                        </div>

                    </div>
                    <h3 class="card-header"><i class="fa fa-ambulance" aria-hidden="true"></i> {{'line.view.rescue' | translate}}　<span class="badge badge-danger">{{evacuationLevel-1?'line.view.high':'line.view.low' | translate}}</span></h3>
                    <div class="card-body">
                        <p class="card-text">{{'line.view.live' | translate}}<span class="badge badge-info">{{30 + (evacuationLevel-1)*10}}　points /victim</span></p>
                        <div class="input-group" style="width:100%; height:35px;">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-danger" disabled>
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                            </span>
                            <div style="background-color: #F2F2F2; width:100px; text-align: center;">
                                <span class="count">{{rescuedLiveVictims}}</span>
                            </div>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-success" disabled>
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <hr>
                    <div class="card-body">
                        <p class="card-text">{{'line.view.dead' | translate}}<span class="badge badge-info">{{15 + (evacuationLevel-1)*5}} points /victim</span></p>
                        <div class="input-group" style="width:100%; height:35px;">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-danger" disabled>
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                            </span>
                            <div style="background-color: #F2F2F2; width:100px; text-align: center;">
                                <span class="count">{{rescuedDeadVictims}}</span>
                            </div>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-success" disabled>
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <hr>
                    <div class="card-body">
                        <p class="card-text">{{'line.view.exit' | translate}}<span class="badge badge-info">20 points</span></p>
                        <input type="checkbox" ng-model="exitBonus" ng-change="changeExitBonus()" id="scoredrun" disabled><label class="checkbox" for="scoredrun">{{'common.sucess' | translate}}</label><br>
                    </div>
                </div>


            </div>
        </div>

        <div class="col-md-6 tilearea" style="height:600px">
            <div ng-repeat="r in range(length)" class="row" ng-if="visType=='stacked'" tile-load-finished=''>
                <div ng-repeat="c in range(width)" class="slot">
                    <tile tile="mtiles[c+','+r+','+z]" ng-repeat="z in range(height)" ng-click="showElements(c,r,z)" ng-style="{'opacity': getOpacity(c,r)}">
                    </tile>
                </div>
            </div>
            <div ng-if="visType=='slider' && slider" >
                <rzslider rz-slider-model="z" rz-slider-options="slider.options" ng-show="height>1"></rzslider>
                <div ng-repeat="r in range(length)" class="row" tile-load-finished=''>
                    <div ng-repeat="c in range(width)" class="slot">
                        <tile tile="mtiles[c+','+r+','+z]" ng-click="showElements(c,r,z)"></tile>
                    </div>
                </div>
            </div>
            <div ng-repeat="z in range(height)" style="float: left; border-left: 3px solid black;" ng-if="visType=='side'" tile-load-finished=''>
                <div ng-repeat="r in range(length)">
                    <div ng-repeat="c in range(width)" class="slot">
                        <tile tile="mtiles[c+','+r+','+z]" ng-click="showElements(c,r,z)"></tile>
                    </div>
                </div>
            </div>
            <form>
                <input type="radio" ng-model="visType" value="stacked" id="stacked"><label class="radio" for="stacked">Stacked　</label>
                <input type="radio" ng-model="visType" value="slider" checked id="slider"><label class="radio" for="slider">Slider</label>
                <input type="radio" ng-model="visType" value="side" id="side-by-side"><label class="radio" for="side-by-side">Side-by-Side</label>
            </form>
        </div>
    </div>
    <div class="alert alert-success" style="margin:100 0 0 0;" role="alert">
        <div class="row">
            <div class="col-md-6">
                <div class="d-none d-sm-block">
                    <i class="fa fa-calculator fa-3x" aria-hidden="true"> : {{score}} {{'common.point' | translate}}</i>
                </div>
                <div class="d-sm-none">
                    <i class="fa fa-calculator fa-2x" aria-hidden="true"> : {{score}} {{'common.point' | translate}}</i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-none d-sm-block">
                    <i class="fa fa-clock-o fa-3x" aria-hidden="true"> : {{minutes}} {{'common.min' | translate}} {{seconds}} {{'common.sec' | translate}}</i>
                </div>
                <div class="d-sm-none">
                    <i class="fa fa-clock-o fa-2x" aria-hidden="true"> : {{minutes}} {{'common.min' | translate}} {{seconds}} {{'common.sec' | translate}}</i>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin:30 0 30 0;">
        <div class="col-md-12">
            <div id="sign" class="card">
                <h3 class="card-header"><i class="fa fa-commenting-o" aria-hidden="true"></i> {{'line.view.comment' | translate}}</h3>
                <div class="card-body">
                    <p class="card-text  text-info ">
                        {{'line.view.comment_e' | translate}}
                    </p>
                    <div class="form-group">
                        <textarea class="form-control" ng-model="comment" rows="3" disabled></textarea>
                    </div>
                </div>
                <h3 class="card-header"><i class="fa fa-key" aria-hidden="true"></i> {{'line.view.sign' | translate}}</h3>
                <div class="card-body">
                    <p class="card-text  text-warning" translate="line.view.sign_e">
                    </p>
                    <div class="sign-box sign-box-cap">
                        <p class="sign-box-title sign-box-title-cap" translate="line.view.cap_sign">
                        </p>
                        <img ng-src="{{cap_sig}}" style="max-width: 100%;height: auto;" />
                    </div>
                    <hr>
                    <div class="sign-box sign-box-ref">
                        <p class="sign-box-title sign-box-title-ref" translate="line.view.ref_sign">
                        </p>
                        <img ng-src="{{ref_sig}}" style="max-width: 100%;height: auto;" />
                    </div>
                    <hr>
                    <div class="sign-box sign-box-ref">
                        <p class="sign-box-title sign-box-title-ref" translate="line.view.cref_sign">
                        </p>
                        <img ng-src="{{refas_sig}}" style="max-width: 100%;height: auto;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
