html
  head
    title Rescue Line Map Editor
    script.
      var mapId = "#{id}"

    script(src="/components/angular/angular.min.js")
    script(src="/components/angular/angular-animate.js")
    script(src="/components/bootstrap/ui-bootstrap-tpls-2.5.0.min.js")
    script(src="/components/angularjs-slider/dist/rzslider.min.js")

    link(href="/components/bootstrap/dist/css/bootstrap.css" rel="stylesheet")
    link(href="/components/angularjs-slider/dist/rzslider.min.css" rel="stylesheet")
    script(src="/javascripts/lvl-uuid.js")
    script(src="/javascripts/line_editor.js")
    link(href="/stylesheets/fredrik.css" rel="stylesheet")



  body(ng-app="ddApp")
    include line_editor.html