<h1>{{team.name}}</h1>
<h2>{{score}} points</h2>
<div style="margin-top:30px;">
  <div class="row">
    <div class="col-sm-12">
      <label> <input type="radio" ng-model="visType" value="stacked"> Stacked</label><br>
      <label> <input type="radio" ng-model="visType" value="slider"> Slider</label><br>
      <label> <input type="radio" ng-model="visType" value="side"> Side-by-Side</label><br>
    </div>
  </div>

  <div class="row" ng-show="visType=='stacked'">
    <div class="col-md-12">
      <div ng-repeat="r in range(length)" class="row">
        <div ng-repeat="c in range(width)" class="slot">
          <tile tile="tiles[c+','+r+','+z]" ng-repeat="z in range(height)" ng-style="{'opacity': getOpacity(c,r)}">
          </tile>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-show="visType=='slider'">
    <div class="col-md-12">
      <div>
        <rzslider rz-slider-model="z" rz-slider-options="sliderOptions"></rzslider>
        <div ng-repeat="r in range(length)" class="row">
          <div ng-repeat="c in range(width)" class="slot">
            <tile tile="tiles[c+','+r+','+z]"></tile>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-show="visType=='side'">
    <div class="col-md-12">
      <div ng-repeat="z in range(height)" style="float: left; border-left: 3px solid black;">
        <div ng-repeat="r in range(length)">
          <div ng-repeat="c in range(width)" class="slot">
            <tile tile="tiles[c+','+r+','+z]"></tile>
          </div>
        </div>
      </div>
    </div>
  </div>



</div>


