<!--[if lt IE 9]>
<script type="text/javascript" src="/components/jSignature/libs/flashcanvas.js"></script>
<![endif]-->
<script src="/components/jSignature/libs/jSignature.min.js"></script>
<script>
    $(document).ready(function() {
        $("#cap_sig").jSignature()
        $("#ref_sig").jSignature()
        $("#refas_sig").jSignature()
    })

</script>
<nav class="navbar" style="background-color: #e67e22; color: #ecf0f1; position: fixed; top: 0; z-index:10 ;  width: 100%">
    <!-- Navbar content -->
    <div class="col-md-6 col-sm4 col-12">
        <li class="navbar-brand" href="#"><i class="fa fa-spinner fa-pulse fa-fw"></i> {{team}}</li>
    </div>
    <div class="col-md-3 col-sm4 col-7">
        <i class="fa fa-calculator fa-2x" aria-hidden="true"></i>
        <li class="navbar-brand" href="#"> {{score}} {{'common.point' | translate}}</li>
    </div>
    <div class="col-md-3 col-sm4 col-5">
        <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
        <li class="navbar-brand" href="#"> {{minutes*60*1000+seconds*1000 | date:'m:ss'}}</li>
    </div>


</nav>
<div class="container" style="padding-top:70px;">
    <div class="row">
        <div class="col-md12">
            <button class="btn btn-secondary" style="margin:0 10px 10px 0;" type="button" ng-click="go('/line/judge/' + runId)"><i class="fa fa-pencil-square-o" aria-hidden="true"> {{'line.sign.to_judge' | translate}}</i></button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" style="margin-bottom:70px;">
            <div id="card_area" class="scrool" style="overflow: scroll;">
                <div id="lops" class="card">
                    <h3 class="card-header"><i class="fa fa-undo" aria-hidden="true"></i> {{'common.lops' | translate}}</h3>
                    <div class="card-body">
                        <div ng-repeat="dropTile in range(actualUsedDropTiles+1) track by $index">
                            <div style="display:flex;" class="card-text">
                                <div style="width:40%;font-size:10px;" align="center">
                                    {{$index==0?'line.sign.start':'line.sign.checkpoint'|translate}}
                                    <b style="font-size:15px;color:#FF8300;">{{$index==0?'':$index}}</b>
                                    <br>
                                    <i class="fa fa-forward fa-rotate-90" aria-hidden="true"></i>
                                    <br> {{!$last?'line.sign.checkpoint':'line.sign.evacuation' | translate}}
                                    <b style="font-size:15px;color:#FF8300;">{{!$last?$index+1:''}}</b>

                                </div>
                                <div style="width:60%;position: relative;">
                                    <div class="input-group" style="width:100%; height:35px;position:absolute;top: 0;bottom: 0;margin: auto;">
                                        <span class="input-group-btn">
                                        <button type="button" class="btn btn-danger" disabled>
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                        <div style="background-color: #F2F2F2; width:100px; text-align: center;">
                                            <span class="count">{{LoPs[$index]?LoPs[$index]:0}}</span>
                                        </div>
                                        <span class="input-group-btn">
                                        <button type="button" class="btn btn-success" disabled>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <hr ng-show="!$last" />
                        </div>

                    </div>
                    <h3 class="card-header"><i class="fa fa-ambulance" aria-hidden="true"></i> {{'line.sign.rescue' | translate}}　<span class="badge badge-danger">{{evacuationLevel-1?'line.sign.high':'line.sign.low' | translate}}</span></h3>
                    <div class="card-body">
                        <p class="card-text">{{'line.sign.live' | translate}}<span class="badge badge-info">{{30 + (evacuationLevel-1)*10}}　points /victim</span></p>
                        <div class="input-group" style="width:100%; height:35px;">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-danger" disabled>
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                            </span>
                            <div style="background-color: #F2F2F2; width:100px; text-align: center;">
                                <span class="count">{{rescuedLiveVictims}}</span>
                            </div>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-success" disabled>
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <hr>
                    <div class="card-body">
                        <p class="card-text">{{'line.sign.dead' | translate}}<span class="badge badge-info">{{15 + (evacuationLevel-1)*5}} points /victim</span></p>
                        <div class="input-group" style="width:100%; height:35px;">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-danger" disabled>
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                            </span>
                            <div style="background-color: #F2F2F2; width:100px; text-align: center;">
                                <span class="count">{{rescuedDeadVictims}}</span>
                            </div>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-success" disabled>
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <hr>
                    <div class="card-body">
                            <p class="card-text">{{'line.judge.exit' | translate}}<span class="badge badge-info">20　points</span></p>
                            <div class="col-md-12" style="position: relative;">
                            <img src="/images/line_bonus.png" class="img-thumbnail" width=186.3px height=118px ng-style="{'background-color': exitBonus?'#2ecc71':'#D91E18'}">
                            <div style="position:absolute; top:25px; left:65px;">
                                <i class="fa fa-check fa-fw fa-5x" ng-show="exitBonus" style="color:#27ae60; opacity:0.9;"></i>
                                <i class="fa fa-times fa-fw fa-5x" ng-show="!exitBonus" style="padding-top:4px; color:#e74c3c; opacity:0.9;"></i>
                          </div>
                            
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-md-6 tilearea" style="margin-top:-45px;">
            <div style="text-align:left;float:left;">
                <div class="btn-group">
                  <span class="input-group-addon"><i class="fa fa-arrows-v" aria-hidden="true"></i></span>
                  <button type="button" class="btn btn-outline-dark" ng-click="changeFloor(zz)" ng-repeat="zz in range(height)" ng-class="{active: zz == z}">&nbsp;{{zz}}&nbsp;</button>
                </div>
            </div>
            <div style="text-align:right;float:right;">
                <div class="btn-group">
                  <button type="button" class="btn btn-outline-dark" ng-click="tileRot(-90)">&nbsp;<i class="fa fa-undo" aria-hidden="true"></i>&nbsp;</button>
                  <button type="button" class="btn btn-outline-dark" ng-click="tileRot(90)">&nbsp;<i class="fa fa-repeat" aria-hidden="true"></i>&nbsp;</button>
                </div>
            </div>
            <div style="clear:both;"></div>
            <div class="mx-auto" style="margin-top:5px;" id="wrapTile">
                <div ng-repeat="r in range(length)" ng-if="sRotate==0" style="display: flex;">
                    <div style="text-align:center;">
                    <div ng-repeat="c in range(width)" class="slot">
                        <tile tile="mtiles[c+','+r+','+z]" ng-click="showElements(c,r,z)"></tile>
                    </div>
                        </div>
                </div>
               <div ng-repeat="r in range(length)" ng-if="sRotate==180" style="display: flex;">
                    <div ng-repeat="c in range(width)" class="slot">
                        <tile tile="mtiles[width - c -1+','+(length - r -1)+','+z]" ng-click="showElements(width - c -1,length - r -1,z)"></tile>
                    </div>
                </div>
                <div ng-repeat="r in range(width)" ng-if="sRotate==270" style="display: flex;">
                    <div ng-repeat="c in range(length)" class="slot">
                        <tile tile="mtiles[width - r -1+','+c+','+z]" ng-click="showElements(width-r-1,c,z)"></tile>
                    </div>
                </div>
                <div ng-repeat="r in range(width)" ng-if="sRotate==90" style="display: flex;">
                    <div ng-repeat="c in range(length)" class="slot">
                        <tile tile="mtiles[r+','+ (length - c-1) +','+z]" ng-click="showElements(r,length-c-1,z)"></tile>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-success" role="alert">
        <div class="row">
            <div class="col-md-6">
                <div class="d-none d-sm-block">
                    <i class="fa fa-calculator fa-3x" aria-hidden="true"> : {{score}} {{'common.point' | translate}}</i>
                </div>
                <div class="d-sm-none">
                    <i class="fa fa-calculator fa-2x" aria-hidden="true"> : {{score}} {{'common.point' | translate}}</i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-none d-sm-block">
                    <i class="fa fa-clock-o fa-3x" aria-hidden="true"> : {{minutes}} {{'common.min' | translate}} {{seconds}} {{'common.sec' | translate}}</i>
                </div>
                <div class="d-sm-none">
                    <i class="fa fa-clock-o fa-2x" aria-hidden="true"> : {{minutes}} {{'common.min' | translate}} {{seconds}} {{'common.sec' | translate}}</i>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-12">

            <div id="sign" class="card">
                <h3 class="card-header"><i class="fa fa-commenting-o" aria-hidden="true"></i>{{'line.sign.comment' | translate}}</h3>
                <div class="card-body">
                    <p class="card-text  text-info ">
                        {{'line.sign.comment_e' | translate}}
                    </p>
                    <div class="form-group">
                        <textarea class="form-control" ng-model="comment" rows="3"></textarea>
                    </div>
                </div>
                <h3 class="card-header"><i class="fa fa-key" aria-hidden="true"></i> {{'line.sign.sign' | translate}}</h3>
                <div class="card-body"><strong>
                      <p class="card-text  text-warning" translate="line.sign.sign_e"></strong>
                    <h2 translate="line.sign.cap_sign"></h2>
                    <div id="cap_sig" class="confirmation"></div>
                    <br>
                    <h2 translate="line.sign.ref_sign"></h2>
                    <div id="ref_sig" class="confirmation"></div>
                    <br>
                    <h2 translate="line.sign.cref_sign"></h2>
                    <div id="refas_sig" class="confirmation"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin:100 0 100 0;">
        <button type="button" class="btn btn-danger btn-lg btn-block" style="padding:30 0 30 0" ng-click="send_sign()"><i class="fa fa-paper-plane fa-2x" aria-hidden="true" > {{'line.sign.submit' | translate}}</i></button>
    </div>
</div>
