<!--[if lt IE 9]>
<script type="text/javascript" src="/components/jSignature/libs/flashcanvas.js"></script>
<![endif]-->
<script src="/components/jSignature/libs/jSignature.min.js"></script>
<script>
    $(document).ready(function() {
        $("#cap_sig").jSignature()
        $("#ref_sig").jSignature()
        $("#refas_sig").jSignature()
    })

</script>
<nav class="navbar" style="background-color: #e67e22; color: #ecf0f1; position: fixed; top: 0; z-index:10 ;  width: 100%">
    <!-- Navbar content -->
    <div class="row">
        <div class="col-md-6 col-sm4 col-12">
            <li class="navbar-brand" href="#"><i class="fa fa-spinner fa-pulse fa-fw"></i> {{team}}</li>
        </div>
        <div class="col-md-3 col-sm4 col-7">
            <i class="fa fa-calculator fa-2x" aria-hidden="true"></i>
            <li class="navbar-brand" href="#"> {{score}} points</li>
        </div>
        <div class="col-md-3 col-sm4 col-5">
            <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
            <li class="navbar-brand" href="#" ng-if="!retired"> {{minutes*60*1000+seconds*1000 | date:'mm:ss'}}</li>
            <li class="navbar-brand" href="#" ng-if="retired"> Retire</li>
        </div>
    </div>


</nav>
<div class="container">
    <div class="row">
        <div class="col-md12">
            <button class="btn btn-secondary" style="margin:0 10px 10px 0;" type="button" ng-click="go('/line/judge/' + runId)"><i class="fa fa-arrow-left" aria-hidden="true"> Back</i></button>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div id="card_area" class="scrool" style="overflow: scroll;">
                <!--<div class="card">
                  <h3 class="card-header"><i class="fa fa-play-circle" aria-hidden="true"></i> Start Scoring Run</h3>
                  <div class="card-block">
                      <p class="card-text">Please check a box at the start of scoring run.</p>
                      <input type="checkbox" ng-model="showedUp" ng-change="changeShowedUp()" id="scoredrun"><label class="checkbox" for="scoredrun" style="background-color: #ffe6e8;">Start Scoring Run</label><br>
                  </div>
              </div>-->
                <div id="lops" class="card">
                    <h3 class="card-header"><i class="fa fa-undo" aria-hidden="true"></i> LoPs</h3>
                    <div class="card-block">
                        <div ng-repeat="dropTile in range(actualUsedDropTiles+1) track by $index">
                            <p class="card-text">
                                <b>{{$index==0?'Start':('Checkpoint ' + ($index))}}</b> to <b>{{!$last?('Checkpoint ' + ($index+1)):'Evacuation zone'}}</b><br>
                                <div class="input-group" style="width:100%; height:35px;">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-danger" disabled>
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                    <div style="background-color: #F2F2F2; width:100px; text-align: center;">
                                      <span class="count">{{LoPs[$index]?LoPs[$index]:0}}</span>
                                    </div>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-success" disabled>
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                </div>
                            </p>
                            <hr ng-show="!$last" />
                        </div>

                    </div>
                </div>
                <div id="resc" class="card">
                    <h3 class="card-header"><i class="fa fa-ambulance" aria-hidden="true"></i> Rescuing victims　<span class="badge badge-danger">{{evacuationLevel-1?"High":"Low"}} evacuation point</span></h3>
                    <div class="card-block">
                        <p class="card-text">【LIVE Victims】Number：　　 <span class="badge badge-info">{{30 + (evacuationLevel-1)*10}}　points /victim</span></p>
                        <div class="input-group" style="width:100%; height:35px;">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-danger" disabled>
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                            </span>
                            <div style="background-color: #F2F2F2; width:100px; text-align: center;">
                              <span class="count">{{rescuedLiveVictims}}</span>
                            </div>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-success" disabled>
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <hr>
                    <div class="card-block">
                        <p class="card-text">【DEAD Victims】Number： 　　　　<span class="badge badge-info">{{15 + (evacuationLevel-1)*5}} points /victim</span></p>
                        <div class="input-group" style="width:100%; height:35px;">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-danger" disabled>
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                            </span>
                            <div style="background-color: #F2F2F2; width:100px; text-align: center;">
                              <span class="count">{{rescuedDeadVictims}}</span>
                            </div>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-success" disabled>
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>

                    </div>
                    <hr>
                    <div class="card-block">
                        <p class="card-text">Robot exited the evacuation zone after touching at least one victim: <span class="badge badge-info">20 points</span></p>
                        <input type="checkbox" ng-model="exitBonus" ng-change="changeExitBonus()" id="scoredrun" disabled><label class="checkbox" for="scoredrun">Success</label><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 tilearea" style="height=600px">
            <form>
                <input type="radio" ng-model="visType" value="stacked" id="stacked"><label class="radio" for="stacked">Stacked</label>
                <input type="radio" ng-model="visType" value="slider" checked id="slider"><label class="radio" for="slider">Slider</label>
                <input type="radio" ng-model="visType" value="side" id="slide-by-slide"><label class="radio" for="slide-by-slide">Slide-by-Slide</label>
            </form>
            <div ng-repeat="r in range(length)" class="row" ng-if="visType=='stacked'" tile-load-finished=''>
                <div ng-repeat="c in range(width)" class="slot">
                    <tile tile="mtiles[c+','+r+','+z]" ng-repeat="z in range(height)" ng-click="showElements(c,r,z)" ng-style="{'opacity': getOpacity(c,r)}">
                    </tile>
                </div>
            </div>
            <div ng-if="visType=='slider'">
                <rzslider rz-slider-model="z" rz-slider-options="sliderOptions" ng-show="height>1"></rzslider>
                <div ng-repeat="r in range(length)" class="row" tile-load-finished=''>
                    <div ng-repeat="c in range(width)" class="slot">
                        <tile tile="mtiles[c+','+r+','+z]" ng-click="showElements(c,r,z)"></tile>
                    </div>
                </div>
            </div>
            <div ng-repeat="z in range(height)" style="float: left; border-left: 3px solid black;" ng-if="visType=='side'" tile-load-finished=''>
                <div ng-repeat="r in range(length)">
                    <div ng-repeat="c in range(width)" class="slot">
                        <tile tile="mtiles[c+','+r+','+z]" ng-click="showElements(c,r,z)"></tile>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-success" style="margin:100 0 0 0;" role="alert">
        <div class="row">
            <div class="col-md-6">
                <div class="hidden-xs-down">
                    <i class="fa fa-calculator fa-3x" aria-hidden="true"> : {{score}} points</i>
                </div>
                <div class="hidden-sm-up">
                    <i class="fa fa-calculator fa-2x" aria-hidden="true"> : {{score}} points</i>
                </div>
            </div>
            <div class="col-md-6" ng-if='!retired'>
                <div class="hidden-xs-down">
                    <i class="fa fa-clock-o fa-3x" aria-hidden="true"> : {{minutes}} min {{seconds}} sec</i>
                </div>
                <div class="hidden-sm-up">
                    <i class="fa fa-clock-o fa-2x" aria-hidden="true"> : {{minutes}} min {{seconds}} sec</i>
                </div>
            </div>
            <div class="col-md-6" ng-if='retired'>
                <div class="hidden-xs-down">
                    <i class="fa fa-clock-o fa-3x" aria-hidden="true"> : Retire</i>
                </div>
                <div class="hidden-sm-up">
                    <i class="fa fa-clock-o fa-2x" aria-hidden="true"> : Retire</i>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="col-md-12">
            <div id="sign" class="card">
                <h3 class="card-header"><i class="fa fa-key" aria-hidden="true"></i> Sign</h3>
                <div class="card-block"><strong>
                      <p class="card-text  text-warning " ng-if="!retired">
                          By wiritng a sign below, you accept that the
                          [Score：{{score}}]
                          [Time：{{minutes}} min {{seconds}} sec]
                          are correct.
                          Your team also further undertakes to not appeal the score at a later stage.
                      </p>
                      <p class="card-text  text-warning " ng-if="retired">
                          By wiritng a sign below, you accept that the
                          [Score：{{score}}]
                          [Time：Retire]
                          are correct.
                          Your team also further undertakes to not appeal the score at a later stage.
                      </p></strong>
                    <h2>Captain Sign</h2>
                    <div id="cap_sig" class="confirmation"></div>
                    <br>
                    <h2>Referee Sign</h2>
                    <div id="ref_sig" class="confirmation"></div>
                    <br>
                    <h2>Co-Referee Sign</h2>
                    <div id="refas_sig" class="confirmation"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin:100 0 100 0;">
        <button type="button" class="btn btn-danger btn-lg btn-block" style="padding:30 0 30 0" ng-click="send_sign()"><i class="fa fa-paper-plane fa-2x" aria-hidden="true" > Submit Run Data</i></button>
    </div>
</div>
