html(ng-app="ddApp")
  head
    title Rescue Line Approval
    script.
      var runId = "#{id}"

    include ./includes/common_component.jade
    script(src="/javascripts/line_approval.js")
    script(src="/javascripts/translate_config.js")
    link(href="/stylesheets/fredrik.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0")

  body(ng-controller="ddController")
    include line_approval.html
    include ./includes/footer.jade
