<div class="alert alert-success" role="alert">
    <div class="row">
        <div class="col-6">
            <i class="fa fa-calculator" aria-hidden="true"> : {{score}} points</i>
        </div>
        <div class="col-6">
            <i class="fa fa-clock-o" aria-hidden="true"> : {{time*1000 | date:'m:ss'}}</i>
        </div>
    </div>
</div>
<div >
    <div class="tilearea" style="height=600px">
        <div ng-repeat="r in range(length)" class="row" tile-load-finished='' style="margin-right:0px;margin-left:0px">
            <div ng-repeat="c in range(width)" class="slot">
                <tile tile="mtiles[c+','+r+','+z]" ng-repeat="z in range(height)" ng-click="showElements(c,r,z)" ng-style="{'opacity': getOpacity(c,r)}">
                </tile>
            </div>
        </div>
    </div>
</div>
<br>
<div class="alert alert-info" role="alert">
    <div class="row">
        <div class="col-6">
            <i class="fa fa-undo" aria-hidden="true"> : {{LoPs_total}} times</i>
        </div>
        <div class="col-6">
            <i class="fa fa-ambulance" aria-hidden="true"> : L: {{rescuedLiveVictims}} 　D: {{rescuedDeadVictims}}</i>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-12">
        <h3><span class="badge badge-danger">{{evacuationLevel-1?"High":"Low"}} evacuation point</span></h3>
    </div>
</div>
<div style="text-align:center; margin: 10 10 10 10;">
    <button class="btn btn-danger" type="button" ng-show="status == 2"><i aria-hidden="true" > Running</i></button>
    <button class="btn btn-warning" type="button" ng-show="status == 3"><i aria-hidden="true" > Checking</i></button>
</div>
