//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'LineHome'

append scripts
  script.
    var competitionId = "#{id}"
  script(src='/javascripts/line_home.js')

block location
  a(href='/home' style="color:#333333") Home
  | >
  a(href='/line' style="color:#333333") Line

block content
  .row
    .col-md-offset-2.col-md-8
      h1 RoboCup Junior - Rescue Line

      h1 Competitions
      table
        tr(ng-repeat='competition in competitions')
          td
            a(ng-bind='competition.name' ng-href="/line/{{competition._id}}")

