html(ng-app="ddApp")
  head
    title Rescue Line Judge
    script.
      var runId = "#{id}"

    include ./includes/common_component.jade
    script(src="/components/angularjs-slider/dist/rzslider.min.js")
    
    script(src="/javascripts/line_judge.js")
    script(src="/javascripts/translate_config.js")
    link(href="/components/angularjs-slider/dist/rzslider.min.css" rel="stylesheet")
    link(href="/stylesheets/fredrik.css" rel="stylesheet")
    link(href="/components/css-toggle-switch/dist/toggle-switch.css" rel="stylesheet")

    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0")

  body(ng-controller="ddController")
    include line_judge.html
