<h1>{{"admin.lineMapEditor.title" | translate}}</h1>
<p>{{"admin.lineMapEditor.desc" | translate}}</p>

<div style="margin-top:50px;">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-dark" type="button" ng-click="export()">{{"admin.lineMapEditor.export" | translate}}</button>
        </div>
        <div class="col-md-6">
            <input id="select" type="file" name="select">
        </div>
        
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <span class="input-group-addon">{{"admin.lineMapEditor.name" | translate}}</span>
                <input type="text" class="form-control" ng-model="name">
                <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" ng-click="saveMap()">{{"admin.lineMapEditor.save" | translate}}</button>
              </span>
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">{{"admin.lineMapEditor.name" | translate}}</span>
                <input type="text" class="form-control" ng-model="saveasname">
                <span class="input-group-addon">@
                    <select ng-model='se_competition' ng-options='b_competitions._id as b_competitions.name for b_competitions in competitions' value="{{competitionId}}"></select>
                </span>
                <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" ng-click="saveMapAs()">{{"admin.lineMapEditor.saveAs" | translate}}</button>
              </span>
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">{{"admin.lineMapEditor.height" | translate}}</span>
                <input type="number" ng-model="height" ng-change="sliderOptions.ceil = height - 1" min="1">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">{{"admin.lineMapEditor.width" | translate}}</span>
                <input type="number" ng-model="width" min="1" >
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">{{"admin.lineMapEditor.length" | translate}}</span>
                <input type="number" ng-model="length" min="1" >
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">Number of the live victim</span>
                <input type="number" ng-model="liveV" min="0" >
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">Number of the dead victim</span>
                <input type="number" ng-model="deadV" min="0" >
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">{{"admin.lineMapEditor.check" | translate}}</span>
                <input type="number" ng-model="numberOfDropTiles" min="0" >
            </div>
            <br><br>
            <input type="checkbox" ng-model="finished" id="isFinished"><label class="checkbox" for="isFinished">{{"admin.lineMapEditor.finished" | translate}}</label><br>
            <div class="error" ng-show="startNotSet()">{{"admin.lineMapEditor.noStart" | translate}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 tools">
            <p><label>{{"admin.lineMapEditor.tileset" | translate}}<select ng-model="tileSet" ng-options="set as set.name for set in tileSets"></select></label></p>
            
            
            <span ng-repeat="tile in tileSet.tiles track by tile.tileType._id" class="toolbox-tile-container">
	<img class="toolbox-tile rot0" ng-src="/images/tiles/{{tile.tileType.image}}" x-lvl-draggable="true" x-lvl-drop-target="true" x-on-drop="dropped(dragEl, dropEl)" tile-id="{{tile.tileType._id}}" rotate-on-click rot="0">
	<span ng-bind="tile.count"></span>
            </span>

            <img>
        </div>
        <div class="col-md-6">
            <div class="btn-group" style="margin-bottom:5px;">
                  <span class="input-group-addon"><i class="fas fa-arrows-alt-v" aria-hidden="true"></i></span>
                  <button type="button" class="btn btn-outline-dark" ng-click="changeFloor(zz)" ng-repeat="zz in range(height)" ng-class="{active: zz == z}">&nbsp;{{zz}}&nbsp;</button>
            </div>
            <div ng-repeat="r in range(length)" class="row">
                <div ng-repeat="c in range(width)" class="slot">
                    <tile tile="tiles[c+','+r+','+z]" x="{{c}}" y="{{r}}" z="{{z}}" x-lvl-draggable="true" x-lvl-drop-target="true" ng-right-click="open(c,r)" ng-click="$parent.rotateTile(c,r)"></tile>
                </div>
            </div>
        </div>
    </div>
</div>
