<nav class="navbar" style="background-color: #e74c3c; color: #ecf0f1; position: fixed; top: 0; z-index:10 ;  width: 100%">
    <!-- Navbar content -->

    <div class="col-md-6 col-sm4 col-12">
        <li class="navbar-brand" href="#"><i class="fa fa-spinner fa-pulse fa-fw"></i> {{team}}</li>
    </div>
    <div class="col-md-3 col-sm4 col-7">
        <i class="fa fa-calculator fa-2x" aria-hidden="true"></i>
        <li class="navbar-brand" href="#"> {{score}} {{'common.point' | translate}}</li>
    </div>
    <div class="col-md-3 col-sm4 col-5">
        <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
        <li class="navbar-brand" href="#"> {{time | date:'mm:ss'}}</li>
    </div>

</nav>
<div class="container">
    <div style="text-align: center;" ng-if="!checked">
        <h4><i class="fa fa-check-circle-o" aria-hidden="true"></i>{{'line.judge.before' | translate}}</h4><br>
        <div id="lops" class="card">
            <h3 class="card-header"><i class="fa fa-info-circle" aria-hidden="true"></i> {{'line.judge.info' | translate}}</h3>
            <table class="table" style="margin-bottom:0;">
                <tbody>
                    <tr>
                        <th>
                            {{'common.competition' | translate}}
                        </th>
                        <td>
                            {{competition.name}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{'common.round' | translate}}
                        </th>
                        <td>
                            {{round}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{'common.field' | translate}}
                        </th>
                        <td>
                            {{field}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{'common.team' | translate}}
                        </th>
                        <td>
                            {{team}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{'common.league' | translate}}
                        </th>
                        <td>
                            {{league}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <button class="btn btn-success" type="button" ng-click="infochecked()"><i class="fa fa-check-circle fa-2x" aria-hidden="true"> {{'line.judge.confirm' | translate}}</i></button>
    </div>
    <div ng-if="checked">
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-primary" style="margin:0 10px 10px 0;" type="button" ng-click="toggleScoring()"><i class="fa fa-calculator" aria-hidden="true"> {{ startedScoring ? 'line.judge.run_end' : 'line.judge.run_start' | translate }}</i></button>
                <button class="btn btn-primary" style="margin:0 10px 10px 0;" type="button" ng-click="toggleTime()"><i class="fa fa-clock-o" aria-hidden="true"> {{ startedTime ? 'line.judge.tim_stop' : 'line.judge.tim_start' |translate }}</i></button>
                <button ng-show="!startedTime && time!=0" class="btn btn-warning" style="margin:0 10px 10px 0;" type="button" ng-click="TimeReset()"><i class="fa fa-clock-o" aria-hidden="true"> {{'line.judge.tim_reset' | translate}}</i></button>
                <div class="alert alert-info" role="alert" ng-show="numberOfDropTiles - placedDropTiles == 0 && !startedScoring && !fromSign">
                    {{'line.judge.ready' | translate}}<br><strong style="font-size:20px;">{{'line.judge.push_start' | translate}}</strong>
                </div>
                <div class="card" ng-if="league == 'LineWL'" ng-show="!startedScoring || fromSign">
                  <h4 class="card-header"><i class="fa fa-ambulance" aria-hidden="true"></i> {{'line.judge.select_elevel' | translate}}</h4>
                  <div class="card-body">
                    <div class="row">
                        <div class="col-md-6" style="position: relative;" ng-click="changeLevel(1)">
                            
                            <img src="/images/level1.png" class="img-thumbnail" width=100% ng-style="{'background-color': evacuationLevel==1?'#2ecc71':'#95a5a6' , 'opacity':evacuationLevel==1?'1':'0.4' }">
                            <div style="position:absolute; top:10px; left:30px;">{{'line.judge.low' | translate}}</div>
                            <div style="position:absolute; bottom:10px; right:25px;" ng-show="evacuationLevel==1"><i class="fa fa-3x fa-check-circle-o " aria-hidden="true" style="color:#27ae60;"></i></div>
                            
                        </div>
                        <div class="col-md-6"  style="position: relative;" ng-click="changeLevel(2)">
                            <img src="/images/level2.png" class="img-thumbnail" width=100% ng-style="{'background-color': evacuationLevel==2?'#2ecc71':'#95a5a6' , 'opacity':evacuationLevel==2?'1':'0.4' }">
                            <div style="position:absolute; top:10px; left:30px;">{{'line.judge.high' | translate}}</div>
                            <div style="position:absolute; bottom:10px; right:25px;" ng-show="evacuationLevel==2"><i class="fa fa-3x fa-check-circle-o" aria-hidden="true" style="color:#27ae60;"></i></div>

                        </div>
                    </div>
                  </div>
                </div>
                <br>

                
                <div class="alert alert-warning" role="alert" ng-show="!startedScoring">
                    {{'line.judge.tap_tile' |translate}}<br> {{'line.judge.remaining' | translate}} <strong style="font-size:30px;">{{numberOfDropTiles - placedDropTiles}}</strong>
                </div>
                <div class="alert alert-info blink" role="alert" ng-show="!startedTime && startedScoring && minutes < 8 && !fromSign">
                    {{'line.judge.push_timer' | translate}}
                </div>
                <div id="card_area" class="scrool" style="overflow: scroll;" ng-show="startedScoring">
                    <div id="lops" class="card">
                        <h3 class="card-header"><i class="fa fa-undo" aria-hidden="true"></i>{{'common.lops' | translate}}</h3>
                        <div class="card-body">

                            <div ng-repeat="dropTile in range(actualUsedDropTiles+1) track by $index" ng-show="startedScoring">
                                <div style="display:flex;" class="card-text">
                                    <div style="width:40%;font-size:10px;" align="center">
                                        {{$index==0?'line.judge.start':'line.judge.checkpoint'|translate}}
                                        <b style="font-size:15px;color:#FF8300;">{{$index==0?'':$index}}</b>
                                        <br>
                                        <i class="fa fa-forward fa-rotate-90" aria-hidden="true"></i>
                                        <br> {{!$last?'line.judge.checkpoint':'line.judge.evacuation' | translate}}
                                        <b style="font-size:15px;color:#FF8300;">{{!$last?$index+1:''}}</b>

                                    </div>
                                    <div style="width:60%;position: relative;">
                                        <div class="input-group" style="width:100%; height:35px;position:absolute;top: 0;bottom: 0;margin: auto;">
                                            <span class="input-group-btn">
                                        <button type="button" class="btn btn-danger" ng-click="decrement($index,$last)">
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                            <div style="background-color: #F2F2F2; width:100px; text-align: center;">
                                                <img src="/images/loader2.gif" alt="" ng-show="processing[$index] == true" style="height:100%; width:auto;">
                                                <span class="count" ng-show="processing[$index] != true">{{LoPs[$index]?LoPs[$index]:0}}</span>
                                            </div>
                                            <span class="input-group-btn">
                                        <button type="button" class="btn btn-success" ng-click="increment($index,$last)">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </span>
                                        </div>
                                    </div>
                                </div>
                                <hr ng-show="!$last" />
                            </div>

                        </div>

                        <h3 class="card-header"><i class="fa fa-ambulance" aria-hidden="true"></i> {{'line.judge.rescue' | translate}}　<span class="badge badge-danger">{{evacuationLevel-1?'line.judge.high':'line.judge.low' | translate}}</span></h3>
                        <div class="card-body">
                            <p class="card-text">{{'line.judge.live' | translate}}<span class="badge badge-info">{{30 + (evacuationLevel-1)*10}}　points /victim</span></p>
                            <div class="input-group" style="width:100%; height:35px;">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-danger"  ng-click="decVictims('live')">
                                        <i class="fa fa-minus" aria-hidden="true"></i>
                                    </button>
                                </span>
                                <div style="background-color: #F2F2F2; width:100px; text-align: center;">
                                    <img src="/images/loader2.gif" alt="" ng-show="rlprocessing" style="height:100%; width:auto;">
                                    <span class="count" ng-show="!rlprocessing">{{rescuedLiveVictims}}</span>
                                </div>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-success" ng-click="incVictims('live')">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <hr>
                        <div class="card-body">
                            <p class="card-text">{{'line.judge.dead' | translate}}<span class="badge badge-info">{{15 + (evacuationLevel-1)*5}} points /victim</span></p>

                            <div class="input-group" style="width:100%; height:35px;">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-danger"  ng-click="decVictims('dead')">
                                        <i class="fa fa-minus" aria-hidden="true"></i>
                                    </button>
                                </span>
                                <div style="background-color: #F2F2F2; width:100px; text-align: center;">
                                    <img src="/images/loader2.gif" alt="" ng-show="rdprocessing" style="height:100%; width:auto;">
                                    <span class="count" ng-show="!rdprocessing">{{rescuedDeadVictims}}</span>
                                </div>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-success" ng-click="incVictims('dead')">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <hr>
                        <div class="card-body">
                            <p class="card-text">{{'line.judge.exit' | translate}}<span class="badge badge-info">20　points</span></p>
                            <input type="checkbox" ng-model="exitBonus" ng-change="changeExitBonus()" id="scoredrun"><label class="checkbox" for="scoredrun">{{'common.sucess' | translate}}</label><br>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{'line.judge.show_up' | translate}} <span class="badge badge-info">3　points</span></p>
                            <input type="checkbox" ng-model="showedUp" ng-change="changeShowedUp()" id="exitcheckbox"><label class="checkbox" for="exitcheckbox">{{'common.sucess' | translate}}</label><br>
                        </div>

                    </div>



                </div>

            </div>
            <div class="col-md-6 tilearea"  ng-if="slider">
                <rzslider rz-slider-model="z" rz-slider-options="slider.options" ng-show="height>1"></rzslider>
                <div ng-repeat="r in range(length)" class="row">
                    <div ng-repeat="c in range(width)" class="slot">
                        <tile tile="mtiles[c+','+r+','+z]" ng-click="doScoring(c,r,z)" ng-if="showtile"></tile>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="margin:50 0 0 0;">
            <div class="col-sm-12">

                <button class="btn btn-primary" style="margin:0 10px 10px 0;" type="button" ng-click="toggleScoring()"><i class="fa fa-calculator" aria-hidden="true"> {{ startedScoring ? 'line.judge.run_end' : 'line.judge.run_start' | translate }}</i></button>
                <button class="btn btn-primary" style="margin:0 10px 10px 0;" type="button" ng-click="toggleTime()"><i class="fa fa-clock-o" aria-hidden="true"> {{ startedTime ? 'line.judge.tim_stop' : 'line.judge.tim_start' |translate }}</i></button>
                    
            </div>
            <div class="col-md-12 confirmation">
                <div>
                    <h4>{{'line.judge.adjust'| translate}}</h4><br>
                    <div class="input-group input-group-lg">
                      <input type="tel" class="form-control" placeholder="" aria-label="min" aria-describedby="sizing-addon1"  min="0" max="8" ng-model="minutes">
                      <span class="input-group-addon" id="sizing-addon1">{{'common.min' | translate}}</span>
                      <input type="tel" class="form-control" placeholder="" aria-label="sec" aria-describedby="sizing-addon1" min="0" max="60" ng-model="seconds">
                      <span class="input-group-addon" id="sizing-addon1">{{'common.sec' | translate}}</span>
                    </div>
                </div>
                <br>
                <strong>
                    {{'line.judge.confirm_text'| translate}}
                </strong>
                <br>
                <div style="text-align:center; margin: 10 10 10 10;">
                    <button class="btn btn-danger" type="button" ng-click="confirm()"><i class="fa fa-arrow-right fa-2x" aria-hidden="true"> {{'line.judge.toSign'| translate}}</i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin:20 0 0 0;">
        <div class="col-md12">
            <button class="btn btn-secondary" style="margin:0 10px 10px 0;" type="button" ng-click="go('/line/' + competition._id)"><i class="fa fa-undo" aria-hidden="true"> {{'common.back' | translate}}</i></button>
        </div>
    </div>
</div>
