<nav class="navbar" style="background-color: #2ecc71; color: #ecf0f1; position: fixed; top: 0; z-index:10 ;  width: 100%">
    <!-- Navbar content -->

    <div class="col-md-8 col-sm8 col-12">
        <li class="navbar-brand" href="#"><i class="fa fa-spinner fa-spin fa-fw"></i> {{team.name}}</li>
    </div>
    <div class="col-md-4 col-sm4 col-12" style="text-align:right;">
        <div ng-if="numberOfDropTiles - placedDropTiles>0">
            <h3>
                残り：{{numberOfDropTiles - placedDropTiles}}　個
            </h3>
        </div>
        <button class="btn btn-danger" type="button" ng-click="quit_setting()" ng-disabled="startedTime" ng-if="checked && (numberOfDropTiles - placedDropTiles == 0)"><i class="fas fa-arrow-right" aria-hidden="true"> チェックポイント設定を終了</i></button>
    </div>
    

</nav>
<div class="container nav-cont">
    <div style="text-align: center;" ng-if="!checked">
        <div id="lops" class="card">
            <h3 class="card-header"><i class="fas fa-info-circle" aria-hidden="true"></i> {{'line.judge.info' | translate}}</h3>
            <table class="table" style="margin-bottom:0;">
                <tbody>
                    <tr ng-style="{backgroundColor: checkTeam? '#e1f7d5' : '#ffbdbd'}" ng-click="toggleCheckTeam()">
                        <th style="width:200px;">
                            {{'common.team' | translate}}
                        </th>
                        <td>
                            <h1><b>{{team.name}}</b></h1>
                        </td>
                    </tr>
                    <tr ng-style="{backgroundColor: checkRound? '#e1f7d5' : '#ffbdbd'}"  ng-click="toggleCheckRound()">
                        <th>
                            {{'common.round' | translate}}
                        </th>
                        <td>
                            <h1><b>{{round}}</b></h1>
                    </tr>
                    <tr>
                        <th>
                            {{'common.competition' | translate}}
                        </th>
                        <td>
                            {{competition.name}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{'common.league' | translate}}
                        </th>
                        <td>
                            {{league}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <div class="row" style="margin-bottom:30px">
            <div class="col-md-6">
                <div class="card">
                    <h3 class="card-header"><i class="far fa-images" aria-hidden="true">{{'interview.me_pic' | translate}}</i></h3>
                    <div class="card-body" ng-style="{backgroundColor: checkMember? '#e1f7d5' : '#ffbdbd'}"  ng-click="toggleCheckMember()">
                       <img class="img-thumbnail" style="max-width: 100%;height: auto;margin-bottom:20px" ng-src="/api/teams/pic/{{competition._id}}/{{team._id}}/member" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <h3 class="card-header"><i class="far fa-images" aria-hidden="true">{{'interview.ma_pic' | translate}}</i></h3>
                    <div class="card-body" ng-style="{backgroundColor: checkMachine? '#e1f7d5' : '#ffbdbd'}" ng-click="toggleCheckMachine()">
                        <div>
                            <img class="img-thumbnail" style="max-width: 100%;height: auto;margin-bottom:20px" ng-src="/api/teams/pic/{{competition._id}}/{{team._id}}/machine" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p ng-show="!(checkTeam && checkRound && checkMember && checkMachine)">{{'line.judge.tap_red' | translate}}</p>
        <button class="btn btn-success" type="button" ng-click="infochecked()" ng-disabled="!(checkTeam && checkRound && checkMember && checkMachine)"><i class="fas fa-check-circle fa-2x" aria-hidden="true"> {{'line.judge.confirm' | translate}}</i></button>
        <br>
        <br>
    </div>
    <div ng-show="checked">
        <div class="row">
            <div class="col-12 tilearea">
                <div style="text-align:left;float:left;">
                    <div class="btn-group">
                        <span class="input-group-addon"><i class="fas fa-arrows-alt-v" aria-hidden="true"></i></span>
                        <button type="button" class="btn btn-outline-dark" ng-click="changeFloor(zz)" ng-repeat="zz in range(height)" ng-class="{active: zz == z}">&nbsp;{{zz}}&nbsp;</button>
                    </div>
                </div>
                <div style="text-align:right;float:right;">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-dark" ng-click="tileRot(-90)">&nbsp;<i class="fas fa-undo" aria-hidden="true"></i>&nbsp;</button>
                        <button type="button" class="btn btn-outline-dark" ng-click="tileRot(90)">&nbsp;<i class="fas fa-redo" aria-hidden="true"></i>&nbsp;</button>
                    </div>
                </div>
                <div style="clear:both;"></div>
                <div class="mx-auto" style="margin-top:5px;" id="wrapTile">
                    <div ng-repeat="r in range(length)" ng-if="sRotate==0" style="display: flex;">
                        <div style="text-align:center;">
                            <div ng-repeat="c in range(width)" class="slot">
                                <tile tile="mtiles[c+','+r+','+z]" ng-click="doScoring(c,r,z)"></tile>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="r in range(length)" ng-if="sRotate==180" style="display: flex;">
                        <div ng-repeat="c in range(width)" class="slot">
                            <tile tile="mtiles[width - c -1+','+(length - r -1)+','+z]" ng-click="doScoring(width - c -1,length - r -1,z)"></tile>
                        </div>
                    </div>
                    <div ng-repeat="r in range(width)" ng-if="sRotate==270" style="display: flex;">
                        <div ng-repeat="c in range(length)" class="slot">
                            <tile tile="mtiles[width - r -1+','+c+','+z]" ng-click="doScoring(width-r-1,c,z)"></tile>
                        </div>
                    </div>
                    <div ng-repeat="r in range(width)" ng-if="sRotate==90" style="display: flex;">
                        <div ng-repeat="c in range(length)" class="slot">
                            <tile tile="mtiles[r+','+ (length - c-1) +','+z]" ng-click="doScoring(r,length-c-1,z)"></tile>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
