//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'LineEditor'

append scripts
  script.
    var mapId = "#{mapid}"
    var competitionId = "#{compid}"

  script(src='/javascripts/line_run_admin.js')
  script(src="/components/angularjs-slider/dist/rzslider.min.js")
  script(src="/javascripts/lvl-uuid.js")
  script(src="/javascripts/line_editor.js")

append css
  link(href="/components/angularjs-slider/dist/rzslider.min.css" rel="stylesheet")
  link(href="/stylesheets/fredrik.css" rel="stylesheet")

block location
    a.breadcrumb-item(href='/home') Home
    a.breadcrumb-item(href='/admin') Admin
    a.breadcrumb-item(ng-href='/admin/{{competitionId}}') {{competition.name}}
    span.breadcrumb-item.active Editor

block content
    include line_editor.html