html(ng-app="ddApp")
  head
    title Rescue Line Judge
    script.
      var runId = "#{id}"

    script(src="/components/angular/angular.min.js")
    script(src="/components/angular-animate/angular-animate.js")
    script(src="/components/jquery/dist/jquery.min.js")
    script(src="/components/angular-bootstrap/ui-bootstrap-tpls.min.js")
    script(src="/components/angularjs-slider/dist/rzslider.min.js")
    script(src="/components/fixed-nav/js/responsive-nav.js")
    

    link(href="/components/bootstrap/dist/css/bootstrap.css" rel="stylesheet")
    link(href="/components/bootstrap/toggle-switch.css" rel="stylesheet")
    link(href="/components/angularjs-slider/dist/rzslider.min.css" rel="stylesheet")
    link(href="/components/css-toggle-switch/dist/toggle-switch.css" rel="stylesheet")
    script(src="/components/sweetalert/dist/sweetalert.min.js")
    link(href="/components/sweetalert/dist/sweetalert.css" rel="stylesheet")
    
    script(src="/javascripts/line_judge.js")
    link(href="/stylesheets/fredrik.css" rel="stylesheet")
    link(href="/stylesheets/style.css" rel="stylesheet")
    link(href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet")

    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0")

  body(ng-controller="ddController")
    include line_judge.html
