<h1>{{team.name}}</h1>
<p>Field：{{field.name}}</p>
<div style="margin-top:50px;">
  <div class="row">
    <div class="col-sm-12">
      <p>
        <button class="btn btn-primary" type="button" ng-click="toggleTime()">Time!{{ startedTime ? 'Stop' : 'Start' }}</button>
        <button class="btn btn-primary" type="button" ng-click="toggleScoring()">Scoring!{{ startedScoring ? 'Stop' : 'Start' }}</button>
      </p>
      <h2>
        Score: {{score}}<br>
        Time: {{time | date:'mm:ss'}}
      </h2>
      <p ng-show="!startedScoring">
        Checkpoints left to be placed: {{numberOfDropTiles - placedDropTiles}}
      </p>
      <p ng-show="startedScoring">
        <input type="checkbox" ng-model="showedUp" ng-change="changeShowedUp()" id="scoredrun"><label class="checkbox" for="scoredrun">Start Scoring Run</label><br>
        <label>Number of LoPs</label>
      </p>
      <p ng-repeat="dropTile in range(actualUsedDropTiles+1) track by $index" ng-show="startedScoring">
         Between <b>{{$index==0?'start':('checkpoint ' + ($index))}}</b> and <b>{{!$last?('checkpoint ' + ($index+1)):'Evacuation Zone'}}</b>:<br>
        <img src="/images/minus.png" alt="-" ng-click="decrement($index,$last)" class="plusminus">
        <span class="count">{{LoPs[$index]?LoPs[$index]:0}}</span>
        <img src="/images/plus.png" alt="+" ng-click="increment($index,$last)" class="plusminus">
      </p>
      <br>
      <p ng-show="startedScoring">
        Number of Rescued Victims: <br>
        <img src="/images/minus.png" alt="-" ng-click="decVictims()" class="plusminus">
        <span class="count">{{rescuedVictims}}</span>
        <img src="/images/plus.png" alt="+" ng-click="incVictims()" class="plusminus">
      </p>
      
    </div>
  </div>
  <div class="row" ng-show="height>1">
    <div class="col-sm-12">
      <rzslider rz-slider-model="z" rz-slider-options="sliderOptions"></rzslider>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div ng-repeat="r in range(length)" class="row">
        <div ng-repeat="c in range(width)" class="slot">
          <tile tile="tiles[c+','+r+','+z]" ng-click="doScoring(c,r,z)"></tile>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
      <div class="col-sm-12">
        
      <p>
          <br>
          <h4>
        Score: {{score}}<br>
        Time: {{time | date:'mm:ss'}}
      </h4>
          <br><br>
        <button class="btn btn-primary" type="button" ng-click="toggleTime()">Time!{{ startedTime ? 'Stop' : 'Start' }}</button>
        <button class="btn btn-primary" type="button" ng-click="toggleScoring()">Scoring!{{ startedScoring ? 'Stop' : 'Start' }}</button>
        <button class="btn btn-primary" type="button" ng-click="retire()">Retire!</button>
      </p>
    </div>
    <div class="col-md-12 confirmation">
      <strong>Time: </strong><br>
      <label><input type="tel" min="0" max="8" ng-model="minutes">min  </label>
      <label><input type="tel" min="0" max="60" ng-model="seconds">sec</label><br>
      
      <strong>
        By clicking the "Sign!" button, you accept that the
          <br>Score：{{score}}<br>Time：{{minutes}}:{{seconds<10?'0':''}}{{seconds}}<br>
        are correct.<br>
        Your team also further undertakes to not appeal the score at a later stage.
      </strong>
        <button class="button-ss button-red-s" ng-click="sign()">Sign!</button>
        <br><br>
    </div>
      <br><br>
  </div>
<br><br>


