html(ng-app="ddApp" style="height:100%;")
  head
    title Rescue Line Inline View
    script.
      var runId = "#{id}"

    script(src="/components/angular/angular.min.js")
    script(src="/components/angular-animate/angular-animate.js")
    script(src="/components/angular-bootstrap/dist/ui-bootstrap-tpls.js")
    script(src="/components/jquery/dist/jquery.min.js")
    script(src="/components/angularjs-slider/dist/rzslider.min.js")
    script(src="/components/socket.io-client/socket.io.js")
    link(href="/components/bootstrap/dist/css/bootstrap.css" rel="stylesheet")
    link(href="/components/angularjs-slider/dist/rzslider.min.css" rel="stylesheet")

    script(src="/javascripts/line_inline_view.js")
    link(href="/stylesheets/fredrik.css" rel="stylesheet")
    link(href="/stylesheets/style.css" rel="stylesheet")
    link(href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0")

  body(ng-controller="ddController" style="paddding-top: 0;")
    include line_inline_view.html
