//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'Lang'

append scripts
  script(src='/javascripts/locales.js')

block location
  a.breadcrumb-item(onclick="location.href='/home'") Home
  span.breadcrumb-item.active Locales
  
append css
  style(type='text/css').
    .circle {
      color: #fff;
      background-color:#7f8c8d;
      padding: 0;
      margin: 0;
      width: 100px;
      height: 100px;
      line-height: 100px;
      text-align: center;
      display: inline-block;
      border-radius: 50%;
      font-size: 40px;
    }
block content
  .row
    .col-md-1
    .col-md-10
      i.fa.fa-language.fa-3x(aria-hidden="true") &nbsp; {{'select_lang' | translate}}
      br
      br
      br
      .row
          .col-md-3(style="text-align: center;" ng-click="changeLanguage('en')")
            p.circle(style="background-color:#2980b9;") EN
            h2 English
          .col-md-3(style="text-align: center; " ng-click="changeLanguage('ja')")
            p.circle(style="background-color:#e74c3c") JA
            h2 日本語
          .col-md-3
          .col-md-3
      
      
      
      
      br
      br
      