//- -*- tab-width: 2 -*-
doctype html
html(ng-app="login" )
  head
    script(src="/components/angular/angular.min.js")
    script(src="/javascripts/login.js")
    link(rel='stylesheet',href='/stylesheets/style-login.css')
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
  body(ng-controller="loginController")
    .login
      .login-triangle
      h2(class="login-header") Staff Login
      form(class="login-container" ng-submit="login()")
        input(type="text" placeholder="Username" ng-model="username" autocapitalize="off" autocorrect="off")
        input(type="password" placeholder="Password" ng-model="password")
        input(type="submit" value="Login")
