//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'login'

append scripts
  script(src='/javascripts/login.js')

block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    span.breadcrumb-item.active Login
block content
  .row
    .col-md-3.col-sm-2
    .col-md-6.col-sm-8
      .alert.alert-secondary(role='alert' ng-if="return") {{'login.return' | translate}}
      .card(style='width: 100%; margin-bottom:50px;')
          .card-body
            .text-center
                h1.card-title 
                    i.fa.fa-unlock-alt(aria-hidden='true')  {{'login.title' | translate}}
                img(src='/images/logo.png', alt='...' style="width:100px;")
                
            br
            h6.card-subtitle.mb-2.text-muted {{'login.description' | translate}}
            hr
            .alert.alert-danger(role='alert' ng-if="isFailed") {{'login.failed' | translate}}
            form(class="login-container" ng-submit="login()")
                .input-group.input-group-lg
                  span#sizing-addon1.input-group-addon
                    i.fa.fa-user.fa-lg(aria-hidden='true')
                  input.form-control(type='email' autocorrect="off" autocapitalize="off" placeholder='Username' aria-label='Username' aria-describedby='sizing-addon1' ng-model="username" ng-class="isFailed?'is-invalid':''")
                br
                .input-group.input-group-lg
                  span#sizing-addon1.input-group-addon
                    i.fa.fa-key(aria-hidden='true')
                  input.form-control(type='password', placeholder='Password', aria-label='Password', aria-describedby='sizing-addon1' ng-model="password" ng-class="isFailed?'is-invalid':''")
                br
                .text-center
                    button.btn.btn-success.btn-lg(type='submit')
                        i.fa.fa-sign-in(aria-hidden='true')  {{'login.login' | translate}}



