//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'MazeCompetition'

append scripts
  script.
    var competitionId = "#{id}"
  script(src='/javascripts/maze_competition.js')


block location
  a.breadcrumb-item(onclick="location.href='/home'") Home
  a.breadcrumb-item(onclick="location.href='/maze'") Maze
  span.breadcrumb-item.active {{competition.name}}


block content
  .row
    .col-md-1
    .col-md-10
      h1 Maze runs - {{competition.name}}
      br
      button(ng-click="go('/maze/' + competition._id + '/score')" class='btn btn-outline-info btn-lg btn-block') Result (preliminary report ranking)
      br
      .refine(style="visibility:hidden")
        form
          label Refine by round
          .filter-round
          label Refine by field
          .filter-arena
      hr
      input#showEnd(type='checkbox', ng-model='show_ended', ng-change='update_list()')
      label.checkbox(for='showEnd') Display ended runs
      br
      center
        .loader
          img(src="/images/loader2.gif")
          p Now Loading...
      table(class="comp")
        thead
          tr
            th Start Time
            th Round
            th Team
            th Field
            th
            th
        tbody
          tr(ng-repeat='run in runs | orderBy:"[startTime,round.name,field.name,team.name]"' runs-read-finished='')
            td(ng-bind='run.startTime | date:"dd EEE HH:mm"' ng-style="{'background-color':run.status>=3?'#ecf0f1':'', 'opacity':run.startTime<curTime?'0.5':''}")
            td(ng-bind='run.round.name' ng-style="{'background-color':run.status>=3?'#ecf0f1':'', 'opacity':run.startTime<curTime?'0.5':''}")
            td(ng-bind='run.team.name' ng-style="{'background-color':run.status>=3?'#ecf0f1':'', 'opacity':run.startTime<curTime?'0.5':''}")
            td(ng-bind='run.field.name' ng-style="{'background-color':run.status>=3?'#ecf0f1':'', 'opacity':run.startTime<curTime?'0.5':''}")
            td
              button(ng-click="go('/maze/view/' + run._id)" class='btn btn-info') View

            td(ng-style="{'background-color':run.status>=3?'#ecf0f1':'', 'opacity':run.startTime<curTime?'0.5':''}")
              button(ng-click="no_judge()" class='btn btn-danger' ng-if="run.status>=3" ) Judge
              button(ng-click="go_judge('/maze/judge/' + run._id)" class='btn btn-danger' ng-if="run.status<3" ) Judge
      br
      br
      br
