//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'MazeScore'

append scripts
  script.
    var competitionId = "#{id}"
    var league = "#{league}"
    var UseRunsNumber = "#{num}"
    var get = !{JSON.stringify(get)}
  script(src = '/components/datatables/media/js/jquery.dataTables.min.js')
  script(src = '/components/angular-datatables/demo/src/archives/dist/angular-datatables.min.js')
  script(src='/javascripts/maze_score.js')


block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click='go("/home/"+ competitionId )') {{competition.name}}
    a.breadcrumb-item(ng-click='go("/maze/"+ competitionId )') Maze
    span.breadcrumb-item.active {{league.name}} Score

block content
  .row
  .col-md12
    button.btn.btn-secondary(style='margin:0 10px 10px 0;', type='button', ng-click="go('/maze/' + competitionId)")
      i.fa.fa-undo(aria-hidden='true') {{'common.back' | translate}}
  br

  .alert.alert-success(role='alert' ng-if="competition.message")
    h4.alert-heading {{'common.message' | translate}}
    p(ng-bind-html="competition.message")
  center
    .loader(ng-if="mazeRuns==null")
      img(src="/images/loader2.gif")
      p {{'common.loading' | translate}}
  div(ng-if="mazeRuns!=null")
    .row
      .col-md-12
        .row#rank
          .col-md-12
            h3 [{{'maze.score.rank' | translate}}] {{league.name}}
            table.custom(style="overflow: scroll;")
              thead
                tr
                  th.text-center {{'common.rank' | translate}}
                  th.text-center {{'common.team' | translate}}
                  th.text-center {{'common.score' | translate}}
                  th.text-center {{'common.time' | translate}}
                  th.text-center {{'maze.score.exit' | translate}}
                  th.text-center {{'common.lops' | translate}}
                  th.text-center {{'maze.score.found' | translate}}
              tbody
                tr(ng-repeat='run in mazeRunsTop track by $index')
                  td.text-center(ng-bind='$index + 1')
                  td.text-center(ng-bind='run.team.name')
                  td.text-center(ng-bind='run.score')
                  td.text-center {{("00"+run.time.minutes).slice(-2)}}:{{("00"+run.time.seconds).slice(-2)}}
                  td.text-center(ng-bind='run.exit')
                  td.text-center(ng-bind='run.lops')
                  td.text-center(ng-bind='run.found')

        .row
          hr
        .row#allRuns
          .col-md-12
            h3 [{{'maze.score.all' | translate}}] {{league.name}}
            label {{'maze.score.sort' | translate}}
              input(type="checkbox" style='display:inline;' ng-model="sortOrder" ng-true-value="'[startTime,round.name,field.name,team.name]'" ng-false-value="'-score'")
            label &nbsp;&nbsp;&nbsp;&nbsp;{{'maze.score.team' | translate}}
              input(type="checkbox" style='display:inline;' ng-model="sortOrder" ng-true-value="'[team.name,startTime]'" ng-false-value="'-score'")
            table.custom(style="overflow: scroll;")
              thead
                tr
                  th.text-center {{'common.team' | translate}}
                  th.text-center {{'common.round' | translate}}
                  th.text-center {{'common.field' | translate}}
                  th.text-center {{'common.score' | translate}}
                  th.text-center {{'common.time' | translate}}
                  th.text-center {{'maze.score.exit' | translate}}
                  th.text-center {{'common.lops' | translate}}
                  th.text-center {{'maze.score.found' | translate}}
              tbody
                tr(ng-repeat='run in mazeRuns | orderBy:sortOrder')
                  td.text-center(ng-bind='run.team.name')
                  td.text-center(ng-bind='run.round.name')
                  td.text-center(ng-bind='run.field.name')
                  td.text-center(ng-bind='run.score')
                  td.text-center {{("00"+run.time.minutes).slice(-2)}}:{{("00"+run.time.seconds).slice(-2)}}
                  td.text-center
                      i(class="fas fa-check" aria-hidden="true" style="color:#2ecc71;" ng-if="run.exitBonus")
                      i(class="fas fa-times" aria-hidden="true" style="color:#e74c3c;" ng-if="!run.exitBonus")
                  td.text-center(ng-bind='run.LoPs')
                  td.text-center(ng-bind='run.foundVictims')
