//- -*- tab-width: 2 -*-
extends includes/signage_layout

block vars
  - var ngAppDef = 'MazeScore'

append scripts
  script.
    var competitionId = "#{id}"
    var get = !{JSON.stringify(get)}
  script(src = '/components/datatables/media/js/jquery.dataTables.min.js')
  script(src = '/components/angular-datatables/demo/src/archives/dist/angular-datatables.min.js')
  script(src='/javascripts/maze_score.js')


block content
      .row(style="height:8vh")
        .col-2
          | Last Update: 
          | {{updateTime}}
        .col-5
          div(style="text-align:center")
            img(src="/images/ranking/Maze-ranking.png" style="height:8vh;")
        .col-5
          div(style="text-align:right;font-size:1vw")
            div(ng-if="top3") あと {{time}}秒で，全体順位を表示します
            div(ng-if="!top3") あと {{time}}秒で，上位3チームを表示します
      div(ng-repeat='run in mazeRunsTop |limitTo:3 track by $index' ng-show="top3")
        .row(style="height:29vh")
            .col-9
               img(ng-src="/images/ranking/{{$index+1}}.png" style="height:29vh;float: left;")
               div(style="margin-left:35vh;")
                   div(style="position:relative; top:3vh; font-size: 6vh;") {{run.team.code}}
                       div(style="position:relative; top:5vh; font-size:10vh; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;") {{run.team.name_only}}


            .col-3
                ul.list-group(style="height:100%;font-size:4vh;")
                  li.list-group-item(style="border:3px solid #636e72;padding:1vh")
                    i.fas.fa-calculator.fa-fw &nbsp;&nbsp;&nbsp;{{run.score}}&nbsp;点
                  li.list-group-item(style="border:3px solid #636e72;padding:1vh;border-top:0px;")
                    i.fas.fa-stopwatch.fa-fw &nbsp;&nbsp;&nbsp;{{("00"+run.time.minutes).slice(-2)}}:{{("00"+run.time.seconds).slice(-2)}}
                  li.list-group-item(style="border:3px solid #636e72;padding:1vh;border-top:0px;")
                    i.fas.fa-home.fa-fw &nbsp;&nbsp;{{run.exit}}&nbsp;回
                  li.list-group-item(style="border:3px solid #636e72;padding:1vh;border-top:0px;")
                    i.fas.fa-child.fa-fw &nbsp;&nbsp;&nbsp;{{run.found}}&nbsp;体
        hr(color="#636e72" style="margin-top:1vh;margin-bottom:1vh;")
      table.custom(style="overflow: scroll;font-size:20px;" ng-hide="top3")
        thead
          tr
            th.text-center {{'common.rank' | translate}}
            th.text-center {{'common.team' | translate}}
            th.text-center {{'common.score' | translate}}
            th.text-center {{'common.time' | translate}}
            th.text-center {{'maze.score.exit' | translate}}
            th.text-center {{'maze.score.found' | translate}}
            th.text-center {{'common.lops' | translate}}
            
        tbody
          tr(ng-repeat='run in mazeRunsTop track by $index')
            td.text-center(ng-bind='$index + 1')
            td.text-center(ng-bind='run.team.name')
            td.text-center(ng-bind='run.score')
            td.text-center {{("00"+run.time.minutes).slice(-2)}}:{{("00"+run.time.seconds).slice(-2)}}
            td.text-center(ng-bind='run.exit')
            td.text-center(ng-bind='run.found')
            td.text-center(ng-bind='run.lops')
            
        