//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'MazeEditor'

append scripts
  script.
    var mapId = "#{mapid}"
    var competitionId = "#{compid}"

  script(src="/components/angularjs-slider/dist/rzslider.min.js")
  script(src="/javascripts/lvl-uuid.js")
  script(src="/javascripts/maze_editor.js")

append css
  link(href="/components/angularjs-slider/dist/rzslider.min.css" rel="stylesheet")
  link(href="/stylesheets/maze.css" rel="stylesheet")

block location
    a.breadcrumb-item(href='/home') Home
    a.breadcrumb-item(href='/admin') Admin
    a.breadcrumb-item(ng-href='/admin/{{competitionId}}') {{competition}}
    a.breadcrumb-item(ng-href='/admin/{{competitionId}}/maze/maps') Maze maps
    span.breadcrumb-item.active Maze editor

block content
    include maze_editor.html
