//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'MazeScore'

append scripts
  script.
    var competitionId = "#{id}"
    var get = !{JSON.stringify(get)}
  script(src = '/components/datatables/media/js/jquery.dataTables.min.js')
  script(src = '/components/angular-datatables/dist/angular-datatables.min.js')
  script(src="/components/socket.io-client/socket.io.js")
  script(src='/javascripts/maze_score.js')

append css
  link(rel='stylesheet', href='/components/datatables/media/css/jquery.dataTables.min.css')
  style(type='text/css').
    table {
      width: 100%;
      border-collapse: collapse;
    }

    table td {
      padding: 7px;
      border: #4e95a4 1px solid;
    }

    table thead {
      background: #a8d1f3;
    }

    table tbody tr:hover {
      background: #A0A0FF;
    }

block location
    a.breadcrumb-item(onclick="location.href='/home'") Home
    a.breadcrumb-item(onclick="location.href='/maze'") Maze
    a.breadcrumb-item(ng-click='go("/maze/"+ competitionId )') {{competition.name}}
    span.breadcrumb-item.active Score

block content
  .row
    .col-md-1
    .col-md-10
      .row#rank
        .col-md-12
          h3 Maze - Rank
          h6 Showing sum of the 2 best rounds
          table
            thead
              tr
                th.text-center Rank
                th.text-center Team
                th.text-center Score sum
                th.text-center Total time
            tbody
              tr(ng-repeat='run in mazeRunsTop track by $index')
                td.text-center(ng-bind='$index + 1')
                td.text-center(ng-bind='run.team.name')
                td.text-center(ng-bind='run.score')
                td.text-center {{("00"+run.time.minutes).slice(-2)}}:{{("00"+run.time.seconds).slice(-2)}}
      .row
        hr
      .row#allRuns
        .col-md-12
          h3 Maze - All rounds
          label Sort by round:
            input(type="checkbox" style='display:inline;' ng-model="sortOrder" ng-true-value="'[startTime,round.name,field.name,team.name]'" ng-false-value="'-score'")
          //span {{sortOrder}}
          table
            thead
              tr
                th.text-center Team
                th.text-center Round
                th.text-center Field
                th.text-center Score
                th.text-center Time
            tbody
              tr(ng-repeat='run in mazeRuns | orderBy:sortOrder')
                td.text-center(ng-bind='run.team.name')
                td.text-center(ng-bind='run.round.name')
                td.text-center(ng-bind='run.field.name')
                td.text-center(ng-bind='run.score')
                td.text-center {{("00"+run.time.minutes).slice(-2)}}:{{("00"+run.time.seconds).slice(-2)}}