//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'RunAdmin'

append scripts
  script.
    var competitionId = "#{id}"
  script(src = '/components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js')
  script(src = '/components/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js')
  script(src='/javascripts/maze_run_admin.js')

append css
  link(rel='stylesheet' href='/components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css')

  style(type='text/css').
    .uib-time input {
      padding-left: 0;
      padding-right: 0;
      width: 2.5em;
      margin-right: 0;
    }

    .uib-timepicker .btn {
      padding-left: 6px;
      padding-right: 6px;
    }

block location
  a.breadcrumb-item(ng-click="go('/home')") Home
  a.breadcrumb-item(ng-click="go('/admin')") Admin
  a.breadcrumb-item(ng-click="go('/admin/'+competitionId)") {{competition.name}}
  span.breadcrumb-item.active Maze runs

block content
  .row
    .col-md-1
    .col-md-10
      h1 {{competition.name}} - {{"admin.mazeRun.title" | translate}}
      table.custom
        thead
          tr
            th {{"common.round" | translate}}
            th {{"common.team" | translate}}
            th {{"common.map" | translate}}
            th {{"common.field" | translate}}
            th {{"common.starttime" | translate}}
            th {{"common.operation" | translate}}
        tbody
          tr
            td
              select(ng-model='run.round' ng-options='round as round.name for round in rounds')
            td
              select(ng-model='run.team' ng-options='team as team.name for team in teams')
            td
              select(ng-model='run.map' ng-options='map as map.name for map in maps')
            td
              select(ng-model='run.field' ng-options='field as field.name for field in fields')
            td
              p.input-group
                span.input-group-btn
                  button.btn.btn-info(type="button" ng-click="openStartDate()")
                    i.fa.fa-calendar(aria-hidden='true')
                input.form-control(type="text" uib-datepicker-popup ng-model="startDate" ng-change="updateStartTime()" is-open="startDatePopup.opened" datepicker-options="startDateOptions" close-text="Close")
              div(uib-timepicker ng-model="startTime" ng-change="updateStartTime()" hour-step="1" minute-step="5" show-meridian="false" show-spinners='true')
            td
              button(ng-click='addRun()') {{"admin.mazeRun.add" | translate}}
      a(ng-href='/admin/{{competitionId}}/maze/runs/bulk') {{"admin.mazeRun.bulk" | translate}}
      
      .refine
        .card.border-dark.mb-3(style='width:100%;')
          .card-header.bg-transparent.border-dark.fa-2x
            i.fas.fa-search(aria-hidden='true') {{'line.competition.refine.filter' | translate}}
          .card-body.text-dark
            h6.card-title {{'line.competition.refine.round' | translate}}
            span(ng-repeat='(key, value) in Rrounds track by key')
              input(type='checkbox' ng-model='Rrounds[key]' id="checkR_{{key}}")
              label.checkbox(for="checkR_{{key}}") {{key}}
            hr
            h6.card-title {{'line.competition.refine.field' | translate}}
            span(ng-repeat='(key, value) in Rfields track by key')
              input(type='checkbox' ng-model='Rfields[key]' id="checkF_{{key}}")
              label.checkbox(for="checkF_{{key}}") {{key}}
            hr
            h6.card-title {{'line.competition.refine.team' | translate}}
            .input-group
              span#basic-addon1.input-group-addon
                i.fas.fa-users(aria-hidden='true')
              input.form-control(type='text', placeholder='Team name', aria-label='Username', aria-describedby='basic-addon1' ng-model='teamName')
      div
          button(ng-click="selectAll()" class='btn btn-primary' style="margin: 5px 5px 5px 5px;") {{"admin.mazeRun.selectAll" | translate}}
          button(ng-click="removeSelectedRun()" class='btn btn-danger' style="margin: 5px 5px 5px 5px;") {{"admin.mazeRun.delS" | translate}}
          button(ng-click="go('/admin/'+ competitionId +'/maze/runs/monitor')" class='btn btn-success' style="margin: 5px 5px 5px 5px; text-align:right;") {{"admin.mazeRun.monitor" | translate}}
      center
        .loader
          img(src="/images/loader2.gif")
          p Now Loading...
      table.custom
        thead
          tr
            th
            th {{"common.starttime" | translate}}
            th {{"common.round" | translate}}
            th {{"common.team" | translate}}
            th {{"common.field" | translate}}
            th {{"common.score" | translate}}
            th {{"common.time" | translate}}
            th {{"admin.mazeRun.status" | translate}}
            th {{"common.comment" | translate}}
            //th
            th {{"common.operation" | translate}}
        tbody
          tr(ng-repeat='run in runs | filter:list_filter | orderBy:"[startTime,round.name,field.name,team.name]"' runs-read-finished='')
            td
                input(type='checkbox' ng-model='run.checked' style="display:initial;")
            td(ng-bind='run.startTime | date:"dd EEE HH:mm"' ng-style="{'background-color':run.status==5?'#bdafdb':''}" )
            td(ng-bind='run.round.name' ng-style="{'background-color':run.status==5?'#bdafdb':''}" )
            td(ng-bind='run.team.name' ng-style="{'background-color':run.status==5?'#bdafdb':''}")
            td(ng-bind='run.field.name' ng-style="{'background-color':run.status==5?'#bdafdb':''}")
            td(ng-bind='run.score' ng-style="{'background-color':run.status==5?'#bdafdb':''}")
            td(ng-bind="run.time.minutes*60*1000+run.time.seconds*1000 | date:'mm:ss'" ng-style="{'background-color':run.status==5?'#bdafdb':''}")
            td(ng-style="{'background-color':run.status==4?'#ffadad':''}")
              span(ng-if="run.status==0") {{"admin.mazeRun.st0" | translate}}
              span(ng-if="run.status==1") {{"admin.mazeRun.st1" | translate}}
              span(ng-if="run.status==2") {{"admin.mazeRun.st2" | translate}}
              span(ng-if="run.status==3") {{"admin.mazeRun.st3" | translate}}
              span(ng-if="run.status==4") {{"admin.mazeRun.st4" | translate}}
              span(ng-if="run.status==5") {{"admin.mazeRun.st5" | translate}}
            td(ng-style="{'background-color':run.status==5?'#bdafdb':''}")
              button(uib-popover="{{run.comment}}" popover-trigger="'outsideClick'" type="button" class="btn btn-default" ng-disabled="run.comment==''") {{"common.comment" | translate}}
            
            td(ng-style="{'background-color':run.status==5?'#bdafdb':''}")
              //a(href="" ng-click='removeRun(run._id)') {{"common.delete" | translate}}
              .dropdown
                  button#dropdownMenu.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') {{"common.action" | translate}}
                  .dropdown-menu(aria-labelledby='dropdownMenu')
                    button.dropdown-item(type='button' ng-click="go('/maze/view/' + run._id)") {{"common.view" | translate}}
                    button.dropdown-item(type='button' ng-click="go_judge(run._id)") {{"common.judge" | translate}}
                    button.dropdown-item(type='button' ng-click="go_sign(run._id)") {{"common.sign" | translate}}
                    button.dropdown-item(type='button' ng-click="go_approval(run._id)") {{"common.approval" | translate}}
                    .dropdown-divider
                    button.dropdown-item(type='button' ng-click='removeRun(run._id)') {{"common.delete" | translate}}

