<h1>Rescue Maze map editor</h1>
<p>Press the walls to create a new layout</p>

<div ng-controller="ddController" style="margin-top:50px;">
  <div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary" type="button" ng-click="saveMap()">Save map</button><br>
      <label>Name of design: <input type="text" ng-model="name"></label><br>
      <label>Max height: <input type="number" ng-model="height" ng-change="sliderOptions.ceil = height - 1" min="1"></label><br>
      <label>Max width: <input type="number" ng-model="width" min="1" ></label><br>
      <label>Max length: <input type="number" ng-model="length" min="1" ></label><br>
      <label>Number of checkpoints: <input type="number" ng-model="numberOfCheckpoints" min="0" ></label><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <rzslider rz-slider-model="z" rz-slider-options="sliderOptions" ng-show="height > 1"></rzslider>
    </div>
    <div class="col-md-10">
      <table>
      <tr ng-repeat="r in range(length)">
	<td ng-repeat="c in range(width)" ng-class-even="$parent.$even?wall:cell" ng-class-odd="$parent.$even?cell:wall"></td>
	<td ng-class="$parent.$even?wall:cell"></td>
      </tr>
      </table>
    </div>
  </div>
</div>


