html
  head
    title Rescue Maze Map Editor
    script.
      var mapId = "#{id}"

    script(src="/components/angular/angular.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-animate.js")
    script(src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.2.5.js")
    script(src="/components/angularjs-slider/dist/rzslider.min.js")

    link(href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
    link(href="/components/angularjs-slider/dist/rzslider.min.css" rel="stylesheet")
    script(src="/javascripts/lvl-uuid.js")
    script(src="/javascripts/maze_editor.js")
    link(href="/stylesheets/maze.css" rel="stylesheet")



  body(ng-app="ddApp")
    include maze_editor.html