html(ng-app="ddApp")
  head
    title Rescue Maze Judge
    script.
      var runId = "#{id}"

    include ./includes/common_component
    script(src="/javascripts/maze_judge."+rule+".js")
    script(src="/javascripts/score_calc."+rule+".js")
    script(src="/javascripts/deflate.js")
    script(src="/javascripts/jquery.qrcode.min.js")
    script(src="/javascripts/makeQR.js")
    script(src="/javascripts/translate_config.js")
    script(src='/components/lightbox2/dist/js/lightbox.min.js')

    link(rel='stylesheet',href='/components/lightbox2/dist/css/lightbox.min.css')
    link(href="/stylesheets/fredrik.css" rel="stylesheet")

    link(href="/stylesheets/maze.css" rel="stylesheet")

    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0")


  body(ng-controller="ddController")
    nav.navbar(style='background-color: #e74c3c; color: #ecf0f1; position: fixed; top: 0; z-index:10 ;  width: 100%')
      // Navbar content
      .col-md-6.col-sm4.col-12
        li.navbar-brand(href='#', ng-show='!networkError')
          i.fas.fa-sync(ng-class="{'fa-spin' : sync > 0}")
          |  {{team.name}}
        li.navbar-brand(href='#', ng-show='networkError')
          i.fas.fa-exclamation-triangle(style='color: #f1c40f;')
          |  Network ERROR {{team.name}}
      .col-md-3.col-sm4.col-7
        i.fas.fa-calculator.fa-2x(aria-hidden='true')
        li.navbar-brand(href='#')  {{score}} {{'common.point' | translate}}
      .col-md-3.col-sm4.col-5
        i.fas.fa-stopwatch.fa-2x(aria-hidden='true')
        li.navbar-brand(href='#')  {{time | date:'mm:ss'}}
    .container.nav-cont
      div(style='text-align: center;', ng-if='!checked')
        h4
          i.far.fa-check-circle(aria-hidden='true')
          | {{'maze.judge.before' | translate}}
        br
        #lops.card
          h3.card-header
            i.fas.fa-info-circle(aria-hidden='true')
            |  {{'maze.judge.info' | translate}}
          table.table(style='margin-bottom:0;')
            tbody
              tr(ng-style="{backgroundColor: checkTeam? '#e1f7d5' : '#ffbdbd'}", ng-click='toggleCheckTeam()')
                th
                  | {{'common.team' | translate}}
                td
                  h1
                    b {{team.name}}
              tr(ng-style="{backgroundColor: checkRound? '#e1f7d5' : '#ffbdbd'}", ng-click='toggleCheckRound()')
                th
                  | {{'common.round' | translate}}
                td
                  h2
                    b {{round}}
              tr
                th
                  | {{'common.competition' | translate}}
                td
                  | {{competition.name}}
              tr
                th
                  | {{'common.field' | translate}}
                td
                  | {{field}}
              tr
                th
                  | {{'common.league' | translate}}
                td
                  | {{league}}
              tr
                th
                  | {{'common.rule' | translate}}
                td
                  | #{rule}
        br
        br
        .row(style='margin-bottom:30px')
          .col-md-6
            .card
              h3.card-header
                i.far.fa-images(aria-hidden='true') {{'interview.me_pic' | translate}}
              .card-body(ng-style="{backgroundColor: checkMember? '#e1f7d5' : '#ffbdbd'}", ng-click='toggleCheckMember()')
                img.img-thumbnail(style='max-width: 100%;height: auto;margin-bottom:20px', ng-src='/api/teams/pic/{{competition._id}}/{{team._id}}/member')
          .col-md-6
            .card
              h3.card-header
                i.far.fa-images(aria-hidden='true') {{'interview.ma_pic' | translate}}
              .card-body(ng-style="{backgroundColor: checkMachine? '#e1f7d5' : '#ffbdbd'}", ng-click='toggleCheckMachine()')
                div
                  img.img-thumbnail(style='max-width: 100%;height: auto;margin-bottom:20px', ng-src='/api/teams/pic/{{competition._id}}/{{team._id}}/machine')
        p(ng-show='!(checkTeam && checkRound && checkMember && checkMachine)') {{'maze.judge.tap_red' | translate}}
        button.btn.btn-success(type='button', ng-click='infochecked()', ng-disabled='!(checkTeam && checkRound && checkMember && checkMachine)')
          i.fas.fa-check-circle.fa-2x(aria-hidden='true')  {{'maze.judge.confirm' | translate}}
      div(ng-show='checked')
        .alert.alert-warning(role='alert', ng-show='networkError')
          h4.alert-heading {{'maze.judge.networkError' | translate}}
          .row
            .col-md-10
              p {{'maze.judge.networkErrorDescription' | translate}}
            .col-md-2
              button.btn.btn-warning(type='button', ng-click='saveEverything()') {{'maze.judge.reSend' | translate}}
        .row
          .col-md-4.col-lg-3(style='margin-bottom:30px;')
            if rule == '2019(Draft)'
                button.btn.btn-primary(style='margin:0 10px 10px 0;', type='button', ng-click='toggleScoring()')
                  i.far.fa-clipboard(aria-hidden='true')
                    | {{ startedScoring ? ',maze.judge.run_end' : 'maze.judge.run_start' | translate }}
            button.btn.btn-success(style='margin:0 10px 10px 0;', type='button', ng-click='toggleTime()')
              i.fas.fa-stopwatch(aria-hidden='true')  {{ startedTime ? 'maze.judge.tim_stop' : 'maze.judge.tim_start' |translate }}
            button.btn.btn-warning(ng-show='!startedTime && time!=0', style='margin:0 10px 10px 0;', type='button', ng-click='timeReset()')
              i.fas.fa-stopwatch(aria-hidden='true')  {{'maze.judge.tim_reset' | translate}}
            .alert.alert-info.blink(role='alert', ng-show='!startedTime && minutes < 8')
              | {{'maze.judge.push_timer' | translate}}
            #card_area.scrool(style='overflow: scroll;')
              .card(ng-show='(score == 0 && !diced && (MisIdent == 0 || !MisIdent))&&!startedScoring')
                h4.card-header
                  i.far.fa-map(aria-hidden='true')
                  |  {{'maze.judge.pat' | translate}}
                .card-body
                  button.btn.btn-primary(style='margin:0 10px 10px 0;', type='button', ng-click='randomDice()')
                    i.fas.fa-random(aria-hidden='true') {{'maze.judge.random' | translate}}
                  .row
                    .col-4(style='padding:0 0 0 0;position: relative;', ng-repeat='i in range(6)')
                      img.img-thumbnail(ng-src='/images/dice/{{i+1}}.png', width='100%', ng-style="{'background-color': diceSelect==i?'#2ecc71':'#95a5a6' , 'opacity':diceSelect==i?'1':'0.7' }", ng-click='changeMap(i)')
              .card(ng-show='(diced || score > 0 || MisIdent > 0) || startedScoring')
                h3.card-header
                  i.fas.fa-step-forward(aria-hidden='true')
                  |  {{'common.lops' | translate}}
                .card-body
                  p.card-text
                    b {{'maze.judge.total_lops' | translate}}
                    br
                  .input-group(style='width:100%; height:35px;')
                    span.input-group-btn
                      button.btn.btn-danger(type='button', ng-click='decrement()')
                        i.fas.fa-minus(aria-hidden='true')
                    div(style='background-color: #F2F2F2; width:100px; text-align: center;')
                      span.count {{LoPs}}
                    span.input-group-btn
                      button.btn.btn-success(type='button', ng-click='increment()')
                        i.fas.fa-plus(aria-hidden='true')
                  img(ng-src='/api/runs/maze/scoresheetimg/{{runId}}/lop', style='width: 100%', ng-if='fromApproval')
                  p
                h3.card-header
                  i.fas.fa-home(aria-hidden='true')
                  | {{'common.other' | translate}}
                .card-body
                  if rule == '2019(Draft)'
                    .col-md-12(style='position: relative;')
                      strong {{'maze.judge.misidentification' | translate}}
                      br
                      .input-group(style='width:100%; height:35px;')
                        span.input-group-btn
                          button.btn.btn-danger(type='button', ng-click='decrementMis()')
                            i.fas.fa-minus(aria-hidden='true')
                        div(style='background-color: #F2F2F2; width:100px; text-align: center;')
                          span.count {{MisIdent}}
                        span.input-group-btn
                          button.btn.btn-success(type='button', ng-click='incrementMis()')
                            i.fas.fa-plus(aria-hidden='true')
                      img(ng-src='/api/runs/maze/scoresheetimg/{{runId}}/misidentification', style='width: 100%', ng-if='fromApproval')
                    br
                  .col-md-12(style='position: relative;', ng-click='changeExitBonus()')
                    strong {{'maze.judge.return' | translate}}
                    br
                    img.img-thumbnail(src='/images/maze_bonus.png', width='100px', height='100px', ng-style="{'background-color': exitBonus?'#2ecc71':'#D91E18'}")
                    div(style='position:absolute; top:30px; left:25px;')
                      i.fas.fa-check.fa-fw.fa-5x(ng-show='exitBonus', style='color:#27ae60; opacity:0.9;')
                      i.fas.fa-times.fa-fw.fa-5x(ng-show='!exitBonus', style='padding-top:4px; color:#e74c3c; opacity:0.9;')
                  img(ng-src='/api/runs/maze/scoresheetimg/{{runId}}/exitBonus', style='width: 100%', ng-if='fromApproval')
          .col-md-8.col-lg-9.tilearea
            div(style='text-align:left;float:left;')
              .btn-group
                span.input-group-addon
                  i.fas.fa-arrows-alt-v(aria-hidden='true')
                button.btn.btn-outline-dark(type='button', ng-click='changeFloor(zz)', ng-repeat='zz in range(height)', ng-class='{active: zz == z}')  {{zz}} 
            div(style='text-align:right;float:right;')
              .btn-group
                button.btn.btn-outline-dark(type='button', ng-click='tileRot(-90)')
                  i.fas.fa-undo(aria-hidden='true')
                button.btn.btn-outline-dark(type='button', ng-click='tileRot(90)')
                  i.fas.fa-redo(aria-hidden='true')
            div(style='clear:both;')
            #wrapTile.mx-auto(style='margin-top:5px;')
              table.map(ng-if='sRotate == 0')
                tbody
                  tr(ng-repeat='r in range(2*length + 1)')
                    td.cell(ng-repeat='c in range(2*width + 1)', ng-class="{'tile': $odd && $parent.$odd, 'wall': cells[c+','+r+','+z].isWall, 'checkpoint': cells[c+','+r+','+z].tile.checkpoint, 'black': cells[c+','+r+','+z].tile.black, 'linear': cells[c+','+r+','+z].isLinear}", ng-click='cellClick(c, r, z, $odd != $parent.$odd, $odd && $parent.$odd)')
                      .tile-image-container(ng-show="cells[c+','+r+','+z].isTile")
                        img.tile-image(ng-src='/images/log.png', ng-show="cells[c+','+r+','+z].tile.speedbump")
                        img.tile-image(ng-src='/images/elevator.png', ng-show="!isUndefined(cells[c+','+r+','+z].tile.changeFloorTo) && cells[c+','+r+','+z].tile.changeFloorTo != z")
                        img.tile-image(ng-src='/images/start.png', ng-show='startTile.x == c && startTile.y == r && startTile.z == z')
                        img.tile-image(ng-src='/images/ramp_top.png', ng-show="cells[c+','+r+','+z].tile.rampTop")
                        img.tile-image(ng-src='/images/ramp_bottom.png', ng-show="cells[c+','+r+','+z].tile.rampBottom")
                        img.tile-image(ng-src='/images/heated_top.png', ng-show="cells[c+','+r+','+z].tile.victims.top == 'Heated'")
                        img.tile-image(ng-src='/images/heated_right.png', ng-show="cells[c+','+r+','+z].tile.victims.right == 'Heated'")
                        img.tile-image(ng-src='/images/heated_bottom.png', ng-show="cells[c+','+r+','+z].tile.victims.bottom == 'Heated'")
                        img.tile-image(ng-src='/images/heated_left.png', ng-show="cells[c+','+r+','+z].tile.victims.left == 'Heated'")
                        img.tile-image(ng-src='/images/h_top.png', ng-show="cells[c+','+r+','+z].tile.victims.top == 'H'")
                        img.tile-image(ng-src='/images/h_right.png', ng-show="cells[c+','+r+','+z].tile.victims.right == 'H'")
                        img.tile-image(ng-src='/images/h_bottom.png', ng-show="cells[c+','+r+','+z].tile.victims.bottom == 'H'")
                        img.tile-image(ng-src='/images/h_left.png', ng-show="cells[c+','+r+','+z].tile.victims.left == 'H'")
                        img.tile-image(ng-src='/images/s_top.png', ng-show="cells[c+','+r+','+z].tile.victims.top == 'S'")
                        img.tile-image(ng-src='/images/s_right.png', ng-show="cells[c+','+r+','+z].tile.victims.right == 'S'")
                        img.tile-image(ng-src='/images/s_bottom.png', ng-show="cells[c+','+r+','+z].tile.victims.bottom == 'S'")
                        img.tile-image(ng-src='/images/s_left.png', ng-show="cells[c+','+r+','+z].tile.victims.left == 'S'")
                        img.tile-image(ng-src='/images/u_top.png', ng-show="cells[c+','+r+','+z].tile.victims.top == 'U'")
                        img.tile-image(ng-src='/images/u_right.png', ng-show="cells[c+','+r+','+z].tile.victims.right == 'U'")
                        img.tile-image(ng-src='/images/u_bottom.png', ng-show="cells[c+','+r+','+z].tile.victims.bottom == 'U'")
                        img.tile-image(ng-src='/images/u_left.png', ng-show="cells[c+','+r+','+z].tile.victims.left == 'U'")
                        i.fas.fa-check.fa-fw.tile-image.tile-font(ng-show="tileStatus(c,r,z,$odd && $parent.$odd) == 'done'", style='padding-top:4px; color:#27ae60; opacity:0.9;')
                        i.fas.fa-play.fa-fw.fa-rotate-270.tile-image.tile-font(ng-show="tileStatus(c,r,z,$odd && $parent.$odd) == 'halfdone'", style='padding-top:4px; color:#f4d03f; opacity:0.9;')
                        i.fas.fa-times.fa-fw.tile-image.tile-font(ng-show="tileStatus(c,r,z,$odd && $parent.$odd) == 'undone'", style='padding-top:6px; color:#e74c3c; opacity:0.9;')
              table.map(ng-if='sRotate == 90')
                tbody
                  tr(ng-repeat='r in range(2*width + 1)')
                    td.cell(ng-repeat='c in range(2*length + 1)', ng-class="{'tile': $odd && $parent.$odd, 'wall': cells[r+','+(2*length - c)+','+z].isWall, 'checkpoint': cells[r+','+(2*length - c)+','+z].tile.checkpoint, 'black': cells[r+','+(2*length - c)+','+z].tile.black, 'linear': cells[r+','+(2*length - c)+','+z].isLinear}", ng-click='cellClick(r, (2*length - c), z, $odd != $parent.$odd, $odd && $parent.$odd)')
                      .tile-image-container(ng-show="cells[r+','+(2*length - c)+','+z].isTile")
                        img.tile-image(ng-src='/images/log.png', ng-show="cells[r+','+(2*length - c)+','+z].tile.speedbump")
                        img.tile-image(ng-src='/images/elevator.png', ng-show="!isUndefined(cells[r+','+(2*length - c)+','+z].tile.changeFloorTo) && cells[r+','+(2*length - c)+','+z].tile.changeFloorTo != z")
                        img.tile-image(ng-src='/images/start.png', ng-show='startTile.x == r && startTile.y == (2*length - c) && startTile.z == z')
                        img.tile-image(ng-src='/images/ramp_top.png', ng-show="cells[r+','+(2*length - c)+','+z].tile.rampTop")
                        img.tile-image(ng-src='/images/ramp_bottom.png', ng-show="cells[r+','+(2*length - c)+','+z].tile.rampBottom")
                        img.tile-image(ng-src='/images/heated_right.png', ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.top == 'Heated'")
                        img.tile-image(ng-src='/images/heated_bottom.png', ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.right == 'Heated'")
                        img.tile-image(ng-src='/images/heated_left.png', ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.bottom == 'Heated'")
                        img.tile-image(ng-src='/images/heated_top.png', ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.left == 'Heated'")
                        img.tile-image(ng-src='/images/h_right.png', ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.top == 'H'")
                        img.tile-image(ng-src='/images/h_bottom.png', ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.right == 'H'")
                        img.tile-image(ng-src='/images/h_left.png', ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.bottom == 'H'")
                        img.tile-image(ng-src='/images/h_top.png', ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.left == 'H'")
                        img.tile-image(ng-src='/images/s_right.png', ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.top == 'S'")
                        img.tile-image(ng-src='/images/s_bottom.png', ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.right == 'S'")
                        img.tile-image(ng-src='/images/s_left.png', ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.bottom == 'S'")
                        img.tile-image(ng-src='/images/s_top.png', ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.left == 'S'")
                        img.tile-image(ng-src='/images/u_right.png', ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.top == 'U'")
                        img.tile-image(ng-src='/images/u_bottom.png', ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.right == 'U'")
                        img.tile-image(ng-src='/images/u_left.png', ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.bottom == 'U'")
                        img.tile-image(ng-src='/images/u_top.png', ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.left == 'U'")
                        i.fas.fa-check.fa-fw.tile-image.tile-font(ng-show="tileStatus(r,(2*length - c),z,$odd && $parent.$odd) == 'done'", style='padding-top:4px; color:#27ae60; opacity:0.9;')
                        i.fas.fa-play.fa-fw.fa-rotate-270.tile-image.tile-font(ng-show="tileStatus(r,(2*length - c),z,$odd && $parent.$odd) == 'halfdone'", style='padding-top:4px; color:#f4d03f; opacity:0.9;')
                        i.fas.fa-times.fa-fw.tile-image.tile-font(ng-show="tileStatus(r,(2*length - c),z,$odd && $parent.$odd) == 'undone'", style='padding-top:6px; color:#e74c3c; opacity:0.9;')
              table.map(ng-if='sRotate == 180')
                tbody
                  tr(ng-repeat='r in range(2*length + 1)')
                    td.cell(ng-repeat='c in range(2*width + 1)', ng-class="{'tile': $odd && $parent.$odd, 'wall': cells[2*width - c+','+(2*length - r)+','+z].isWall, 'checkpoint': cells[2*width - c+','+(2*length - r)+','+z].tile.checkpoint, 'black': cells[2*width - c+','+(2*length - r)+','+z].tile.black, 'linear': cells[2*width - c+','+(2*length - r)+','+z].isLinear}", ng-click='cellClick(2*width - c, 2*length - r, z, $odd != $parent.$odd, $odd && $parent.$odd)')
                      .tile-image-container(ng-show="cells[2*width - c+','+(2*length - r)+','+z].isTile")
                        img.tile-image(ng-src='/images/log.png', ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.speedbump")
                        img.tile-image(ng-src='/images/elevator.png', ng-show="!isUndefined(cells[2*width - c+','+(2*length - r)+','+z].tile.changeFloorTo) && cells[2*width - c+','+(2*length - r)+','+z].tile.changeFloorTo != z")
                        img.tile-image(ng-src='/images/start.png', ng-show='startTile.x == 2*width - c && startTile.y == 2*length - r && startTile.z == z')
                        img.tile-image(ng-src='/images/ramp_top.png', ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.rampTop")
                        img.tile-image(ng-src='/images/ramp_bottom.png', ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.rampBottom")
                        img.tile-image(ng-src='/images/heated_bottom.png', ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.top == 'Heated'")
                        img.tile-image(ng-src='/images/heated_left.png', ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.right == 'Heated'")
                        img.tile-image(ng-src='/images/heated_top.png', ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.bottom == 'Heated'")
                        img.tile-image(ng-src='/images/heated_right.png', ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.left == 'Heated'")
                        img.tile-image(ng-src='/images/h_bottom.png', ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.top == 'H'")
                        img.tile-image(ng-src='/images/h_left.png', ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.right == 'H'")
                        img.tile-image(ng-src='/images/h_top.png', ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.bottom == 'H'")
                        img.tile-image(ng-src='/images/h_right.png', ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.left == 'H'")
                        img.tile-image(ng-src='/images/s_bottom.png', ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.top == 'S'")
                        img.tile-image(ng-src='/images/s_left.png', ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.right == 'S'")
                        img.tile-image(ng-src='/images/s_top.png', ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.bottom == 'S'")
                        img.tile-image(ng-src='/images/s_right.png', ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.left == 'S'")
                        img.tile-image(ng-src='/images/u_bottom.png', ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.top == 'U'")
                        img.tile-image(ng-src='/images/u_left.png', ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.right == 'U'")
                        img.tile-image(ng-src='/images/u_top.png', ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.bottom == 'U'")
                        img.tile-image(ng-src='/images/u_right.png', ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.left == 'U'")
                        i.fas.fa-check.fa-fw.tile-image.tile-font(ng-show="tileStatus(2*width - c,2*length - r,z,$odd && $parent.$odd) == 'done'", style='padding-top:4px; color:#27ae60; opacity:0.9;')
                        i.fas.fa-play.fa-fw.fa-rotate-270.tile-image.tile-font(ng-show="tileStatus(2*width - c,2*length - r,z,$odd && $parent.$odd) == 'halfdone'", style='padding-top:4px; color:#f4d03f; opacity:0.9;')
                        i.fas.fa-times.fa-fw.tile-image.tile-font(ng-show="tileStatus(2*width - c,2*length - r,z,$odd && $parent.$odd) == 'undone'", style='padding-top:6px; color:#e74c3c; opacity:0.9;')
              table.map(ng-if='sRotate == 270')
                tbody
                  tr(ng-repeat='r in range(2*width + 1)')
                    td.cell(ng-repeat='c in range(2*length + 1)', ng-class="{'tile': $odd && $parent.$odd, 'wall': cells[2*width - r+','+c+','+z].isWall, 'checkpoint': cells[2*width - r+','+c+','+z].tile.checkpoint, 'black': cells[2*width - r+','+c+','+z].tile.black, 'linear': cells[2*width - r+','+c+','+z].isLinear}", ng-click='cellClick(2*width - r, c, z, $odd != $parent.$odd, $odd && $parent.$odd)')
                      .tile-image-container(ng-show="cells[2*width - r+','+c+','+z].isTile")
                        img.tile-image(ng-src='/images/log.png', ng-show="cells[2*width - r+','+c+','+z].tile.speedbump")
                        img.tile-image(ng-src='/images/elevator.png', ng-show="!isUndefined(cells[2*width - r+','+c+','+z].tile.changeFloorTo) && cells[2*width - r+','+c+','+z].tile.changeFloorTo != z")
                        img.tile-image(ng-src='/images/start.png', ng-show='startTile.x == 2*width - r && startTile.y == c && startTile.z == z')
                        img.tile-image(ng-src='/images/ramp_top.png', ng-show="cells[2*width - r+','+c+','+z].tile.rampTop")
                        img.tile-image(ng-src='/images/ramp_bottom.png', ng-show="cells[2*width - r+','+c+','+z].tile.rampBottom")
                        img.tile-image(ng-src='/images/heated_left.png', ng-show="cells[2*width - r+','+c+','+z].tile.victims.top == 'Heated'")
                        img.tile-image(ng-src='/images/heated_top.png', ng-show="cells[2*width - r+','+c+','+z].tile.victims.right == 'Heated'")
                        img.tile-image(ng-src='/images/heated_right.png', ng-show="cells[2*width - r+','+c+','+z].tile.victims.bottom == 'Heated'")
                        img.tile-image(ng-src='/images/heated_bottom.png', ng-show="cells[2*width - r+','+c+','+z].tile.victims.left == 'Heated'")
                        img.tile-image(ng-src='/images/h_left.png', ng-show="cells[2*width - r+','+c+','+z].tile.victims.top == 'H'")
                        img.tile-image(ng-src='/images/h_top.png', ng-show="cells[2*width - r+','+c+','+z].tile.victims.right == 'H'")
                        img.tile-image(ng-src='/images/h_right.png', ng-show="cells[2*width - r+','+c+','+z].tile.victims.bottom == 'H'")
                        img.tile-image(ng-src='/images/h_bottom.png', ng-show="cells[2*width - r+','+c+','+z].tile.victims.left == 'H'")
                        img.tile-image(ng-src='/images/s_left.png', ng-show="cells[2*width - r+','+c+','+z].tile.victims.top == 'S'")
                        img.tile-image(ng-src='/images/s_top.png', ng-show="cells[2*width - r+','+c+','+z].tile.victims.right == 'S'")
                        img.tile-image(ng-src='/images/s_right.png', ng-show="cells[2*width - r+','+c+','+z].tile.victims.bottom == 'S'")
                        img.tile-image(ng-src='/images/s_bottom.png', ng-show="cells[2*width - r+','+c+','+z].tile.victims.left == 'S'")
                        img.tile-image(ng-src='/images/u_left.png', ng-show="cells[2*width - r+','+c+','+z].tile.victims.top == 'U'")
                        img.tile-image(ng-src='/images/u_top.png', ng-show="cells[2*width - r+','+c+','+z].tile.victims.right == 'U'")
                        img.tile-image(ng-src='/images/u_right.png', ng-show="cells[2*width - r+','+c+','+z].tile.victims.bottom == 'U'")
                        img.tile-image(ng-src='/images/u_bottom.png', ng-show="cells[2*width - r+','+c+','+z].tile.victims.left == 'U'")
                        i.fas.fa-check.fa-fw.tile-image.tile-font(ng-show="tileStatus(2*width - r,c,z,$odd && $parent.$odd) == 'done'", style='padding-top:4px; color:#27ae60; opacity:0.9;')
                        i.fas.fa-play.fa-fw.fa-rotate-270.tile-image.tile-font(ng-show="tileStatus(2*width - r,c,z,$odd && $parent.$odd) == 'halfdone'", style='padding-top:4px; color:#f4d03f; opacity:0.9;')
                        i.fas.fa-times.fa-fw.tile-image.tile-font(ng-show="tileStatus(2*width - r,c,z,$odd && $parent.$odd) == 'undone'", style='padding-top:6px; color:#e74c3c; opacity:0.9;')
            img(ng-src='/api/runs/maze/scoresheetimg/{{runId}}/tiles', ng-if='fromApproval')
        .row(style='margin:50 0 0 0;')
          .col-sm-12
            p
              button.btn.btn-success(style='margin:0 10px 10px 0;', type='button', ng-click='toggleTime()')
                i.fas.fa-stopwatch(aria-hidden='true')  {{ startedTime ? 'maze.judge.tim_stop' : 'maze.judge.tim_start' |translate }}
          .col-md-12.confirmation
            div
              h4 {{'maze.judge.adjust'| translate}}
              br
              strong(ng-if='!startedTime')
                | {{'maze.judge.confirm_text'| translate}}
              strong(ng-if='startedTime', style='color:red')
                | {{'maze.judge.disabled_confirm_text'| translate}}
              .row
                .col-sm-7(style='margin-bottom:10px;')
                  .input-group.input-group-lg
                    input.form-control(type='tel', placeholder='', aria-label='min', aria-describedby='sizing-addon1', min='0', max='8', ng-model='minutes', ng-disabled='startedTime')
                    span#sizing-addon1.input-group-addon {{'common.min' | translate}}
                    input.form-control(type='tel', placeholder='', aria-label='sec', aria-describedby='sizing-addon1', min='0', max='60', ng-model='seconds', ng-disabled='startedTime')
                    span#sizing-addon1.input-group-addon {{'common.sec' | translate}}
                  img(ng-src='/api/runs/maze/scoresheetimg/{{runId}}/time', style='width: 100%; max-width: 250px', ng-if='fromApproval')
                .col-sm-5
                  div(style='text-align:right;')
                    button.btn.btn-danger(type='button', ng-click='confirm()', ng-disabled='startedTime', ng-hide='networkError || fromApproval')
                      i.fas.fa-arrow-right.fa-2x(aria-hidden='true')  {{'line.judge.toSign'| translate}}
                    button.btn.btn-danger(type='button', ng-click='backApproval()', ng-disabled='startedTime', ng-show='fromApproval && !networkError')
                      i.fas.fa-arrow-right.fa-2x(aria-hidden='true')  Go back to Approval
                    button.btn.btn-danger(type='button', ng-click='handover()', ng-disabled='startedTime', ng-show='networkError') {{'maze.judge.handover' | translate}}
            br
            br
      .row(style='margin:20 0 0 0;')
        .col-md12
          button.btn.btn-secondary(style='margin:0 10px 10px 0;', type='button', ng-click="getParam('return')? go(getParam('return')):go('/maze/' + competition._id)")
            i.fas.fa-undo(aria-hidden='true')  {{'common.back' | translate}}
