
    <!--<div class="row" style="height:100%;">
        <div class="col-md-6 col-sm6" style="border-right: solid 1px #000;">
            <label>Display field:</label>
            <select ng-model='selectfield[0]' ng-options='field as field.name for field in fields'></select>
            <div style="width:100%; height:100%;">
                <iframe ng-src="{{getIframeSrc(field_run[0].id)}}" style="width:100%; height:100%; border:none;" ng-if="field_run[0].id != '-1' && field_run[0].id != '-2' && field_run[0].id != null"></iframe>
                <div class="alert alert-warning" role="alert" ng-if="field_run[0].id == '-1' || field_run[0].id == '-2' || field_run[0].id == null">
                    <div class="row">
                        <div class="col-12">
                                <p>Currently, there is no run in {{selectfield[0].name}}</p>
                        </div>
                        
                    </div>
                </div>
                <div style="text-align:center; margin: 10 10 10 10;" ng-if="field_run[0].id != '-1' && field_run[0].id != '-2' && field_run[0].id != null">
                    <button class="btn btn-info" type="button" ng-click="go('/maze/view/'+field_run[0].id)"><i class="fa fa-arrow-right" aria-hidden="true" > Run detail infomation</i></button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm6" style="border-right: solid 1px #000;">
            <label>Display field:</label>
            <select ng-model='selectfield[1]' ng-options='field as field.name for field in fields'></select>
            <div style="width:100%; height:100%;">
                <iframe ng-src="{{getIframeSrc(field_run[1].id)}}" style="width:100%; height:100%; border:none;" ng-if="field_run[1].id != '-1' && field_run[1].id != '-2' && field_run[1].id != null"></iframe>
                <div class="alert alert-warning" role="alert" ng-if="field_run[1].id == '-1' || field_run[1].id == '-2' || field_run[1].id == null">
                    <div class="row">
                        <div class="col-12">
                                <p>Currently, there is no run in {{selectfield[1].name}}</p>
                        </div>
                    </div>
                </div>
                <div style="text-align:center; margin: 10 10 10 10;" ng-if="field_run[1].id != '-1' && field_run[1].id != '-2' && field_run[1].id != null">
                    <button class="btn btn-info" type="button" ng-click="go('/maze/view/'+field_run[1].id)"><i class="fa fa-arrow-right" aria-hidden="true" >Run detail infomation</i></button>
                </div>
            </div>
        </div>
    </div>-->

<div class="row" style="height:100%;margin: 0 0 0 0;" ng-if="num">
    <div class="col-md-{{12/num}} col-sm{{12/num}}" style="border-right: solid 5px #000;padding:0 0 0 0;" ng-repeat="n in range(num)">
        <iframe ng-src="{{getIframeSrc(selectfield[0]._id)}}" style="width:100%; height:100%; border:none;" ng-if="selectfield[0]"></iframe>
        <label>Display field:</label>
        <select ng-model='selectfield[0]' ng-options='field as field.name for field in fields'></select>
    </div>
</div>
<br>
<br>
<span>Number of display side by side:</span>
<select ng-model="num">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
</select>





