<nav class="navbar" style="background-color: #8e44ad; color: #ecf0f1; position: fixed; top: 0; z-index:60 ;  width: 100%">
    <!-- Navbar content -->

      <div class="col-md-6 col-sm4 col-12">
          <li class="navbar-brand" href="#"><i class="fas fa-spinner fa-spin fa-fw"></i> {{team}}</li>
      </div>
      <div class="col-md-3 col-sm4 col-7">
          <i class="fas fa-calculator fa-2x" aria-hidden="true"></i>
          <li class="navbar-brand" href="#"> {{score}} points</li>
      </div>
      <div class="col-md-3 col-sm4 col-5">
          <i class="fas fa-stopwatch fa-2x" aria-hidden="true"></i>
          <li class="navbar-brand" href="#"> {{minutes*60*1000+seconds*1000 | date:'mm:ss'}}</li>
      </div>

</nav>
<div class="container nav-cont">
    <div class="row">
        <div class="col-md12">
            <button class="btn btn-secondary" style="margin:0 10px 10px 0;" type="button" ng-click="getParam('return')? go(getParam('return')):go('/maze/' + competition_id)"><i class="fas fa-undo" aria-hidden="true"> {{'common.back' | translate}}</i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <div id="lops" class="card">
              <h3 class="card-header"><i class="fas fa-info-circle" aria-hidden="true"></i> {{'maze.view.info' | translate}}</h3>
              <table class="table info" style="margin-bottom:0;">
                  <tbody>
                      <tr>
                          <th class="info">
                              {{'common.competition' | translate}}
                          </th>
                          <td class="info">
                              {{competition}}
                          </td>
                      </tr>
                      <tr>
                          <th class="info">
                              {{'common.round' | translate}}
                          </th>
                          <td class="info">
                              {{round}}
                          </td>
                      </tr>
                      <tr>
                          <th class="info">
                              {{'common.field' | translate}}
                          </th>
                          <td class="info">
                              {{field}}
                          </td>
                      </tr>
                      <tr>
                          <th class="info">
                              {{'common.team' | translate}}
                          </th>
                          <td class="info">
                              {{team}}
                          </td>
                      </tr>
                      <tr>
                          <th class="info">
                              {{'common.league' | translate}}
                          </th>
                          <td class="info">
                              {{league}}
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>


        </div>
    </div>
    <br>
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-6">
            <button class="btn btn-danger" style="margin:0 10px 10px 0;" type="button" ng-click="go('/maze/judge/' + runId + '?return=' + getParam('return'))"><i class="far fa-edit" aria-hidden="true"> {{'line.sign.to_judge' | translate}}</i></button>
        </div>
        <div class="col-6" style="text-align: right;">
            <a class="btn btn-info" ng-href="/api/runs/maze/scoresheetimg/{{runId}}/sheet" target="_blank"><i class="far fa-file-alt" aria-hidden="true" > Show full size score sheet</i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="margin-bottom:30px;">

        </div>
        <div class="col-md-8 tilearea"  style="margin-top:0px;">
                <div style="text-align:left;float:left;">
                    <div class="btn-group">
                      <span class="input-group-addon"><i class="fas fa-arrows-alt-v" aria-hidden="true"></i></span>
                      <button type="button" class="btn btn-outline-dark" ng-click="changeFloor(zz)" ng-repeat="zz in range(height)" ng-class="{active: zz == z}">&nbsp;{{zz}}&nbsp;</button>
                    </div>
                </div>
                <div style="text-align:right;float:right;">
                    <div class="btn-group">
                      <button type="button" class="btn btn-outline-dark" ng-click="tileRot(-90)">&nbsp;<i class="fas fa-undo" aria-hidden="true"></i>&nbsp;</button>
                      <button type="button" class="btn btn-outline-dark" ng-click="tileRot(90)">&nbsp;<i class="fas fa-redo" aria-hidden="true"></i>&nbsp;</button>
                    </div>
                </div>
                <div style="clear:both;"></div>
                <div class="mx-auto" style="margin-top:5px;" id="wrapTile">
                    <h2 ng-show="!(length&&width)" style="text-align:center">{{'common.loading' | translate}}</h2>
                    <table class="map" ng-if="sRotate == 0">
                        <tr ng-repeat="r in range(2*length + 1)">
                            <td class="cell" ng-repeat="c in range(2*width + 1)" ng-class="{'tile': $odd && $parent.$odd, 'wall': cells[c+','+r+','+z].isWall, 'checkpoint': cells[c+','+r+','+z].tile.checkpoint, 'black': cells[c+','+r+','+z].tile.black, 'linear': cells[c+','+r+','+z].isLinear}" ng-click="cellClick(c, r, z, $odd != $parent.$odd, $odd && $parent.$odd)">
                                <div class="tile-image-container" ng-show="cells[c+','+r+','+z].isTile">
                                    <img ng-src="/images/log.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.speedbump">
                                    <img ng-src="/images/elevator.png" class="tile-image" ng-show="!isUndefined(cells[c+','+r+','+z].tile.changeFloorTo) && cells[c+','+r+','+z].tile.changeFloorTo != z">
                                    <img ng-src="/images/start.png" class="tile-image" ng-show="startTile.x == c && startTile.y == r && startTile.z == z">
                                    <img ng-src="/images/ramp_top.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.rampTop">
                                    <img ng-src="/images/ramp_bottom.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.rampBottom">
                                    <img ng-src="/images/heated_top.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.top == 'Heated'">
                                    <img ng-src="/images/heated_right.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.right == 'Heated'">
                                    <img ng-src="/images/heated_bottom.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.bottom == 'Heated'">
                                    <img ng-src="/images/heated_left.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.left == 'Heated'">
                                    <img ng-src="/images/h_top.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.top == 'H'">
                                    <img ng-src="/images/h_right.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.right == 'H'">
                                    <img ng-src="/images/h_bottom.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.bottom == 'H'">
                                    <img ng-src="/images/h_left.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.left == 'H'">
                                    <img ng-src="/images/s_top.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.top == 'S'">
                                    <img ng-src="/images/s_right.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.right == 'S'">
                                    <img ng-src="/images/s_bottom.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.bottom == 'S'">
                                    <img ng-src="/images/s_left.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.left == 'S'">
                                    <img ng-src="/images/u_top.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.top == 'U'">
                                    <img ng-src="/images/u_right.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.right == 'U'">
                                    <img ng-src="/images/u_bottom.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.bottom == 'U'">
                                    <img ng-src="/images/u_left.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.left == 'U'">

                                    <i class="fas fa-check fa-fw tile-image tile-font" ng-show="tileStatus(c,r,z,$odd && $parent.$odd) == 'done'" style="padding-top:4px; color:#27ae60; opacity:0.7;"></i>
                                    <i class="fas fa-play fa-fw fa-rotate-270 tile-image tile-font" ng-show="tileStatus(c,r,z,$odd && $parent.$odd) == 'halfdone'" style="padding-top:4px; color:#f4d03f; opacity:0.7;"></i>
                                    <i class="fas fa-times fa-fw tile-image tile-font" ng-show="tileStatus(c,r,z,$odd && $parent.$odd) == 'undone'" style="padding-top:6px; color:#e74c3c; opacity:0.7;"></i>
                                    
                                    <p class="tile-point" ng-if="tileStatus(c,r,z,$odd && $parent.$odd)" style="color:#000; opacity:1;z-index:50;position: relative;text-align:center;">{{tilePoint(c,r,z,$odd && $parent.$odd)}}</p>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <table class="map" ng-if="sRotate == 90">
                        <tr ng-repeat="r in range(2*width + 1)">
                            <td class="cell" ng-repeat="c in range(2*length + 1)" ng-class="{'tile': $odd && $parent.$odd, 'wall': cells[r+','+(2*length - c)+','+z].isWall, 'checkpoint': cells[r+','+(2*length - c)+','+z].tile.checkpoint, 'black': cells[r+','+(2*length - c)+','+z].tile.black, 'linear': cells[r+','+(2*length - c)+','+z].isLinear}" ng-click="cellClick(r, (2*length - c), z, $odd != $parent.$odd, $odd && $parent.$odd)">
                                <div class="tile-image-container" ng-show="cells[r+','+(2*length - c)+','+z].isTile">
                                    <img ng-src="/images/log.png" class="tile-image" ng-show="cells[r+','+(2*length - c)+','+z].tile.speedbump">
                                    <img ng-src="/images/elevator.png" class="tile-image" ng-show="!isUndefined(cells[r+','+(2*length - c)+','+z].tile.changeFloorTo) && cells[r+','+(2*length - c)+','+z].tile.changeFloorTo != z">
                                    <img ng-src="/images/start.png" class="tile-image" ng-show="startTile.x == r && startTile.y == (2*length - c) && startTile.z == z">
                                    <img ng-src="/images/ramp_top.png" class="tile-image" ng-show="cells[r+','+(2*length - c)+','+z].tile.rampTop">
                                    <img ng-src="/images/ramp_bottom.png" class="tile-image" ng-show="cells[r+','+(2*length - c)+','+z].tile.rampBottom">
                                    <img ng-src="/images/heated_right.png" class="tile-image" ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.top == 'Heated'">
                                    <img ng-src="/images/heated_bottom.png" class="tile-image" ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.right == 'Heated'">
                                    <img ng-src="/images/heated_left.png" class="tile-image" ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.bottom == 'Heated'">
                                    <img ng-src="/images/heated_top.png" class="tile-image" ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.left == 'Heated'">
                                    <img ng-src="/images/h_right.png" class="tile-image" ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.top == 'H'">
                                    <img ng-src="/images/h_bottom.png" class="tile-image" ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.right == 'H'">
                                    <img ng-src="/images/h_left.png" class="tile-image" ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.bottom == 'H'">
                                    <img ng-src="/images/h_top.png" class="tile-image" ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.left == 'H'">
                                    <img ng-src="/images/s_right.png" class="tile-image" ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.top == 'S'">
                                    <img ng-src="/images/s_bottom.png" class="tile-image" ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.right == 'S'">
                                    <img ng-src="/images/s_left.png" class="tile-image" ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.bottom == 'S'">
                                    <img ng-src="/images/s_top.png" class="tile-image" ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.left == 'S'">
                                    <img ng-src="/images/u_right.png" class="tile-image" ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.top == 'U'">
                                    <img ng-src="/images/u_bottom.png" class="tile-image" ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.right == 'U'">
                                    <img ng-src="/images/u_left.png" class="tile-image" ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.bottom == 'U'">
                                    <img ng-src="/images/u_top.png" class="tile-image" ng-show="cells[r+','+(2*length - c)+','+z].tile.victims.left == 'U'">

                                    <i class="fas fa-check fa-fw tile-image tile-font" ng-show="tileStatus(r,(2*length - c),z,$odd && $parent.$odd) == 'done'" style="padding-top:4px; color:#27ae60; opacity:0.7;"></i>
                                    <i class="fas fa-play fa-fw fa-rotate-270 tile-image tile-font" ng-show="tileStatus(r,(2*length - c),z,$odd && $parent.$odd) == 'halfdone'" style="padding-top:4px; color:#f4d03f; opacity:0.7;"></i>
                                    <i class="fas fa-times fa-fw tile-image tile-font" ng-show="tileStatus(r,(2*length - c),z,$odd && $parent.$odd) == 'undone'" style="padding-top:6px; color:#e74c3c; opacity:0.7;"></i>
                                    
                                    <p class="tile-point" ng-if="tileStatus(r,(2*length - c),z,$odd && $parent.$odd)" style="color:#000; opacity:1;z-index:50;position: relative;text-align:center;">{{tilePoint(r,(2*length - c),z,$odd && $parent.$odd)}}</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    
                    <table class="map" ng-if="sRotate == 180">
                        <tr ng-repeat="r in range(2*length + 1)">
                            <td class="cell" ng-repeat="c in range(2*width + 1)" ng-class="{'tile': $odd && $parent.$odd, 'wall': cells[2*width - c+','+(2*length - r)+','+z].isWall, 'checkpoint': cells[2*width - c+','+(2*length - r)+','+z].tile.checkpoint, 'black': cells[2*width - c+','+(2*length - r)+','+z].tile.black, 'linear': cells[2*width - c+','+(2*length - r)+','+z].isLinear}" ng-click="cellClick(2*width - c, 2*length - r, z, $odd != $parent.$odd, $odd && $parent.$odd)">
                                <div class="tile-image-container" ng-show="cells[2*width - c+','+(2*length - r)+','+z].isTile">
                                    <img ng-src="/images/log.png" class="tile-image" ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.speedbump">
                                    <img ng-src="/images/elevator.png" class="tile-image" ng-show="!isUndefined(cells[2*width - c+','+(2*length - r)+','+z].tile.changeFloorTo) && cells[2*width - c+','+(2*length - r)+','+z].tile.changeFloorTo != z">
                                    <img ng-src="/images/start.png" class="tile-image" ng-show="startTile.x == 2*width - c && startTile.y == 2*length - r && startTile.z == z">
                                    <img ng-src="/images/ramp_top.png" class="tile-image" ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.rampTop">
                                    <img ng-src="/images/ramp_bottom.png" class="tile-image" ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.rampBottom">
                                    <img ng-src="/images/heated_bottom.png" class="tile-image" ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.top == 'Heated'">
                                    <img ng-src="/images/heated_left.png" class="tile-image" ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.right == 'Heated'">
                                    <img ng-src="/images/heated_top.png" class="tile-image" ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.bottom == 'Heated'">
                                    <img ng-src="/images/heated_right.png" class="tile-image" ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.left == 'Heated'">
                                    <img ng-src="/images/h_bottom.png" class="tile-image" ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.top == 'H'">
                                    <img ng-src="/images/h_left.png" class="tile-image" ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.right == 'H'">
                                    <img ng-src="/images/h_top.png" class="tile-image" ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.bottom == 'H'">
                                    <img ng-src="/images/h_right.png" class="tile-image" ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.left == 'H'">
                                    <img ng-src="/images/s_bottom.png" class="tile-image" ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.top == 'S'">
                                    <img ng-src="/images/s_left.png" class="tile-image" ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.right == 'S'">
                                    <img ng-src="/images/s_top.png" class="tile-image" ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.bottom == 'S'">
                                    <img ng-src="/images/s_right.png" class="tile-image" ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.left == 'S'">
                                    <img ng-src="/images/u_bottom.png" class="tile-image" ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.top == 'U'">
                                    <img ng-src="/images/u_left.png" class="tile-image" ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.right == 'U'">
                                    <img ng-src="/images/u_top.png" class="tile-image" ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.bottom == 'U'">
                                    <img ng-src="/images/u_right.png" class="tile-image" ng-show="cells[2*width - c+','+(2*length - r)+','+z].tile.victims.left == 'U'">

                                    <i class="fas fa-check fa-fw tile-image tile-font" ng-show="tileStatus(2*width - c,2*length - r,z,$odd && $parent.$odd) == 'done'" style="padding-top:4px; color:#27ae60; opacity:0.7;"></i>
                                    <i class="fas fa-play fa-fw fa-rotate-270 tile-image tile-font" ng-show="tileStatus(2*width - c,2*length - r,z,$odd && $parent.$odd) == 'halfdone'" style="padding-top:4px; color:#f4d03f; opacity:0.7;"></i>
                                    <i class="fas fa-times fa-fw tile-image tile-font" ng-show="tileStatus(2*width - c,2*length - r,z,$odd && $parent.$odd) == 'undone'" style="padding-top:6px; color:#e74c3c; opacity:0.7;"></i>
                                    
                                    <p class="tile-point" ng-if="tileStatus(2*width - c,2*length - r,z,$odd && $parent.$odd)" style="color:#000; opacity:1;z-index:50;position: relative;text-align:center;">{{tilePoint(2*width - c,2*length - r,z,$odd && $parent.$odd)}}</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                    
                    <table class="map" ng-if="sRotate == 270">
                        <tr ng-repeat="r in range(2*width + 1)">
                            <td class="cell" ng-repeat="c in range(2*length + 1)" ng-class="{'tile': $odd && $parent.$odd, 'wall': cells[2*width - r+','+c+','+z].isWall, 'checkpoint': cells[2*width - r+','+c+','+z].tile.checkpoint, 'black': cells[2*width - r+','+c+','+z].tile.black, 'linear': cells[2*width - r+','+c+','+z].isLinear}" ng-click="cellClick(2*width - r, c, z, $odd != $parent.$odd, $odd && $parent.$odd)">
                                <div class="tile-image-container" ng-show="cells[2*width - r+','+c+','+z].isTile">
                                    <img ng-src="/images/log.png" class="tile-image" ng-show="cells[2*width - r+','+c+','+z].tile.speedbump">
                                    <img ng-src="/images/elevator.png" class="tile-image" ng-show="!isUndefined(cells[2*width - r+','+c+','+z].tile.changeFloorTo) && cells[2*width - r+','+c+','+z].tile.changeFloorTo != z">
                                    <img ng-src="/images/start.png" class="tile-image" ng-show="startTile.x == 2*width - r && startTile.y == c && startTile.z == z">
                                    <img ng-src="/images/ramp_top.png" class="tile-image" ng-show="cells[2*width - r+','+c+','+z].tile.rampTop">
                                    <img ng-src="/images/ramp_bottom.png" class="tile-image" ng-show="cells[2*width - r+','+c+','+z].tile.rampBottom">
                                    <img ng-src="/images/heated_left.png" class="tile-image" ng-show="cells[2*width - r+','+c+','+z].tile.victims.top == 'Heated'">
                                    <img ng-src="/images/heated_top.png" class="tile-image" ng-show="cells[2*width - r+','+c+','+z].tile.victims.right == 'Heated'">
                                    <img ng-src="/images/heated_right.png" class="tile-image" ng-show="cells[2*width - r+','+c+','+z].tile.victims.bottom == 'Heated'">
                                    <img ng-src="/images/heated_bottom.png" class="tile-image" ng-show="cells[2*width - r+','+c+','+z].tile.victims.left == 'Heated'">
                                    <img ng-src="/images/h_left.png" class="tile-image" ng-show="cells[2*width - r+','+c+','+z].tile.victims.top == 'H'">
                                    <img ng-src="/images/h_top.png" class="tile-image" ng-show="cells[2*width - r+','+c+','+z].tile.victims.right == 'H'">
                                    <img ng-src="/images/h_right.png" class="tile-image" ng-show="cells[2*width - r+','+c+','+z].tile.victims.bottom == 'H'">
                                    <img ng-src="/images/h_bottom.png" class="tile-image" ng-show="cells[2*width - r+','+c+','+z].tile.victims.left == 'H'">
                                    <img ng-src="/images/s_left.png" class="tile-image" ng-show="cells[2*width - r+','+c+','+z].tile.victims.top == 'S'">
                                    <img ng-src="/images/s_top.png" class="tile-image" ng-show="cells[2*width - r+','+c+','+z].tile.victims.right == 'S'">
                                    <img ng-src="/images/s_right.png" class="tile-image" ng-show="cells[2*width - r+','+c+','+z].tile.victims.bottom == 'S'">
                                    <img ng-src="/images/s_bottom.png" class="tile-image" ng-show="cells[2*width - r+','+c+','+z].tile.victims.left == 'S'">
                                    <img ng-src="/images/u_left.png" class="tile-image" ng-show="cells[2*width - r+','+c+','+z].tile.victims.top == 'U'">
                                    <img ng-src="/images/u_top.png" class="tile-image" ng-show="cells[2*width - r+','+c+','+z].tile.victims.right == 'U'">
                                    <img ng-src="/images/u_right.png" class="tile-image" ng-show="cells[2*width - r+','+c+','+z].tile.victims.bottom == 'U'">
                                    <img ng-src="/images/u_bottom.png" class="tile-image" ng-show="cells[2*width - r+','+c+','+z].tile.victims.left == 'U'">

                                    <i class="fas fa-check fa-fw tile-image tile-font" ng-show="tileStatus(2*width - r,c,z,$odd && $parent.$odd) == 'done'" style="padding-top:4px; color:#27ae60; opacity:0.7;"></i>
                                    <i class="fas fa-play fa-fw fa-rotate-270 tile-image tile-font" ng-show="tileStatus(2*width - r,c,z,$odd && $parent.$odd) == 'halfdone'" style="padding-top:4px; color:#f4d03f; opacity:0.7;"></i>
                                    <i class="fas fa-times fa-fw tile-image tile-font" ng-show="tileStatus(2*width - r,c,z,$odd && $parent.$odd) == 'undone'" style="padding-top:6px; color:#e74c3c; opacity:0.7;"></i>
                                    
                                    <p class="tile-point" ng-if="tileStatus(2*width - r,c,z,$odd && $parent.$odd)" style="color:#000; opacity:1;z-index:50;position: relative;text-align:center;">{{tilePoint(2*width - r,c,z,$odd && $parent.$odd)}}</p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            <br>
            <h2 style="text-align:center;">{{score - foundVictims * 10 * exitBonus - reliability()}} {{'common.point' |translate}}</h2>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-6">
            <button class="btn btn-danger" style="margin:0 10px 10px 0;" type="button" ng-click="go('/maze/judge/' + runId + '?return=' + getParam('return'))"><i class="far fa-edit" aria-hidden="true"> {{'line.sign.to_judge' | translate}}</i></button>
        </div>
        <div class="col-6" style="text-align: right;">
            <a class="btn btn-info" ng-href="/api/runs/maze/scoresheetimg/{{runId}}/sheet" target="_blank"><i class="far fa-file-alt" aria-hidden="true" > Show full size score sheet</i></a>
        </div>
    </div>
    <h2>{{'maze.sign.reliability' | translate}}</h2>
    <div class="alert alert-info" style="margin-bottom:30px;text-align:center;" role="alert">
        <div class="row">
            <div class="col-md-2">
                    <p style="text-align:center;height:40px;">{{'maze.sign.rescue' | translate}}</p>
                    <i class="fas fa-child fa-2x" aria-hidden="true"> : {{foundVictims}}<br><br>
                    {{foundVictims * 10}} {{'common.point' | translate}}
                    </i>
            </div>
            <div class="col-md-1">
                <h1 style="line-height:140px;text-align:center;">+</h1>
            </div>
            <div class="col-md-2">
                    <p style="text-align:center;height:40px;">{{'maze.sign.kits' | translate}}</p>
                    <i class="fas fa-medkit fa-2x" aria-hidden="true"> : {{distKits}}<br><br>
                    {{distKits * 10}} {{'common.point' | translate}}
                    </i>
            </div>
            <div class="col-md-1">
                <h1 style="line-height:140px;text-align:center;">-</h1>
            </div>
            <div class="col-md-2">
                    <p style="text-align:center;height:40px;">{{'maze.sign.total_lops' | translate}}</p>
                    <i class="fas fa-step-forward fa-2x" aria-hidden="true"> : {{LoPs}}<br><br>
                    {{reliabilityLoPs()}} {{'common.point' | translate}}
                    </i>
            </div>
            <div class="col-md-1">
                <h1 style="line-height:140px;text-align:center;">=</h1>
            </div>
            <div class="col-md-3">
                <h1 style="line-height:140px;text-align:center;">{{reliability()}} {{'common.point' | translate}}</h1>
            </div>
        </div>
    </div>
    <h2>{{'maze.sign.calc' | translate}}</h2>
    <div class="alert alert-warning" style="margin-bottom:80px;text-align:center;" role="alert">
        <div class="row">
            <div class="col-md-2">
                    <p style="height:30px;">{{'maze.sign.item' | translate}}</p>
                    <h1>{{score - foundVictims * 10 * exitBonus - reliability()}} {{'common.point' | translate}}</h1>
            </div>
            <div class="col-md-1">
                <p style="height:30px;"></p>
                <h1>+</h1>
            </div>
            <div class="col-md-2">
                    <p style="height:30px;">{{'maze.sign.reliability' | translate}}</p>
                    <h1>{{reliability()}} {{'common.point' | translate}}</h1>
            </div>
            <div class="col-md-1">
                <p style="height:30px;"></p>
                <h1>+</h1>
            </div>
            <div class="col-md-2">
                    <p style="text-align:center;height:30px;">{{'maze.sign.return' | translate}}</p>
                    <h1>{{foundVictims * 10 * exitBonus}} {{'common.point' | translate}}</h1>
            </div>
            <div class="col-md-1">
                <p style="height:30px;"></p>
                <h1>=</h1>
            </div>
            <div class="col-md-3">
                <p style="height:30px;"></p>
                <h1>{{score}} {{'common.point' | translate}}</h1>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 10px;">
        <div class="col-6">
            <button class="btn btn-danger" style="margin:0 10px 10px 0;" type="button" ng-click="go('/maze/judge/' + runId + '?return=' + getParam('return'))"><i class="far fa-edit" aria-hidden="true"> {{'line.sign.to_judge' | translate}}</i></button>
        </div>
        <div class="col-6" style="text-align: right;">
            <a class="btn btn-info" ng-href="/api/runs/maze/scoresheetimg/{{runId}}/sheet" target="_blank"><i class="far fa-file-alt" aria-hidden="true" > Show full size score sheet</i></a>
        </div>
    </div>
    <div class="alert alert-success" style="margin:50 0 0 0;" role="alert">
        <div class="row">
            <div class="col-md-6">
                <div class="d-none d-sm-block">
                    <i class="fas fa-calculator fa-3x" aria-hidden="true"> : {{score}} {{'common.point' | translate}}</i>
                </div>
                <div class="d-sm-none">
                    <i class="fas fa-calculator fa-2x" aria-hidden="true"> : {{score}} {{'common.point' | translate}}</i>
                </div>
            </div>
            <div class="col-md-6">
                <div class="d-none d-sm-block">
                    <i class="fas fa-stopwatch fa-3x" aria-hidden="true"> : {{minutes}} {{'common.min' | translate}} {{seconds}} {{'common.sec' | translate}}</i>
                </div>
                <div class="d-sm-none">
                    <i class="fas fa-stopwatch fa-2x" aria-hidden="true"> : {{minutes}} {{'common.min' | translate}} {{seconds}} {{'common.sec' | translate}}</i>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin:30 0 30 0;">
        <div class="col-md-12">
            <div id="sign" class="card">
                <h3 class="card-header"><i class="fas fa-comment" aria-hidden="true"></i> {{'maze.view.comment' | translate}}</h3>
                <div class="card-body">
                    <p class="card-text  text-info ">
                        {{'maze.view.comment_e' | translate}}
                    </p>
                    <div class="form-group">
                        <textarea class="form-control" ng-model="comment" rows="3" disabled></textarea>
                    </div>
                </div>
                <h3 class="card-header"><i class="fas fa-pencil-alt" aria-hidden="true"></i> {{'maze.view.sign' | translate}}</h3>
                <div class="card-body">
                    <p class="card-text  text-warning" translate="maze.view.sign_e">
                    </p>
                    <div class="sign-box sign-box-cap">
                        <p class="sign-box-title sign-box-title-cap" translate="maze.view.cap_sign">
                        </p>
                        <img ng-src="{{cap_sig}}" style="max-width: 100%;height: auto;" />
                    </div>
                    <hr>
                    <div class="sign-box sign-box-ref">
                        <p class="sign-box-title sign-box-title-ref" translate="maze.view.ref_sign">
                        </p>
                        <img ng-src="{{ref_sig}}" style="max-width: 100%;height: auto;" />
                    </div>
                    <hr>
                    <div class="sign-box sign-box-ref">
                        <p class="sign-box-title sign-box-title-ref" translate="maze.view.cref_sign">
                        </p>
                        <img ng-src="{{refas_sig}}" style="max-width: 100%;height: auto;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin:100 0 100 0;">
        <button type="button" class="btn btn-danger btn-lg btn-block" style="padding:30 0 30 0" ng-click="approval()"><i class="fa fa-paper-plane" aria-hidden="true" > Approval & Next</i></button>
    </div>
</div>
