<nav class="navbar" style="background-color: #e74c3c; color: #ecf0f1; position: fixed; top: 0; z-index:10 ;  width: 100%">
    <!-- Navbar content -->
        <div class="col-md-6 col-sm4 col-12">
            <li class="navbar-brand" href="#"><i class="fa fa-spinner fa-pulse fa-fw"></i> {{team}}</li>
        </div>
        <div class="col-md-3 col-sm4 col-7">
            <i class="fa fa-calculator fa-2x" aria-hidden="true"></i>
            <li class="navbar-brand" href="#"> {{score}} {{'common.point' | translate}}</li>
        </div>
        <div class="col-md-3 col-sm4 col-5">
            <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
            <li class="navbar-brand" href="#" ng-if="!retired"> {{time | date:'mm:ss'}}</li>
            <li class="navbar-brand" href="#" ng-if="retired"> Retire</li>
        </div>
</nav>
<div class="container">
    <div style="text-align: center;" ng-hide="checked">
        <h4><i class="fa fa-check-circle-o" aria-hidden="true"></i>{{'maze.judge.before' | translate}}</h4><br>
        <div id="lops" class="card">
            <h3 class="card-header"><i class="fa fa-info-circle" aria-hidden="true"></i> {{'maze.judge.info' | translate}}</h3>
            <table class="table" style="margin-bottom:0;">
                <tbody>
                    <tr>
                        <th>
                            {{'common.competition' | translate}}
                        </th>
                        <td>
                            {{competition.name}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{'common.round' | translate}}
                        </th>
                        <td>
                            {{round}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{'common.field' | translate}}
                        </th>
                        <td>
                            {{field}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{'common.team' | translate}}
                        </th>
                        <td>
                            {{team}}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{'common.league' | translate}}
                        </th>
                        <td>
                            {{league}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <button class="btn btn-success" type="button" ng-click="infochecked()"><i class="fa fa-check-circle fa-2x" aria-hidden="true"> {{'maze.judge.confirm' | translate}}</i></button>
    </div>
    <div ng-show="checked">
        <div class="row">
            <div class="col-md-6">
              <button class="btn btn-primary" style="margin:0 10px 10px 0;" type="button" ng-click="toggleTime()"><i class="fa fa-clock-o" aria-hidden="true"> {{ startedTime ? 'maze.judge.tim_stop' : 'maze.judge.tim_start' |translate }}</i></button>
              <button ng-show="!startedTime && time!=0" class="btn btn-warning" style="margin:0 10px 10px 0;" type="button" ng-click="timeReset()"><i class="fa fa-clock-o" aria-hidden="true"> {{'maze.judge.tim_reset' | translate}}</i></button>
              <div class="alert alert-info blink" role="alert" ng-show="!startedTime && minutes < 8">
                  {{'maze.judge.push_timer' | translate}}
              </div>
                <div id="card_area" class="scrool" style="overflow: scroll;">
                  <div class="card">
                    <h3 class="card-header"><i class="fa fa-undo" aria-hidden="true"></i> {{'common.lops' | translate}}</h3>
                    <div class="card-body">
                      <p class="card-text">
                        <b>{{'maze.judge.total_lops' | translate}}</b><br>
                        <div class="input-group" style="width:100%; height:35px;">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-danger"  ng-click="decrement()">
                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                </button>
                            </span>
                            <div style="background-color: #F2F2F2; width:100px; text-align: center;">
                              <img src="/images/loader2.gif" alt="" ng-show="lopProcessing" style="height:100%; width:auto;">
                              <span class="count" ng-show="!lopProcessing">{{LoPs}}</span>
                            </div>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-success" ng-click="increment()">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>

                      </p>
                    </div>
                    <h3 class="card-header"><i class="fa fa-home" aria-hidden="true"></i>{{'common.other' | translate}}</h3>
                    <div class="card-body">
      	              <input type="checkbox" ng-model="exitBonus" ng-change="changeExitBonus()" id="hasReturned">
                      <label class="checkbox" for="hasReturned">{{'maze.judge.return' | translate}}</label>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-md-6 tilearea">
                <div ng-show="height>1">
                    <rzslider rz-slider-model="z" rz-slider-options="sliderOptions"></rzslider>
                </div>
                <table class="map">
	          <tr ng-repeat="r in range(2*length + 1)">
	            <td ng-repeat="c in range(2*width + 1)" ng-class="{'tile': $odd && $parent.$odd, 'wall': cells[c+','+r+','+z].isWall, 'checkpoint': cells[c+','+r+','+z].tile.checkpoint, 'black': cells[c+','+r+','+z].tile.black, 'linear': cells[c+','+r+','+z].isLinear}"
	                ng-click="cellClick(c, r, z, $odd != $parent.$odd, $odd && $parent.$odd)">
	              <div class="tile-image-container" ng-show="cells[c+','+r+','+z].isTile">
	                <img ng-src="/images/log.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.speedbump">
	                <img ng-src="/images/elevator.png" class="tile-image" ng-show="!isUndefined(cells[c+','+r+','+z].tile.changeFloorTo) && cells[c+','+r+','+z].tile.changeFloorTo != z">
	                <img ng-src="/images/start.png" class="tile-image" ng-show="startTile.x == c && startTile.y == r && startTile.z == z">
	                <img ng-src="/images/ramp_top.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.rampTop">
	                <img ng-src="/images/ramp_bottom.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.rampBottom">
	                <img ng-src="/images/heated_top.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.top == 'Heated'">
	                <img ng-src="/images/heated_right.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.right == 'Heated'">
	                <img ng-src="/images/heated_bottom.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.bottom == 'Heated'">
	                <img ng-src="/images/heated_left.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.left == 'Heated'">
	                <img ng-src="/images/h_top.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.top == 'H'">
	                <img ng-src="/images/h_right.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.right == 'H'">
	                <img ng-src="/images/h_bottom.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.bottom == 'H'">
	                <img ng-src="/images/h_left.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.left == 'H'">
	                <img ng-src="/images/s_top.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.top == 'S'">
	                <img ng-src="/images/s_right.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.right == 'S'">
	                <img ng-src="/images/s_bottom.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.bottom == 'S'">
	                <img ng-src="/images/s_left.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.left == 'S'">
	                <img ng-src="/images/u_top.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.top == 'U'">
	                <img ng-src="/images/u_right.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.right == 'U'">
	                <img ng-src="/images/u_bottom.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.bottom == 'U'">
	                <img ng-src="/images/u_left.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.left == 'U'">

                  <i class="fa fa-check fa-fw tile-image tile-font" ng-show="tileStatus(c,r,z,$odd && $parent.$odd) == 'done'" style="padding-top:4px; color:#27ae60; opacity:0.9;"></i>
                  <i class="fa fa-play fa-fw fa-rotate-270 tile-image tile-font" ng-show="tileStatus(c,r,z,$odd && $parent.$odd) == 'halfdone'" style="padding-top:4px; color:#f4d03f; opacity:0.9;"></i>
                  <i class="fa fa-times fa-fw tile-image tile-font" ng-show="tileStatus(c,r,z,$odd && $parent.$odd) == 'undone'" style="padding-top:4px; color:#e74c3c; opacity:0.9;"></i>
	                <img src="/images/loader2.gif" class="tile-image" ng-show="tileStatus(c,r,z,$odd && $parent.$odd) == 'processing'">
	              </div>
	            </td>
	          </tr>
                </table>
            </div>
        </div>


        <div class="row" style="margin:50 0 0 0;">
            <div class="col-sm-12">

                <p>
                  <button class="btn btn-primary" style="margin:0 10px 10px 0;" type="button" ng-click="toggleTime()"><i class="fa fa-clock-o" aria-hidden="true"> {{ startedTime ? 'maze.judge.tim_stop' : 'maze.judge.tim_start' |translate }}</i></button>
                </p>
            </div>
            <div class="col-md-12 confirmation">
                <div ng-show="!retired">
                    <strong>{{'maze.judge.adjust'| translate}}</strong><br>
                    <label><input type="tel" min="0" max="8" ng-model="minutes">{{'common.min' | translate}}  </label>
                    <label><input type="tel" min="0" max="60" ng-model="seconds">{{'common.sec' | translate}}</label><br>
                </div>

                <strong>
            {{'maze.judge.confirm_text'| translate}}
          </strong>
                <br>
                <div style="text-align:center; margin: 10 10 10 10;">
                    <button class="btn btn-danger" type="button" ng-click="confirm()"><i class="fa fa-arrow-right fa-2x" aria-hidden="true"> {{'line.judge.confirm'| translate}}</i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin:20 0 0 0;">
        <div class="col-md12">
            <button class="btn btn-secondary" style="margin:0 10px 10px 0;" type="button" ng-click="go('/maze/' + competition._id)"><i class="fa fa-undo" aria-hidden="true"> {{'common.back' | translate}}</i></button>
        </div>
    </div>
</div>
