<h1>Rescue Maze map editor</h1>
<p>Press the walls to create a new layout</p>

<div ng-controller="ddController" style="margin-top:50px;">
  <div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary" type="button" ng-click="saveMap()">Save map</button><br>
      <label>Name of design: <input type="text" ng-model="name"></label><br>
      <label>Max height: <input type="number" ng-model="height" ng-change="sliderOptions.ceil = height - 1" min="1"></label><br>
      <label>Max width: <input type="number" ng-model="width" min="1" ></label><br>
      <label>Max length: <input type="number" ng-model="length" min="1" ></label><br>
      <div class="error" ng-show="startNotSet()">No start tile is defined!</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <rzslider rz-slider-model="z" rz-slider-options="sliderOptions" ng-show="height > 1"></rzslider>
    </div>
    <div class="col-md-10">
      <table>
      <tr ng-repeat="r in range(2*length + 1)">
	<td ng-repeat="c in range(2*width + 1)" ng-class="{'wallspot': $odd != $parent.$odd, 'tile': $odd && $parent.$odd, 'wall': cells[c+','+r+','+z].isWall, 'checkpoint': cells[c+','+r+','+z].tile.checkpoint, 'black': cells[c+','+r+','+z].tile.black, 'linear': cells[c+','+r+','+z].isLinear}"
	    ng-click="cellClick(c, r, z, $odd != $parent.$odd, $odd && $parent.$odd)">
	  <div class="tile-image-container" ng-show="cells[c+','+r+','+z].isTile">
	    <img ng-src="/images/log.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.speedbump">
	    <img ng-src="/images/elevator.png" class="tile-image" ng-show="!isUndefined(cells[c+','+r+','+z].tile.changeFloorTo) && cells[c+','+r+','+z].tile.changeFloorTo != z">
	    <img ng-src="/images/start.png" class="tile-image" ng-show="startTile.x == c && startTile.y == r && startTile.z == z">
	    <img ng-src="/images/ramp_top.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.rampTop">
	    <img ng-src="/images/ramp_bottom.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.rampBottom">
	    <img ng-src="/images/victim_top.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.top == 'Heated'">
	    <img ng-src="/images/victim_right.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.right == 'Heated'">
	    <img ng-src="/images/victim_bottom.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.bottom == 'Heated'">
	    <img ng-src="/images/victim_left.png" class="tile-image" ng-show="cells[c+','+r+','+z].tile.victims.left == 'Heated'">
	  </div>
	</td>
      </tr>
      </table>
    </div>
  </div>
</div>


