//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'TeamAdmin'

append scripts
  script.
    var competitionId = "#{id}"
  script(src='/javascripts/run_bulk.js')

block location
    a.breadcrumb-item(href='/home') Home
    a.breadcrumb-item(href='/admin') Admin
    a.breadcrumb-item(ng-href='/admin/{{competitionId}}') {{competition.name}}
    a.breadcrumb-item(ng-href='/admin/{{competitionId}}/runs') Runs
    span.breadcrumb-item.active Bulk Registration


block content
  .row
    .col-md-1
    .col-md-10
      h1 {{competition.name}} - Run Bulk Registration
      br
      br
      h3 STEP1 テンプレートファイルをダウンロード
      p 下のリンクから，テンプレートファイルをダウンロードします．
      a(href="/tmp/run_bulk.csv") Download!
      br
      br
      h3 STEP2 ファイルを編集
      p Excel等のcsv形式を編集可能なソフトウェアで開き，情報を埋めます.
      | Roundには，次から１つ選んで入力します．
      table
        thead
            tr
              th Round
        tbody
            tr(ng-repeat='round in rounds')
              td(ng-bind='round.name')
      hr
      p Team nameには，次から１つ選んで入力します．
      table
        thead
            tr
              th Team name
        tbody
            tr(ng-repeat='team in teams')
              td(ng-bind='team.name')
      hr
      p Map nameには，次から１つ選んで入力します．
      table
        thead
            tr
              th Map name
        tbody
            tr(ng-repeat='map in maps')
              td(ng-bind='map.name')
      hr
      p Field nameには，次から１つ選んで入力します．
      table
        thead
            tr
              th Field name
        tbody
            tr(ng-repeat='field in fields')
              td(ng-bind='field.name')
      hr
      p 保存は，Shift-JISで，コンマ区切りで行なってください．
      | 各入力項目の最後を，スペースで終わると，登録の際にエラーになります．
      br
      br
      h3 STEP3 ファイルをアップロード
      input#select(type="file" name="select")
      p ファイル選択後，下に表示される内容を確認してください．
      #result ここに表が表示されます．
      br
      br
      center(ng-if="processing")
        img(src="/images/loader2.gif")
        p {{now}} / {{total}} 登録処理中...
      center(ng-if="completed" style="color:#2ecc71;")
        i.fa.fa-check-circle-o.fa-5x(aria-hidden="true")
        p {{total}}件 登録完了しました
      br
      br
      button(ng-click="addRun()" class='btn btn-primary') 処理実行
      
      