//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'RunAdmin'

append scripts
  script.
    var competitionId = "#{id}"
  script(src='/javascripts/run_admin.js')

block location
    a.breadcrumb-item(href='/home') Home
    a.breadcrumb-item(href='/admin') Admin
    a.breadcrumb-item(ng-href='/admin/{{competitionId}}') {{competition.name}}
    span.breadcrumb-item.active Runs

block content
  .row
    .col-md-1
    .col-md-10
      h1 {{competition.name}} - Runs
      table
        thead
            tr
              th Round
              th Team Name
              th Map Name
              th Field Name
              th Action
        tbody
            tr
              td
                select(ng-model='run.round' ng-options='round as round.name for round in rounds')
              td
                select(ng-model='run.team' ng-options='team as team.name for team in teams')
              td
                select(ng-model='run.map' ng-options='map as map.name for map in maps')
              td
                select(ng-model='run.field' ng-options='field as field.name for field in fields')
              td
                button(ng-click='addRun()') Add Run
      a(ng-href='/admin/{{competitionId}}/runs/bulk') Bulk Regstration
      br
      br
      a(ng-href='/admin/{{competitionId}}/runs/monitor') Runs Monitor
      center
          .loader
            img(src="/images/loader2.gif")
            p Now Loading...
      table(class="comp")
        thead
            tr
              th Round
              th Team
              th Field
              th Score
              th Time
              th Status
              th
              th
              th
              th
              th Operation
        tbody
            tr(ng-repeat='run in runs' runs-read-finished='')
              td(ng-bind='run.round.name' ng-style="{'background-color':run.status==5?'#bdafdb':''}" )
              td(ng-bind='run.team.name' ng-style="{'background-color':run.status==5?'#bdafdb':''}")
              td(ng-bind='run.field.name' ng-style="{'background-color':run.status==5?'#bdafdb':''}")
              td(ng-bind='run.score' ng-style="{'background-color':run.status==5?'#bdafdb':''}")
              td(ng-bind="run.time.minutes*60*1000+run.time.seconds*1000 | date:'mm:ss'" ng-style="{'background-color':run.status==5?'#bdafdb':''}")
              td(ng-style="{'background-color':run.status==4?'#ffadad':''}")
                span(ng-if="run.status==0") 0.Before run
                span(ng-if="run.status==1") 1.Display judge page
                span(ng-if="run.status==2") 2.Timer start
                span(ng-if="run.status==3") 3.Record checking
                span(ng-if="run.status==4") 4.Finished
                span(ng-if="run.status==5") 5.Approved
              td(ng-style="{'background-color':run.status==5?'#bdafdb':''}")
                button(ng-click="go('/line/view/' + run._id)" class='btn btn-info') View
              td(ng-style="{'background-color':run.status==5?'#bdafdb':''}")
                button(ng-click="go_sign(run._id)" class='btn btn-warning') Sign
              td(ng-style="{'background-color':run.status==5?'#bdafdb':''}")
                button(ng-click="go_judge(run._id)" class='btn btn-danger') Judge
              td(ng-style="{'background-color':run.status==5?'#bdafdb':''}")
                button(ng-click="go_approval(run._id)" class='btn btn-secondary') Approval
              td(ng-style="{'background-color':run.status==5?'#bdafdb':''}")
                a(href="" ng-click='removeRun(run)') Delete

