//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'TeamAdmin'

append scripts
  script.
    var competitionId = "#{id}"
  script(src='/javascripts/team_bulk.js')

block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click="go('/admin')") Admin
    a.breadcrumb-item(ng-click="go('/admin/'+competitionId)") {{competition.name}}
    a.breadcrumb-item(ng-click="go('/admin/'+competitionId+'/teams')") Teams
    span.breadcrumb-item.active Bulk Registration


block content
  .row
    .col-md-1
    .col-md-10
      h1 {{competition.name}} - {{"admin.teamBulk.title" | translate}}
      br
      br
      h3 {{"admin.teamBulk.s1T" | translate}}
      p {{"admin.teamBulk.s1D" | translate}}
      a(href="/tmp/team_bulk.csv") Download!
      br
      br
      h3 {{"admin.teamBulk.s2T" | translate}}
      p {{"admin.teamBulk.s2D1" | translate}}
      p {{"admin.teamBulk.s2D2" | translate}}{{leagues}}
      br
      br
      h3 {{"admin.teamBulk.s3T" | translate}}
      input#select(type="file" name="select")
      p {{"admin.teamBulk.s3D" | translate}}
      #result 
      br
      br
      center(ng-if="processing")
        img(src="/images/loader2.gif")
        p {{now}} / {{total}} {{"admin.teamBulk.inpro" | translate}}
      center(ng-if="completed" style="color:#2ecc71;")
        i.fa.fa-check-circle-o.fa-5x(aria-hidden="true")
        p {{total}} {{"admin.teamBulk.complete" | translate}}
      br
      br
      button(ng-click="addTeam()" class='btn btn-primary') {{"admin.teamBulk.exe" | translate}}
      
      