//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'TeamAdmin'

append scripts
  script.
    var competitionId = "#{id}"
  script(src='/javascripts/team_bulk.js')

block location
    a.breadcrumb-item(href='/home') Home
    a.breadcrumb-item(href='/admin') Admin
    a.breadcrumb-item(ng-href='/admin/{{competitionId}}') {{competition.name}}
    a.breadcrumb-item(ng-href='/admin/{{competitionId}}/teams') Teams
    span.breadcrumb-item.active Bulk Registration


block content
  .row
    .col-md-1
    .col-md-10
      h1 {{competition.name}} - Teams Bulk Registration
      br
      br
      h3 STEP1 Download the template file
      p Download the template file from the link below.
      a(href="/tmp/team_bulk.csv") Download!
      br
      br
      h3 STEP2 Edit the file
      p Open the csv format of Excel etc. with editable software and fill the information.
      | For league, choose one of {{leagues}} and enter.
      | Please save with comma separated by Shift-JIS.
      |　When the end of the team name ends with a space, an error will occur during run registration.
      br
      br
      h3 STEP3 Upload the file
      input#select(type="file" name="select")
      p After selecting the file, please check the contents displayed below.
      #result The table will display here.
      br
      br
      center(ng-if="processing")
        img(src="/images/loader2.gif")
        p {{now}} / {{total}} Registration in progress ...
      center(ng-if="completed" style="color:#2ecc71;")
        i.fa.fa-check-circle-o.fa-5x(aria-hidden="true")
        p {{total}} Registration completed
      br
      br
      button(ng-click="addTeam()" class='btn btn-primary') Execution
      
      