//- -*- tab-width: 2 -*-
extends includes/layout

block vars
  - var ngAppDef = 'InterviewTeam'

append scripts
  script.
    var competitionId = "#{id}"
    var teamId = "#{tid}"
    var judge = "#{judge}"
  script(src='/javascripts/do_interview.js')
  script(src='/components/ng-file-upload/ng-file-upload-all.min.js')
  script(src='/components/lightbox2/dist/js/lightbox.min.js')
  
append css
    link(rel='stylesheet',href='/components/lightbox2/dist/css/lightbox.min.css')
    
block location
    a.breadcrumb-item(ng-click="go('/home')") Home
    a.breadcrumb-item(ng-click='go("/home/"+ competitionId)') {{competition.name}}
    a.breadcrumb-item(ng-click="go('/interview/' + competitionId)") Interview
    span.breadcrumb-item.active {{team.name}}



block content
  .row
    .col-md-1
    .col-md-10
      h1 {{team.name}} - {{"common.interview" | translate}}
      button.btn.btn-secondary(style='margin:0 10px 10px 0;', type='button', ng-click="getParam('return')? go(getParam('return')):go('/interview/' + competitionId)")
        i.fas.fa-undo(aria-hidden='true') {{'common.back' | translate}}
      br
      h2 {{'interview.runs' | translate}}
      #compe
          table(class="custom")
            thead
              tr
                th {{'common.round' | translate}}
                th {{'common.field' | translate}}
                th {{'common.starttime' | translate}}
                th {{'common.score' | translate}}
                th {{'common.time' | translate}}
                th {{'common.lops' | translate}}
                th
            tbody
              tr(ng-repeat='run in lruns | filter: teamId | orderBy:"[startTime,round.name,field.name,team.name]" ')
                td(ng-bind='run.round.name' data-content="{{'common.round' | translate}}")
                td(ng-bind='run.field.name' data-content="{{'common.field' | translate}}")
                td(ng-bind='run.startTime | date:"dd EEE HH:mm"' data-content="{{'common.starttime' | translate}}")
                td {{run.score}}
                td {{("00"+run.time.minutes).slice(-2)}}:{{("00"+run.time.seconds).slice(-2)}}
                td {{run.LoPsNum}}
                td
                  button(ng-click="go('/line/view/' + run._id + '?return=/interview/'+competitionId + '/view/'+teamId)" class='btn btn-info' style="width:45%; margin-right:5px;") {{'common.view' | translate}}
              tr(ng-repeat='run in mruns | filter: teamId | orderBy:"[startTime]" ')
                td(ng-bind='run.round.name' data-content="{{'common.round' | translate}}")
                td(ng-bind='run.field.name' data-content="{{'common.field' | translate}}")
                td(ng-bind='run.startTime | date:"dd EEE HH:mm"' data-content="{{'common.starttime' | translate}}")
                td(ng-bind='run.score' data-content="{{'common.score' | translate}}")
                td {{("00"+run.time.minutes).slice(-2)}}:{{("00"+run.time.seconds).slice(-2)}}
                td {{run.LoPs}}
                td
                  button(ng-click="go('/maze/view/' + run._id + '?return=/interview/'+competitionId + '/do/'+teamId)" class='btn btn-info' style="width:45%; margin-right:5px;") {{'common.view' | translate}}
      br
      
      if judge == 1  
          .row(style="margin-bottom:30px;")
            .col-md-6
              .card
                  h3.card-header
                    i.far.fa-images(aria-hidden='true') {{'interview.me_pic' | translate}}
                  .card-body
                    div
                        a(style="max-width: 100%;height: auto; margin-bottom:20px;" ng-href="/api/teams/pic/{{competitionId}}/{{teamId}}/member{{picMeTime}}" data-lightbox="image")
                            img.img-thumbnail(style="max-width: 100%;height: auto;margin-bottom:20px;" ng-src="/api/teams/pic/{{competitionId}}/{{teamId}}/member{{picMeTime}}")
            .col-md-6
              .card
                  h3.card-header
                    i.far.fa-images(aria-hidden='true') {{'interview.ma_pic' | translate}}
                  .card-body
                    div
                        a(style="max-width: 100%;height: auto; margin-bottom:20px;" ng-href="/api/teams/pic/{{competitionId}}/{{teamId}}/machine{{picMaTime}}" data-lightbox="image")
                            img.img-thumbnail(style="max-width: 100%;height: auto;margin-bottom:20px;" ng-src="/api/teams/pic/{{competitionId}}/{{teamId}}/machine{{picMaTime}}")

          #picture.card()
              h3.card-header
                i.far.fa-images(aria-hidden='true') {{'interview.ad_pic' | translate}}
              .card-body
                .row
                    .col-md-4(ng-repeat='i in range(picN)')
                        a(style="max-width: 100%;height: auto; margin-bottom:20px;" ng-href="/api/teams/pic/{{competitionId}}/{{teamId}}/{{i}}" ng-if="showImg[i]" data-lightbox="image")
                            img.img-thumbnail(style="max-width: 100%;height: auto;margin-bottom:20px;" ng-src="/api/teams/pic/{{competitionId}}/{{teamId}}/{{i}}")
                
                
      br
      


      br
      div(ng-show="doc")
          #document_html
          br
          #attach.card
              h3.card-header
                i.far.fa-file-pdf(aria-hidden='true') {{'interview.attach' | translate}}
              .card-body
                    iframe(ng-src="{{'/components/pdfjs/web/viewer.html?file=/api/teams/pdf/' + competitionId + '/' +teamId+'/doc'}}" style="width:100%; height:600px;" )
          br
          #poster.card
              h3.card-header
                i.far.fa-file-pdf(aria-hidden='true') {{'interview.poster' | translate}}
              .card-body
                    iframe(ng-src="{{'/components/pdfjs/web/viewer.html?file=/api/teams/pdf/' + competitionId + '/' +teamId+'/poster'}}" style="width:100%; height:600px;" )

      br
      br
      if judge == 1
          #sign.card
              h3.card-header
                i.fa.fa-edit(aria-hidden='true') {{'interview.interviewer_field' | translate}}
              .card-body
                p.card-text.text-info {{'interview.field_description' | translate}}
                .form-group
                  textarea.form-control(ng-model='team.comment', rows='8' readonly)
                div
                    h2 {{'interview.sign' | translate}}
                    img(ng-src='{{team.interviewer}}', style='max-width: 100%;height: auto;')
      br
      br



