<div class="modal-header">
  <h3 class="modal-title">Scored items</h3>
</div>
<div class="modal-body">
  <label>Passed (note this is not attempts!):</label>
  <ul>
    <li ng-repeat="pass in mtile.index track by $index">
      <input type="checkbox" ng-model="stiles[pass].scored" id="{{ 'passed-' + $index }}" disabled="disabled"><label class="checkbox" for="{{ 'passed-' + $index }}">Passed {{words[$index]}} time</label>
    </li>
  </ul>
</div>

<div class="modal-footer">
  <button class="btn btn-success btn-lg btn-block" type="button" ng-click="ok()">OK</button>
</div>
