<div class="modal-header">
  <h3 class="modal-title">Score Items</h3>
</div>
<div class="modal-body">
  <ul>
    <li ng-show="tile.scoredItems.dropTiles.length > 0">
      <label>Reach checkpoint (note this is not attempts!):</label>
      <ul>
        <li ng-repeat="dropTile in tile.scoredItems.dropTiles track by $index">
          <input type="checkbox" ng-model="tile.scoredItems.dropTiles[$index]" id="chkp{{$index+1}}"> <label class="checkbox" for="chkp{{$index+1}}">Reach {{$index+1}}</label>
        </li>
      </ul>
    </li>
    <li ng-show="tile.scoredItems.speedbumps.length > 0">
      <label>Speedbumps:</label>
      <ul>
        <li ng-repeat="speedbump in tile.scoredItems.speedbumps track by $index">
          <input type="checkbox" ng-model="tile.scoredItems.speedbumps[$index]" id="bump{{$index+1}}"> <label class="checkbox" for="bump{{$index+1}}">Speedbump {{$index+1}}</label>
          </li>
      </ul>
    </li>
    <li ng-show="tile.scoredItems.gaps.length > 0">
      <label>Gaps:</label>
      <ul>
        <li ng-repeat="gap in tile.scoredItems.gaps track by $index">
          <input type="checkbox" ng-model="tile.scoredItems.gaps[$index]" id="gap{{$index+1}}"> <label class="checkbox" for="gap{{$index+1}}">Gap {{$index+1}}</label>
        </li>
      </ul>
    </li>
    <li ng-show="tile.scoredItems.obstacles.length > 0">
      <label>Obstacles:</label>
      <ul>
        <li ng-repeat="obstacle in tile.scoredItems.obstacles track by $index">
          <input type="checkbox" ng-model="tile.scoredItems.obstacles[$index]" id="obst{{$index+1}}"> <label class="checkbox" for="obst{{$index+1}}">Obstacle {{$index+1}}</label>
        </li>
      </ul>
    </li>
    <li ng-show="tile.scoredItems.intersections.length > 0">
      <label>Intersections:</label>
      <ul>
        <li ng-repeat="intersection in tile.scoredItems.intersections track by $index">
          <input type="checkbox" ng-model="tile.scoredItems.intersections[$index]" id="ints{{$index+1}}"> <label class="checkbox" for="ints{{$index+1}}">Intersection {{$index+1}}</label>
        </li>
      </ul>
  </ul>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-success btn-lg btn-block" ng-click="ok()">OK</button>
</div>
