<div class="modal-header">
    <h3 class="modal-title">Score items</h3>
</div>
<div class="modal-body">
    <ul>
        <li ng-show="cell.tile.checkpoint">
            <input type="checkbox" ng-model="tile.scoredItems.checkpoint" id="hasCheckpoint" disabled="disabled"><label for="hasCheckpoint" class="checkbox">Reach checkpoint</label>
        </li>
        <li ng-show="cell.tile.speedbump">
            <input type="checkbox" ng-model="tile.scoredItems.speedbump" id="hasSpeedbumps" disabled="disabled"><label class="checkbox" for="hasSpeedbumps">Speedbumps</label>
        </li>
        <li ng-show="cell.tile.rampBottom">
            <input type="checkbox" ng-model="tile.scoredItems.rampBottom" id="hasRampBottom" disabled="disabled"><label class="checkbox" for="hasRampBottom">Ramp bottom</label>
        </li>
        <li ng-show="cell.tile.rampTop">
            <input type="checkbox" ng-model="tile.scoredItems.rampTop" id="hasRampTop" disabled="disabled"><label class="checkbox" for="hasRampTop">Ramp top</label>
        </li>

        <li ng-show="hasVictims">
            <label>Flash within 15cm from victim:</label>
            <ul>
                <li ng-repeat="(direction, type) in cell.tile.victims track by $index" ng-show="type != 'None'">
                    <input type="checkbox" ng-model="tile.scoredItems.victims[direction]" id="{{ 'victim-' + $index }}" disabled="disabled"><label class="checkbox" for="{{ 'victim-' + $index }}">Victim {{direction}}</label>
                </li>
            </ul>
        </li>
        <li ng-show="hasVictims">
            <label>Delivered rescue kits:</label>
            <ul>
                <li ng-repeat="(direction, type) in cell.tile.victims" ng-show="type != 'None'">
                    <strong>{{ tile.scoredItems.rescueKits[direction] }} Victim {{direction}}</strong>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-lg btn-block" type="button" ng-click="ok()">OK</button>
</div>
