<div class="modal-header">
  <h3 class="modal-title">Change items</h3>
</div>
<div class="modal-body">
  <ul>
    <li>
      <label>Has speedbumps: <input type="checkbox" ng-model="tile.speedbump"></label>
    </li>
    <li>
      <label>Checkpoint: <input type="checkbox" ng-model="tile.checkpoint"></label>
    </li>
    <li>
      <label>Black: <input type="checkbox" ng-model="tile.black"></label>
    </li>
    <li>
      <label>Top horizontal tile at ramp: <input type="checkbox" ng-model="tile.rampTop"></label>
    </li>
    <li>
      <label>Bottom horizontal tile at ramp: <input type="checkbox" ng-model="tile.rampBottom"></label>
    </li>
    <li ng-show="height > 1">
      <label>Change floor to: </label><br>
      <ul>
	<li ng-repeat="h in range(height)">
	  <label><input type="radio" ng-model="tile.changeFloorTo" ng-value="h"> {{h}}<span ng-show="h == z"> Current floor (no change)</span></label>
	</li>
      </ul>
    </li>
  </ul>

  <label><input type="checkbox" ng-model="start" ng-disabled="start"> Is start</label>

  <h5>Placement of victims:</h5>
  <label><input type="checkbox" ng-model="tile.victim.top" value="top"> Top</label> <br>
  <label><input type="checkbox" ng-model="tile.victim.bottom" value="bottom"> Bottom</label> <br>
  <label><input type="checkbox" ng-model="tile.victim.left" value="left"> Left</label> <br>
  <label><input type="checkbox" ng-model="tile.victim.right" value="right"> Right</label> <br>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
</div>
