<div class="modal-header">
    <h3 class="modal-title">{{"maze.view.m_score" | translate}}</h3>
</div>
<div class="modal-body">
    <ul>
        <li ng-show="cell.tile.checkpoint">
            <input type="checkbox" ng-model="tile.scoredItems.checkpoint" id="hasCheckpoint" disabled="disabled"><label for="hasCheckpoint" class="checkbox">{{"maze.view.m_reach" | translate}}</label>
        </li>
        <li ng-show="cell.tile.speedbump">
            <input type="checkbox" ng-model="tile.scoredItems.speedbump" id="hasSpeedbumps" disabled="disabled"><label class="checkbox" for="hasSpeedbumps">{{"maze.view.m_bump" | translate}}</label>
        </li>
        <li ng-show="cell.tile.rampBottom">
            <input type="checkbox" ng-model="tile.scoredItems.rampBottom" id="hasRampBottom" disabled="disabled"><label class="checkbox" for="hasRampBottom">{{"maze.view.m_rampb" | translate}}</label>
        </li>
        <li ng-show="cell.tile.rampTop">
            <input type="checkbox" ng-model="tile.scoredItems.rampTop" id="hasRampTop" disabled="disabled"><label class="checkbox" for="hasRampTop">{{"maze.view.m_rampt" | translate}}</label>
        </li>

        <li ng-show="hasVictims">
            <i class="fa fa-2x fa-lightbulb-o" aria-hidden="true" style="color:#f8b500;">&nbsp;</i>{{"maze.view.m_flash" | translate}}
            <ul>
                <li ng-repeat="(direction, type) in cell.tile.victims track by $index" ng-show="type != 'None'">
                    <input type="checkbox" ng-model="tile.scoredItems.victims[direction]" id="{{ 'victim-' + $index }}" disabled="disabled"><label class="checkbox" for="{{ 'victim-' + $index }}">
                    <i class="fa fa-2x fa-hand-o-up" aria-hidden="true" ng-if="direction == 'top'">&nbsp;{{direction}}</i>
                    <i class="fa fa-2x fa-hand-o-right" aria-hidden="true" ng-if="direction == 'right'">&nbsp;{{direction}}</i>
                    <i class="fa fa-2x fa-hand-o-left" aria-hidden="true" ng-if="direction == 'left'">&nbsp;{{direction}}</i>
                    <i class="fa fa-2x fa-hand-o-down" aria-hidden="true" ng-if="direction == 'bottom'">&nbsp;{{direction}}</i>
                    </label>
                </li>
            </ul>
        </li>
        <li ng-show="hasVictims">
            <i class="fa fa-2x fa-medkit" aria-hidden="true" style="color:#c53d43;">&nbsp;</i>{{"maze.view.m_kit" | translate}}
            <ul>
                <li ng-repeat="(direction, type) in cell.tile.victims" ng-show="type != 'None'">
                    <i class="fa fa-2x fa-hand-o-up" aria-hidden="true" ng-if="direction == 'top'">&nbsp;{{direction}}</i>
                    <i class="fa fa-2x fa-hand-o-right" aria-hidden="true" ng-if="direction == 'right'">&nbsp;{{direction}}</i>
                    <i class="fa fa-2x fa-hand-o-left" aria-hidden="true" ng-if="direction == 'left'">&nbsp;{{direction}}</i>
                    <i class="fa fa-2x fa-hand-o-down" aria-hidden="true" ng-if="direction == 'bottom'">&nbsp;{{direction}}</i>
                    
                    <strong>&nbsp; x <span style="font-size:40px;">{{ tile.scoredItems.rescueKits[direction] }}</span></strong>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-lg btn-block" type="button" ng-click="ok()">OK</button>
</div>
