<div class="modal-header">
    <h3 class="modal-title">{{"maze.judge.m_score" | translate}}</h3>
</div>
<div class="modal-body">
    <ul>
        <li ng-show="cell.tile.checkpoint">
            <input type="checkbox" ng-model="tile.scoredItems.checkpoint" id="hasCheckpoint"><label for="hasCheckpoint" class="checkbox">{{"maze.judge.m_reach" | translate}}</label>
        </li>
        <li ng-show="cell.tile.speedbump">
            <input type="checkbox" ng-model="tile.scoredItems.speedbump" id="hasSpeedbumps"><label class="checkbox" for="hasSpeedbumps">{{"maze.judge.m_bump" | translate}}</label>
        </li>
        <li ng-show="cell.tile.rampBottom">
            <input type="checkbox" ng-model="tile.scoredItems.rampBottom" id="hasRampBottom"><label class="checkbox" for="hasRampBottom">{{"maze.judge.m_rampb" | translate}}/label>
        </li>
        <li ng-show="cell.tile.rampTop">
            <input type="checkbox" ng-model="tile.scoredItems.rampTop" id="hasRampTop"><label class="checkbox" for="hasRampTop">{{"maze.judge.m_rampt" | translate}}</label>
        </li>

        <li ng-show="hasVictims">
            <i class="fa fa-2x fa-lightbulb-o" aria-hidden="true" style="color:#f8b500;">&nbsp;</i>{{"maze.judge.m_flash" | translate}}
            <ul>
                <li ng-repeat="(direction, type) in cell.tile.victims track by $index" ng-show="type != 'None'">
                    <input type="checkbox" ng-model="tile.scoredItems.victims[direction]" id="{{ 'victim-' + $index }}"><label class="checkbox" for="{{ 'victim-' + $index }}">
                    <i class="fa fa-2x fa-hand-o-up" aria-hidden="true" ng-if="direction == 'top'">&nbsp;{{direction}}</i>
                    <i class="fa fa-2x fa-hand-o-right" aria-hidden="true" ng-if="direction == 'right'">&nbsp;{{direction}}</i>
                    <i class="fa fa-2x fa-hand-o-left" aria-hidden="true" ng-if="direction == 'left'">&nbsp;{{direction}}</i>
                    <i class="fa fa-2x fa-hand-o-down" aria-hidden="true" ng-if="direction == 'bottom'">&nbsp;{{direction}}</i>
                    </label>
                </li>
            </ul>
        </li>
        <li ng-show="hasVictims">
            <i class="fa fa-2x fa-medkit" aria-hidden="true" style="color:#c53d43;">&nbsp;</i>{{"maze.judge.m_kit" | translate}}
            <ul>
                <li ng-repeat="(direction, type) in cell.tile.victims" ng-show="type != 'None'">
                    <div class="input-group" style="width:100%;">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-danger"  ng-click="decKits(direction)">
                                <i class="fa fa-2x fa-minus" aria-hidden="true"></i>
                            </button>
                        </span>
                        <input type="text" name="quant[2]" class="form-control input-number" ng-model="tile.scoredItems.rescueKits[direction] +' '+direction" min="1" max="12" readonly="readonly" style="font-size:25px;">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-success" ng-click="incKits(direction)">
                                <i class="fa fa-2x fa-plus" aria-hidden="true"></i>
                            </button>
                        </span>
                    </div>
                    <br>
                </li>

            </ul>
        </li>
    </ul>
</div>


<div class="modal-footer">
    <button class="btn btn-primary btn-lg btn-block" type="button" ng-click="ok()">OK</button>
</div>
