<div class="modal-header">
  <h3 class="modal-title">{{"admin.mazeMapEditor.item" | translate}}</h3>
</div>
<div class="modal-body">
  <ul>
    <li>
      <input type="checkbox" ng-model="cell.tile.speedbump" id="hasSpeedbumps"><label class="checkbox" for="hasSpeedbumps">{{"admin.mazeMapEditor.bump" | translate}}</label>
    </li>
    <li>
      <input type="checkbox" ng-model="cell.tile.checkpoint" id="isCheckpoint"><label class="checkbox" for="isCheckpoint">{{"admin.mazeMapEditor.cp" | translate}}</label>
    </li>
    <li>
      <input type="checkbox" ng-model="cell.tile.black" id="isBlack"><label class="checkbox" for="isBlack">{{"admin.mazeMapEditor.black" | translate}}</label>
    </li>
    <li>
      <input type="checkbox" ng-model="cell.tile.rampTop" id="isTopHorizontal"><label class="checkbox" for="isTopHorizontal">{{"admin.mazeMapEditor.up" | translate}}</label>
    </li>
    <li>
      <input type="checkbox" ng-model="cell.tile.rampBottom" id="isBottomHorizontal"><label class="checkbox" for="isBottomHorizontal">{{"admin.mazeMapEditor.down" | translate}}</label>
    </li>
    <li ng-show="height > 1">
      <label>{{"admin.mazeMapEditor.changeF" | translate}}</label><br>
      <ul>
	<li ng-repeat="h in range(height)">
	  <input type="radio" ng-model="cell.tile.changeFloorTo" ng-value="h" ng-change="elevatorChanged(cell.tile.changeFloorTo)" id="{{ 'elevator-' + h }}"><label class="radio" for="{{ 'elevator-' + h }}">{{h}}<span ng-show="h == z"> {{"admin.mazeMapEditor.noEle" | translate}}</span></label>
	</li>
      </ul>
    </li>
  </ul>

  <input type="checkbox" ng-model="isStart" ng-disabled="isStart" ng-change="startChanged()" id="isStart"><label class="checkbox" for="isStart">{{"admin.mazeMapEditor.start" | translate}}</label>

  <h5>{{"admin.mazeMapEditor.placement" | translate}}</h5>
  <table>
    <tr>
      <th width="20%">&nbsp;</th>
      <th width="12%"><img src="/images/no_victims.png" alt="None" height="20"></th>
      <th width="12%"><img src="/images/thermometer.png" alt="Heat" height="20"></th>
      <th width="12%">H</th>
      <th width="12%">S</th>
      <th width="12%">U</th>
    </tr>
    <tr>
      <th class="col">{{"admin.mazeMapEditor.top" | translate}}</th>
      <td><input type="radio" ng-model="cell.tile.victims.top" value="None" style="display: block;"></td>
      <td><input type="radio" ng-model="cell.tile.victims.top" value="Heated" style="display: block;"></td>
      <td><input type="radio" ng-model="cell.tile.victims.top" value="H" style="display: block;"></td>
      <td><input type="radio" ng-model="cell.tile.victims.top" value="S" style="display: block;"></td>
      <td><input type="radio" ng-model="cell.tile.victims.top" value="U" style="display: block;"></td>
    </tr>
    <tr>
      <th class="col">{{"admin.mazeMapEditor.bottom" | translate}}</th>
      <td><input type="radio" ng-model="cell.tile.victims.bottom" value="None" style="display: block;"></td>
      <td><input type="radio" ng-model="cell.tile.victims.bottom" value="Heated" style="display: block;"></td>
      <td><input type="radio" ng-model="cell.tile.victims.bottom" value="H" style="display: block;"></td>
      <td><input type="radio" ng-model="cell.tile.victims.bottom" value="S" style="display: block;"></td>
      <td><input type="radio" ng-model="cell.tile.victims.bottom" value="U" style="display: block;"></td>
    </tr>
    <tr>
      <th class="col">{{"admin.mazeMapEditor.left" | translate}}</th>
      <td><input type="radio" ng-model="cell.tile.victims.left" value="None" style="display: block;"></td>
      <td><input type="radio" ng-model="cell.tile.victims.left" value="Heated" style="display: block;"></td>
      <td><input type="radio" ng-model="cell.tile.victims.left" value="H" style="display: block;"></td>
      <td><input type="radio" ng-model="cell.tile.victims.left" value="S" style="display: block;"></td>
      <td><input type="radio" ng-model="cell.tile.victims.left" value="U" style="display: block;"></td>
    </tr>
    <tr>
      <th class="col">{{"admin.mazeMapEditor.right" | translate}}</th>
      <td><input type="radio" ng-model="cell.tile.victims.right" value="None" style="display: block;"></td>
      <td><input type="radio" ng-model="cell.tile.victims.right" value="Heated" style="display: block;"></td>
      <td><input type="radio" ng-model="cell.tile.victims.right" value="H" style="display: block;"></td>
      <td><input type="radio" ng-model="cell.tile.victims.right" value="S" style="display: block;"></td>
      <td><input type="radio" ng-model="cell.tile.victims.right" value="U" style="display: block;"></td>
    </tr>
  </table>
  
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
</div>
