<img ng-src="/images/tiles/{{tile.tileType.image}}"  class="rot{{tile.rot}} tile-image" ng-class="{'drop-tile': (tile.scoredItems.dropTiles.length > 0)}" ng-show="tile.tileType.image">
<img ng-src="/images/speedbump.png" class="tile-image" ng-show="tile.items.speedbumps>0">
<img ng-src="/images/obstacle.png" class="tile-image" ng-show="tile.items.obstacles>0">
<!--<img ng-src="/images/gap.png" class="tile-image" ng-show="tile.items.gaps>0">
<img ng-src="/images/intersection.png" class="tile-image" ng-show="tile.items.intersections>0">-->

<img src="/images/up.png" class="tile-image" ng-show="tile.levelUp" ng-class="rotateRamp(tile.levelUp)">
<img src="/images/down.png" class="tile-image" ng-show="tile.levelDown" ng-class="rotateRamp(tile.levelDown)">

<!--<img src="/images/done.png" class="tile-image" ng-show="tileStatus(tile) == 'done'">
<img src="/images/halfdone.png" class="tile-image" ng-show="tileStatus(tile) == 'halfdone'">
<img src="/images/undone.png" class="tile-image" ng-show="tileStatus(tile) == 'undone'">-->

