table{
  border-collapse: collapse;
}
td{
border: 1px solid grey;
}
table tr:nth-child(odd) {
  height: 5px;
}
table tr:nth-child(even) {
  height: 40px;
}
tr td:nth-child(odd) {
  width: 5px;
  background-color: #f1f1f1;
}
tr td:nth-child(even) {
  width: 40px;
  background-color: #000000;
}

rzslider{
    width: 200px;
/*    width: 80%;*/
}

.vertical-sliders {
    margin: 0;
}
.vertical-sliders > div {
    height: 250px;
}
rzslider.rz-vertical {
    height: 250px;
}

.confirmation {
    width: 300px;
    border: 1px dashed black;
}
.plusminus{
    box-sizing: content-box;
    width: 2em;
    padding: 0px 15px;
}
.count{
    font-size: 2em;
}
