table {
    border-collapse: collapse;
}

td {
    border: 1px solid grey;
}

table tr:nth-child(odd) {
    height: 5px;
}

table tr:nth-child(even) {
    height: 40px;
}

tr td:nth-child(odd) {
    width: 5px;
}

tr td:nth-child(even) {
    width: 40px;
}

.wall {
    background-color: navy;
}

.wall.linear {
    background-color: black;
}

.tile {
    background-color: LightSeaGreen;
}

.tile.linear {
    background-color: lightblue;
}

.wallspot:hover {
    background-color: darkgrey;
}

.tile.checkpoint {
    background-color: silver;
}

.tile.black {
    background-color: black;
}

.tile-image-container {
    position: relative;
    height: 40px;
    width: 40px;
}

.tile-image {
    width: 40px;
    height: 40px;
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    vertical-align: bottom;
}

.error {
    color: red;
    font-weight: bold;
}

.modal-body td,
.modal-body th {
    text-align: center;
    vertical-align: middle;
}

.modal-body th.col {
    text-align: right;
}

rzslider {
    width: 200px;
    /*    width: 80%;*/
}

.vertical-sliders {
    margin: 0;
}

.vertical-sliders>div {
    height: 250px;
}

rzslider.rz-vertical {
    height: 250px;
}

.confirmation {
    width: 100%;
    border: 1px dashed black;
}

.plusminus {
    box-sizing: content-box;
    width: 2em;
    padding: 0px 15px;
}

.count {
    font-size: 2em;
}
