body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
    cursor: pointer;
}



.button-s {
    font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
	display: inline-block;
	width: 100%;
	height: 54px;
	text-align: center;
	text-decoration: none;
	line-height: px;
	outline: none;
    margin : 10px 10px 0px 0px ;
}
.button-s::before,
.button-s::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.button-s,
.button-s::before,
.button-s::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.button-ss {
    font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
	display: inline-block;
	width: 100%;
	height: 28px;
	text-align: center;
	text-decoration: none;
	line-height: 0px;
	outline: none;
    margin : 0px 5px 0px 0px ;
}
.button-ss::before,
.button-ss::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.button-ss,
.button-ss::before,
.button-ss::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.button-ss2 {
    font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
	display: inline-block;
	width: 100%;
	height: 44px;
	text-align: center;
	text-decoration: none;
	line-height: px;
	outline: none;
    margin : 0px 10px 0px 0px ;
}
.button-ss2::before,
.button-ss2::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.button-ss2,
.button-ss2::before,
.button-ss2::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}


.button-green {
	position: relative;
	background-color: #1abc9c;
	border-radius: 4px;
	color: #fff;
	line-height: 52px;
	-webkit-transition: none;
	transition: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.button-green:hover {
	background-color: #31c8aa;
}
.button-green:active {
	top: 3px;
}

.button-green-s {
	position: relative;
	background-color: #1abc9c;
	border-radius: 4px;
	color: #fff;
	line-height: 24px;
	-webkit-transition: none;
	transition: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.button-green-s:hover {
	background-color: #31c8aa;
}
.button-green-s:active {
	top: 3px;
}

.button-yellow {
	position: relative;
	background-color: #f7d034;
	border-radius: 4px;
	color: #fff;
	line-height: 52px;
	-webkit-transition: none;
	transition: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}
.button-yellow:hover {
	background-color: #ffe270;
}
.button-yellow:active {
	top: 3px;
}

.button-yellow-s {
	position: relative;
	background-color: #f7d034;
	border-radius: 4px;
	color: #fff;
	line-height: 24px;
	-webkit-transition: none;
	transition: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}
.button-yellow-s:hover {
	background-color: #f7d034;
}
.button-yellow-s:active {
	top: 3px;
}


.button-red {
	position: relative;
	background-color: #fd4314;
	border-radius: 4px;
	color: #fff;
	line-height: 52px;
	-webkit-transition: none;
	transition: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}
.button-red:hover {
	background-color: #fd4314;
}
.button-red:active {
	top: 3px;
}
.button-red-s {
	position: relative;
	background-color: #fd4314;
	border-radius: 4px;
	color: #fff;
	line-height: 24px;
	-webkit-transition: none;
	transition: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}
.button-red-s:hover {
	background-color: #fd4313;
}
.button-red-s:active {
	top: 3px;
}

.button-bb {
	background-color: #fff;
	border: 2px solid #333;
	color: #333;
	line-height: 50px;
}
.button-bb[disabled] {
	background-color: #aaa;
	border: 2px solid #333;
	color: #333;
	line-height: 50px;
}
.button-bb:hover {
	border-style: dashed;
}


table {
    width: auto;
    border: 1px solid #B0C4DE;
    border-collapse: collapse;
    border-spacing: 0;
}
th {
    color: #fff;
    padding: 5px;
    border-bottom: 1px solid #B0C4DE;
	border-left: 1px solid #B0C4DE;
    background: #4682B4;
    font-weight: bold;
    line-height: 120%;
    text-align: center;
}
td {
    padding: 5px;
    border-bottom: 1px solid #B0C4DE;
	border-left: 1px solid #B0C4DE;
}
tr:nth-child(2n+1) {
    background: #F0FFFF;
}

input[type=radio], input[type=checkbox] {
  display: none;
}

.radio, .checkbox {
  box-sizing: border-box;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: relative;
  display: inline-block;
  margin: 0 20px 8px 0;
  padding: 12px 12px 12px 42px;
  border-radius: 8px;
  background-color: #f6f7f8;
  vertical-align: middle;
  cursor: pointer;
}
.radio:hover, .checkbox:hover {
  background-color: #e2edd7;
}
.radio:hover:after, .checkbox:hover:after {
  border-color: #53b300;
}
.radio:after, .checkbox:after {
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
  position: absolute;
  top: 50%;
  left: 15px;
  display: block;
  margin-top: -10px;
  width: 16px;
  height: 16px;
  border: 2px solid #bbb;
  border-radius: 6px;
  content: '';
}

.radio:before {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 50%;
  left: 20px;
  display: block;
  margin-top: -7px;
  margin-left: -2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #53b300;
  content: '';
  opacity: 0;
}
input[type=radio]:checked + .radio:before {
  opacity: 1;
}

.checkbox:before {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 50%;
  left: 21px;
  display: block;
  margin-top: -7px;
  width: 5px;
  height: 9px;
  border-right: 3px solid #53b300;
  border-bottom: 3px solid #53b300;
  content: '';
  opacity: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type=checkbox]:checked + .checkbox:before {
  opacity: 1;
}

.scrool::-webkit-scrollbar
{
        overflow:hidden;
        width:5px;
        background:#fafafa;
         
        -webkit-border-radius:3px;
        border-radius:3px;
}
        #scrollbar03::-webkit-scrollbar:horizontal
        {
                height:5px;
        }
.scrool::-webkit-scrollbar-button
{
       display:none;
}
.scrool::-webkit-scrollbar-piece
{
        background:#eee;
}
        #scrollbar03::-webkit-scrollbar-piece:start
        {
                background:#eee;
        }
.scrool::-webkit-scrollbar-thumb
{
        overflow:hidden;
        -webkit-border-radius:3px;
        border-radius:3px;
         
        background:#333;
}
.scrool::-webkit-scrollbar-corner
{
        overflow:hidden;
        -webkit-border-radius:3px;
        border-radius:3px;
         
        background:#333;
}